<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evolution ID</key>
	<integer>383</integer>
	<key>evolved species ID</key>
	<integer>791</integer>
	<key>in version</key>
	<string>Pokémon Moon</string>
	<key>minimum level</key>
	<integer>53</integer>
	<key>original species ID</key>
	<integer>789</integer>
	<key>trigger</key>
	<string>level up</string>
</dict>
</plist>
