<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evolution ID</key>
	<integer>374</integer>
	<key>evolved species ID</key>
	<integer>475</integer>
	<key>location</key>
	<string>Vast Poni Canyon</string>
	<key>original species ID</key>
	<integer>298</integer>
	<key>trigger</key>
	<string>level up</string>
</dict>
</plist>
