<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evolution ID</key>
	<integer>185</integer>
	<key>evolved species ID</key>
	<integer>367</integer>
	<key>held item</key>
	<string>a Deep Sea Scale</string>
	<key>original species ID</key>
	<integer>365</integer>
	<key>trigger</key>
	<string>trade</string>
</dict>
</plist>
