<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>75%</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user scatters a big cloud of sleep-inducing dust around the target.</string>
	<key>id</key>
	<integer>79</integer>
	<key>move</key>
	<string>Sleep Powder</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Grass</string>
	<key>z-effect</key>
	<string>Speed ↑</string>
</dict>
</plist>
