<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>Z-Power brings out the true capabilities of the user, Snorlax. The Pokémon moves its enormous body energetically and attacks the target with full force.</string>
	<key>id</key>
	<integer>683</integer>
	<key>move</key>
	<string>Pulverizing Pancake</string>
	<key>power</key>
	<integer>210</integer>
	<key>pp</key>
	<integer>1</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Normal</string>
	<key>z-effect</key>
	<string>~Giga Impact</string>
</dict>
</plist>
