<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>If the target has already taken some damage in the same turn, this attack’s power is doubled.</string>
	<key>id</key>
	<integer>372</integer>
	<key>move</key>
	<string>Assurance</string>
	<key>power</key>
	<integer>60</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Dark</string>
	<key>z-effect</key>
	<string>120 Power</string>
</dict>
</plist>
