<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>1</integer>
	<key>description</key>
	<string>The user handles a sharp leaf like a sword and attacks by cutting its target. Critical hits land more easily.</string>
	<key>id</key>
	<integer>348</integer>
	<key>move</key>
	<string>Leaf Blade</string>
	<key>power</key>
	<integer>90</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Grass</string>
	<key>z-effect</key>
	<string>175 Power</string>
</dict>
</plist>
