<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>85%</string>
	<key>category</key>
	<string>Special</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The target is attacked with an intense blast of all-consuming fire. This may also leave the target with a burn.</string>
	<key>id</key>
	<integer>126</integer>
	<key>move</key>
	<string>Fire Blast</string>
	<key>power</key>
	<integer>110</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fire</string>
	<key>z-effect</key>
	<string>185 Power</string>
</dict>
</plist>
