<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user employs its psychic power to exchange Abilities with the target.</string>
	<key>id</key>
	<integer>285</integer>
	<key>move</key>
	<string>Skill Swap</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Psychic</string>
	<key>z-effect</key>
	<string>Speed ↑</string>
</dict>
</plist>
