<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>#N/A</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user binds the target with full force with threads of silk that the user spits using its Z-Power. The power varies, depending on the original move.</string>
	<key>id</key>
	<integer>628</integer>
	<key>move</key>
	<string>Savage Spin-Out</string>
	<key>power</key>
	<string>—</string>
	<key>pp</key>
	<integer>1</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Bug</string>
	<key>z-effect</key>
	<string>~Type: Bug</string>
</dict>
</plist>
