<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user summons a heavy rain that falls for five turns, powering up Water-type moves. It lowers the power of Fire-type moves.</string>
	<key>id</key>
	<integer>240</integer>
	<key>move</key>
	<string>Rain Dance</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Water</string>
	<key>z-effect</key>
	<string>Speed ↑</string>
</dict>
</plist>
