<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>95%</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The opposing Pokémon are bound with silk blown from the user’s mouth that harshly lowers the Speed stat.</string>
	<key>id</key>
	<integer>81</integer>
	<key>move</key>
	<string>String Shot</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>40</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Bug</string>
	<key>z-effect</key>
	<string>Speed ↑</string>
</dict>
</plist>
