<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The power of this attack move is doubled if the user has been hurt by the target in the same turn.</string>
	<key>id</key>
	<integer>419</integer>
	<key>move</key>
	<string>Avalanche</string>
	<key>power</key>
	<integer>60</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>-4</integer>
	<key>type</key>
	<string>Ice</string>
	<key>z-effect</key>
	<string>120 Power</string>
</dict>
</plist>
