<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>If the user faints, the user’s grudge fully depletes the PP of the opponent’s move that knocked it out.</string>
	<key>id</key>
	<integer>288</integer>
	<key>move</key>
	<string>Grudge</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ghost</string>
	<key>z-effect</key>
	<string>Becomes center of attention</string>
</dict>
</plist>
