<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Special</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user hits the target with the force of nature. It halves the target’s HP.</string>
	<key>id</key>
	<integer>699</integer>
	<key>move</key>
	<string>Nature’s Madness</string>
	<key>power</key>
	<string>—</string>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fairy</string>
	<key>z-effect</key>
	<string>100 Power</string>
</dict>
</plist>
