<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>A strong wind blows away the target’s barriers such as Reflect or Light Screen. This also lowers the target’s evasiveness.</string>
	<key>id</key>
	<integer>432</integer>
	<key>move</key>
	<string>Defog</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Flying</string>
	<key>z-effect</key>
	<string>Accuracy ↑</string>
</dict>
</plist>
