<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>An energy-draining punch. The user’s HP is restored by half the damage taken by the target.</string>
	<key>id</key>
	<integer>409</integer>
	<key>move</key>
	<string>Drain Punch</string>
	<key>power</key>
	<integer>75</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fighting</string>
	<key>z-effect</key>
	<string>140 Power</string>
</dict>
</plist>
