<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user whips up a turbulent whirlwind that ups the Speed stat of the user and its allies for four turns.</string>
	<key>id</key>
	<integer>366</integer>
	<key>move</key>
	<string>Tailwind</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Flying</string>
	<key>z-effect</key>
	<string>Boosts critical-hit ratio</string>
</dict>
</plist>
