<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Special</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>After obtaining Z-Power, the user, Mew, attacks the target with full force. The terrain will be charged with psychic energy.</string>
	<key>id</key>
	<integer>685</integer>
	<key>move</key>
	<string>Genesis Supernova</string>
	<key>power</key>
	<integer>185</integer>
	<key>pp</key>
	<integer>1</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Psychic</string>
	<key>z-effect</key>
	<string>~Psychic</string>
</dict>
</plist>
