<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>Sand is hurled in the target’s face, reducing the target’s accuracy.</string>
	<key>id</key>
	<integer>28</integer>
	<key>move</key>
	<string>Sand Attack</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ground</string>
	<key>z-effect</key>
	<string>Evasiveness ↑</string>
</dict>
</plist>
