<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user boasts its strength and attacks the target. The more the user’s stats are raised, the greater the move’s power.</string>
	<key>id</key>
	<integer>663</integer>
	<key>move</key>
	<string>Power Trip</string>
	<key>power</key>
	<integer>20</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Dark</string>
	<key>z-effect</key>
	<string>160 Power</string>
</dict>
</plist>
