<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Special</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user blasts the target with a gust of repulsive wind. This may also raise all the user’s stats at once.</string>
	<key>id</key>
	<integer>466</integer>
	<key>move</key>
	<string>Ominous Wind</string>
	<key>power</key>
	<integer>60</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ghost</string>
	<key>z-effect</key>
	<string>120 Power</string>
</dict>
</plist>
