<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user lands and rests its body. It restores the user’s HP by up to half of its max HP.</string>
	<key>id</key>
	<integer>355</integer>
	<key>move</key>
	<string>Roost</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Flying</string>
	<key>z-effect</key>
	<string>Reset user's stats</string>
</dict>
</plist>
