<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>1</integer>
	<key>description</key>
	<string>The target is attacked with a slash of claws or blades. Critical hits land more easily.</string>
	<key>id</key>
	<integer>163</integer>
	<key>move</key>
	<string>Slash</string>
	<key>power</key>
	<integer>70</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Normal</string>
	<key>z-effect</key>
	<string>140 Power</string>
</dict>
</plist>
