<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>90%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>Large boulders are hurled at the opposing Pokémon to inflict damage. This may also make the opposing Pokémon flinch.</string>
	<key>id</key>
	<integer>157</integer>
	<key>move</key>
	<string>Rock Slide</string>
	<key>power</key>
	<integer>75</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Rock</string>
	<key>z-effect</key>
	<string>140 Power</string>
</dict>
</plist>
