<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>This move reduces damage from physical and special moves for five turns. This can be used only in a hailstorm.</string>
	<key>id</key>
	<integer>676</integer>
	<key>move</key>
	<string>Aurora Veil</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ice</string>
	<key>z-effect</key>
	<string>Speed ↑</string>
</dict>
</plist>
