<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user lays a trap of spikes at the opposing team’s feet. The trap hurts Pokémon that switch into battle.</string>
	<key>id</key>
	<integer>191</integer>
	<key>move</key>
	<string>Spikes</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ground</string>
	<key>z-effect</key>
	<string>Defense ↑</string>
</dict>
</plist>
