<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user crushes its target by rolling over the target with its rolled-up body. This may also make the target flinch.</string>
	<key>id</key>
	<integer>537</integer>
	<key>move</key>
	<string>Steamroller</string>
	<key>power</key>
	<integer>65</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Bug</string>
	<key>z-effect</key>
	<string>120 Power</string>
</dict>
</plist>
