<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>A physical attack in which the user charges and slams into the target with its whole body.</string>
	<key>id</key>
	<integer>33</integer>
	<key>move</key>
	<string>Tackle</string>
	<key>power</key>
	<integer>40</integer>
	<key>pp</key>
	<integer>35</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Normal</string>
	<key>z-effect</key>
	<string>100 Power</string>
</dict>
</plist>
