<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user first heats up its beak, and then it attacks the target. Making direct contact with the Pokémon while it’s heating up its beak results in a burn.</string>
	<key>id</key>
	<integer>672</integer>
	<key>move</key>
	<string>Beak Blast</string>
	<key>power</key>
	<integer>100</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>-3</integer>
	<key>type</key>
	<string>Flying</string>
	<key>z-effect</key>
	<string>180 Power</string>
</dict>
</plist>
