<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user restores its own HP. The amount of HP regained varies with the weather.</string>
	<key>id</key>
	<integer>235</integer>
	<key>move</key>
	<string>Synthesis</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Grass</string>
	<key>z-effect</key>
	<string>Reset user's stats</string>
</dict>
</plist>
