<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>95%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user dives down onto the target from the sky. This move is Fighting and Flying type simultaneously.</string>
	<key>id</key>
	<integer>560</integer>
	<key>move</key>
	<string>Flying Press</string>
	<key>power</key>
	<integer>100</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fighting</string>
	<key>z-effect</key>
	<string>170 Power</string>
</dict>
</plist>
