<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>85%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>Using its tough and impressive horn, the user rams into the target with no letup.</string>
	<key>id</key>
	<integer>224</integer>
	<key>move</key>
	<string>Megahorn</string>
	<key>power</key>
	<integer>120</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Bug</string>
	<key>z-effect</key>
	<string>190 Power</string>
</dict>
</plist>
