<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>80%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user grabs the target and recklessly dives for the ground. This also damages the user a little.</string>
	<key>id</key>
	<integer>66</integer>
	<key>move</key>
	<string>Submission</string>
	<key>power</key>
	<integer>80</integer>
	<key>pp</key>
	<integer>25</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fighting</string>
	<key>z-effect</key>
	<string>160 Power</string>
</dict>
</plist>
