<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>95%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user bites with flame-cloaked fangs. This may also make the target flinch or leave it with a burn.</string>
	<key>id</key>
	<integer>424</integer>
	<key>move</key>
	<string>Fire Fang</string>
	<key>power</key>
	<integer>65</integer>
	<key>pp</key>
	<integer>15</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fire</string>
	<key>z-effect</key>
	<string>120 Power</string>
</dict>
</plist>
