<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user raises the Sp. Def stat of an ally Pokémon by using a mysterious aroma.</string>
	<key>id</key>
	<integer>597</integer>
	<key>move</key>
	<string>Aromatic Mist</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fairy</string>
	<key>z-effect</key>
	<string>Special Defense ↑↑</string>
</dict>
</plist>
