<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>A wondrous wall of light is put up to reduce damage from physical attacks for five turns.</string>
	<key>id</key>
	<integer>115</integer>
	<key>move</key>
	<string>Reflect</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>20</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Psychic</string>
	<key>z-effect</key>
	<string>Defense ↑</string>
</dict>
</plist>
