<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user sets off an earthquake that strikes every Pokémon around it.</string>
	<key>id</key>
	<integer>89</integer>
	<key>move</key>
	<string>Earthquake</string>
	<key>power</key>
	<integer>100</integer>
	<key>pp</key>
	<integer>10</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Ground</string>
	<key>z-effect</key>
	<string>180 Power</string>
</dict>
</plist>
