<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>#N/A</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user breathes a stream of intense fire toward the target with the full force of its Z-Power. The power varies depending on the original move.</string>
	<key>id</key>
	<integer>631</integer>
	<key>move</key>
	<string>Inferno Overdrive</string>
	<key>power</key>
	<string>—</string>
	<key>pp</key>
	<integer>1</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Fire</string>
	<key>z-effect</key>
	<string>~Type: Fire</string>
</dict>
</plist>
