<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user applies pressure to stress points, sharply boosting one of its or its allies’ stats.</string>
	<key>id</key>
	<integer>367</integer>
	<key>move</key>
	<string>Acupressure</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>30</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Normal</string>
	<key>z-effect</key>
	<string>Boosts critical-hit ratio</string>
</dict>
</plist>
