<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>—</string>
	<key>category</key>
	<string>Status</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>Enables a Dark-type target to be hit by Psychic-type attacks. This also enables an evasive target to be hit.</string>
	<key>id</key>
	<integer>357</integer>
	<key>move</key>
	<string>Miracle Eye</string>
	<key>power</key>
	<integer>0</integer>
	<key>pp</key>
	<integer>40</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Psychic</string>
	<key>z-effect</key>
	<string>Special Attack ↑</string>
</dict>
</plist>
