<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>95%</string>
	<key>category</key>
	<string>Physical</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The user whips up a storm of diamonds to damage opposing Pokémon. This may also sharply raise the user’s Defense stat.</string>
	<key>id</key>
	<integer>591</integer>
	<key>move</key>
	<string>Diamond Storm</string>
	<key>power</key>
	<integer>100</integer>
	<key>pp</key>
	<integer>5</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Rock</string>
	<key>z-effect</key>
	<string>180 Power</string>
</dict>
</plist>
