<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accuracy</key>
	<string>100%</string>
	<key>category</key>
	<string>Special</string>
	<key>crit</key>
	<integer>0</integer>
	<key>description</key>
	<string>The target is hit by a weak telekinetic force. This may also confuse the target.</string>
	<key>id</key>
	<integer>93</integer>
	<key>move</key>
	<string>Confusion</string>
	<key>power</key>
	<integer>50</integer>
	<key>pp</key>
	<integer>25</integer>
	<key>priority</key>
	<integer>0</integer>
	<key>type</key>
	<string>Psychic</string>
	<key>z-effect</key>
	<string>100 Power</string>
</dict>
</plist>
