<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adaptability</key>
	<string>Powers up moves of the same type as the Pokémon.</string>
	<key>Aerilate</key>
	<string>Normal-type moves become Flying-type moves. The power of those moves is boosted a little.</string>
	<key>Aftermath</key>
	<string>Damages the attacker if it contacts the Pokémon with a finishing hit.</string>
	<key>Air Lock</key>
	<string>Eliminates the effects of weather.</string>
	<key>Analytic</key>
	<string>Boosts move power when the Pokémon moves last.</string>
	<key>Anger Point</key>
	<string>The Pokémon is angered when it takes a critical hit, and that maxes its Attack stat.</string>
	<key>Anticipation</key>
	<string>The Pokémon can sense an opposing Pokémon&apos;s dangerous moves.</string>
	<key>Arena Trap</key>
	<string>Prevents opposing Pokémon from fleeing.</string>
	<key>Aroma Veil</key>
	<string>Protects itself and its allies from attacks that limit their move choices.</string>
	<key>Aura Break</key>
	<string>The effects of &quot;Aura&quot; Abilities are reversed to lower the power of affected moves.</string>
	<key>Bad Dreams</key>
	<string>Reduces the HP of sleeping opposing Pokémon.</string>
	<key>Battery</key>
	<string>Powers up ally Pokémon&apos;s special moves.</string>
	<key>Battle Armor</key>
	<string>Hard armor protects the Pokémon from critical hits.</string>
	<key>Battle Bond</key>
	<string>Defeating an opposing Pokémon strengthens the Pokémon&apos;s bond with its Trainer, and it becomes Ash-Greninja. Water Shuriken gets more powerful.</string>
	<key>Beast Boost</key>
	<string>The Pokémon boosts its most proficient stat each time it knocks out a Pokémon.</string>
	<key>Berserk</key>
	<string>Boosts the Pokémon&apos;s Sp. Atk stat when it takes a hit that causes its HP to become half or less.</string>
	<key>Big Pecks</key>
	<string>Protects the Pokémon from Defense-lowering effects.</string>
	<key>Blaze</key>
	<string>Powers up Fire-type moves when the Pokémon&apos;s HP is low.</string>
	<key>Bulletproof</key>
	<string>Protects the Pokémon from some ball and bomb moves.</string>
	<key>Cheek Pouch</key>
	<string>Restores HP as well when the Pokémon eats a Berry.</string>
	<key>Chlorophyll</key>
	<string>Boosts the Pokémon&apos;s Speed stat in sunshine.</string>
	<key>Clear Body</key>
	<string>Prevents other Pokémon&apos;s moves or Abilities from lowering the Pokémon&apos;s stats.</string>
	<key>Cloud Nine</key>
	<string>Eliminates the effects of weather.</string>
	<key>Color Change</key>
	<string>The Pokémon&apos;s type becomes the type of the move used on it.</string>
	<key>Comatose</key>
	<string>It&apos;s always drowsing and will never wake up. It can attack without waking up.</string>
	<key>Competitive</key>
	<string>Boosts the Sp. Atk stat sharply when a stat is lowered.</string>
	<key>Compound Eyes</key>
	<string>The Pokémon&apos;s compound eyes boost its accuracy.</string>
	<key>Contrary</key>
	<string>Makes stat changes have an opposite effect.</string>
	<key>Corrosion</key>
	<string>The Pokémon can poison the target even if it&apos;s a Steel or Poison type.</string>
	<key>Cursed Body</key>
	<string>May disable a move used on the Pokémon.</string>
	<key>Cute Charm</key>
	<string>Contact with the Pokémon may cause infatuation.</string>
	<key>Damp</key>
	<string>Prevents the use of explosive moves such as Self-Destruct by dampening its surroundings.</string>
	<key>Dancer</key>
	<string>When another Pokémon uses a dance move, it can use a dance move following it regardless of its Speed.</string>
	<key>Dark Aura</key>
	<string>Powers up each Pokémon&apos;s Dark-type moves.</string>
	<key>Dazzling</key>
	<string>Surprises the opposing Pokémon, making it unable to attack using priority moves.</string>
	<key>Defeatist</key>
	<string>Halves the Pokémon&apos;s Attack and Sp. Atk stats when its HP becomes half or less.</string>
	<key>Defiant</key>
	<string>Boosts the Pokémon&apos;s Attack stat sharply when its stats are lowered.</string>
	<key>Delta Stream</key>
	<string>The Pokémon changes the weather to eliminate all of the Flying type&apos;s weaknesses.</string>
	<key>Desolate Land</key>
	<string>The Pokémon changes the weather to nullify Water-type attacks.</string>
	<key>Disguise</key>
	<string>Once per battle, the shroud that covers the Pokémon can protect it from an attack.</string>
	<key>Download</key>
	<string>Compares an opposing Pokémon&apos;s Defense and Sp. Def stats before raising its own Attack or Sp. Atk stat—whichever will be more effective.</string>
	<key>Drizzle</key>
	<string>The Pokémon makes it rain when it enters a battle.</string>
	<key>Drought</key>
	<string>Turns the sunlight harsh when the Pokémon enters a battle.</string>
	<key>Dry Skin</key>
	<string>Restores HP in rain or when hit by Water-type moves. Reduces HP in sunshine, and increases the damage received from Fire-type moves.</string>
	<key>Early Bird</key>
	<string>The Pokémon awakens twice as fast as other Pokémon from sleep.</string>
	<key>Effect Spore</key>
	<string>Contact with the Pokémon may inflict poison, sleep, or paralysis on its attacker.</string>
	<key>Electric Surge</key>
	<string>Turns the ground into Electric Terrain when the Pokémon enters a battle.</string>
	<key>Emergency Exit</key>
	<string>The Pokémon, sensing danger, switches out when its HP becomes half or less.</string>
	<key>Fairy Aura</key>
	<string>Powers up each Pokémon&apos;s Fairy-type moves.</string>
	<key>Filter</key>
	<string>Reduces the power of supereffective attacks taken.</string>
	<key>Flame Body</key>
	<string>Contact with the Pokémon may burn the attacker.</string>
	<key>Flare Boost</key>
	<string>Powers up special attacks when the Pokémon is burned.</string>
	<key>Flash Fire</key>
	<string>Powers up the Pokémon&apos;s Fire-type moves if it&apos;s hit by one.</string>
	<key>Flower Gift</key>
	<string>Boosts the Attack and Sp. Def stats of itself and allies when it is sunny.</string>
	<key>Flower Veil</key>
	<string>Ally Grass-type Pokémon are protected from status conditions and the lowering of their stats.</string>
	<key>Fluffy</key>
	<string>Halves the damage taken from moves that make direct contact, but doubles that of Fire-type moves.</string>
	<key>Forecast</key>
	<string>The Pokémon transforms with the weather to change its type to Water, Fire, or Ice.</string>
	<key>Forewarn</key>
	<string>When it enters a battle, the Pokémon can tell one of the moves an opposing Pokémon has.</string>
	<key>Friend Guard</key>
	<string>Reduces damage done to allies.</string>
	<key>Frisk</key>
	<string>When it enters a battle, the Pokémon can check an opposing Pokémon&apos;s held item.</string>
	<key>Full Metal Body</key>
	<string>Prevents other Pokémon&apos;s moves or Abilities from lowering the Pokémon&apos;s stats.</string>
	<key>Fur Coat</key>
	<string>Halves the damage from physical moves.</string>
	<key>Gale Wings</key>
	<string>Gives priority to Flying-type moves when the Pokémon&apos;s HP is full.</string>
	<key>Galvanize</key>
	<string>Normal-type moves become Electric-type moves. The power of those moves is boosted a little.</string>
	<key>Gluttony</key>
	<string>Makes the Pokémon eat a held Berry when its HP drops to half or less, which is sooner than usual.</string>
	<key>Gooey</key>
	<string>Contact with the Pokémon lowers the attacker&apos;s Speed stat.</string>
	<key>Grass Pelt</key>
	<string>Boosts the Pokémon&apos;s Defense stat in Grassy Terrain.</string>
	<key>Grassy Surge</key>
	<string>Turns the ground into Grassy Terrain when the Pokémon enters a battle.</string>
	<key>Guts</key>
	<string>It&apos;s so gutsy that having a status condition boosts the Pokémon&apos;s Attack stat.</string>
	<key>Harvest</key>
	<string>May create another Berry after one is used.</string>
	<key>Healer</key>
	<string>Sometimes heals an ally&apos;s status condition.</string>
	<key>Heatproof</key>
	<string>The heatproof body of the Pokémon halves the damage from Fire-type moves that hit it.</string>
	<key>Heavy Metal</key>
	<string>Doubles the Pokémon&apos;s weight.</string>
	<key>Honey Gather</key>
	<string>The Pokémon may gather Honey after a battle.</string>
	<key>Huge Power</key>
	<string>Doubles the Pokémon&apos;s Attack stat.</string>
	<key>Hustle</key>
	<string>Boosts the Attack stat, but lowers accuracy.</string>
	<key>Hydration</key>
	<string>Heals status conditions if it&apos;s raining.</string>
	<key>Hyper Cutter</key>
	<string>The Pokémon&apos;s proud of its powerful pincers. They prevent other Pokémon from lowering its Attack stat.</string>
	<key>Ice Body</key>
	<string>The Pokémon gradually regains HP in a hailstorm.</string>
	<key>Illuminate</key>
	<string>Raises the likelihood of meeting wild Pokémon by illuminating the surroundings.</string>
	<key>Illusion</key>
	<string>Comes out disguised as the Pokémon in the party&apos;s last spot.</string>
	<key>Immunity</key>
	<string>The immune system of the Pokémon prevents it from getting poisoned.</string>
	<key>Imposter</key>
	<string>The Pokémon transforms itself into the Pokémon it&apos;s facing.</string>
	<key>Infiltrator</key>
	<string>Passes through the opposing Pokémon&apos;s barrier, substitute, and the like and strikes.</string>
	<key>Innards Out</key>
	<string>Damages the attacker landing the finishing hit by the amount equal to its last HP.</string>
	<key>Inner Focus</key>
	<string>The Pokémon&apos;s intensely focused, and that protects the Pokémon from flinching.</string>
	<key>Insomnia</key>
	<string>The Pokémon is suffering from insomnia and cannot fall asleep.</string>
	<key>Intimidate</key>
	<string>The Pokémon intimidates opposing Pokémon upon entering battle, lowering their Attack stat.</string>
	<key>Iron Barbs</key>
	<string>Inflicts damage to the attacker on contact with iron barbs.</string>
	<key>Iron Fist</key>
	<string>Powers up punching moves.</string>
	<key>Justified</key>
	<string>Being hit by a Dark-type move boosts the Attack stat of the Pokémon, for justice.</string>
	<key>Keen Eye</key>
	<string>Keen eyes prevent other Pokémon from lowering this Pokémon&apos;s accuracy.</string>
	<key>Klutz</key>
	<string>The Pokémon can&apos;t use any held items.</string>
	<key>Leaf Guard</key>
	<string>Prevents status conditions in sunny weather.</string>
	<key>Levitate</key>
	<string>By floating in the air, the Pokémon receives full immunity to all Ground-type moves.</string>
	<key>Light Metal</key>
	<string>Halves the Pokémon&apos;s weight.</string>
	<key>Lightning Rod</key>
	<string>The Pokémon draws in all Electric-type moves. Instead of being hit by Electric-type moves, it boosts its Sp. Atk.</string>
	<key>Limber</key>
	<string>Its limber body protects the Pokémon from paralysis.</string>
	<key>Liquid Ooze</key>
	<string>Oozed liquid has strong stench, which damages attackers using any draining move.</string>
	<key>Liquid Voice</key>
	<string>All sound-based moves become Water-type moves.</string>
	<key>Long Reach</key>
	<string>The Pokémon uses its moves without making contact with the target.</string>
	<key>Magic Bounce</key>
	<string>Reflects status moves, instead of getting hit by them.</string>
	<key>Magic Guard</key>
	<string>The Pokémon only takes damage from attacks.</string>
	<key>Magician</key>
	<string>The Pokémon steals the held item of a Pokémon it hits with a move.</string>
	<key>Magma Armor</key>
	<string>The Pokémon is covered with hot magma, which prevents the Pokémon from becoming frozen.</string>
	<key>Magnet Pull</key>
	<string>Prevents Steel-type Pokémon from escaping using its magnetic force.</string>
	<key>Marvel Scale</key>
	<string>The Pokémon&apos;s marvelous scales boost the Defense stat if it has a status condition.</string>
	<key>Mega Launcher</key>
	<string>Powers up aura and pulse moves.</string>
	<key>Merciless</key>
	<string>The Pokémon&apos;s attacks become critical hits if the target is poisoned.</string>
	<key>Minus</key>
	<string>Boosts the Sp. Atk stat of the Pokémon if an ally with the Plus or Minus Ability is also in battle.</string>
	<key>Misty Surge</key>
	<string>Turns the ground into Misty Terrain when the Pokémon enters a battle.</string>
	<key>Mold Breaker</key>
	<string>Moves can be used on the target regardless of its Abilities.</string>
	<key>Moody</key>
	<string>Raises one stat sharply and lowers another every turn.</string>
	<key>Motor Drive</key>
	<string>Boosts its Speed stat if hit by an Electric-type move, instead of taking damage.</string>
	<key>Moxie</key>
	<string>The Pokémon shows moxie, and that boosts the Attack stat after knocking out any Pokémon.</string>
	<key>Multiscale</key>
	<string>Reduces the amount of damage the Pokémon takes when its HP is full.</string>
	<key>Multitype</key>
	<string>Changes the Pokémon&apos;s type to match the Plate or Z-Crystal it holds.</string>
	<key>Mummy</key>
	<string>Contact with the Pokémon changes the attacker&apos;s Ability to Mummy.</string>
	<key>Natural Cure</key>
	<string>All status conditions heal when the Pokémon switches out.</string>
	<key>No Guard</key>
	<string>The Pokémon employs no-guard tactics to ensure incoming and outgoing attacks always land.</string>
	<key>Normalize</key>
	<string>All the Pokémon&apos;s moves become Normal type. The power of those moves is boosted a little.</string>
	<key>Oblivious</key>
	<string>The Pokémon is oblivious, and that keeps it from being infatuated or falling for taunts.</string>
	<key>Overcoat</key>
	<string>Protects the Pokémon from things like sand, hail, and powder.</string>
	<key>Overgrow</key>
	<string>Powers up Grass-type moves when the Pokémon&apos;s HP is low.</string>
	<key>Own Tempo</key>
	<string>This Pokémon has its own tempo, and that prevents it from becoming confused.</string>
	<key>Parental Bond</key>
	<string>Parent and child each attacks.</string>
	<key>Pickpocket</key>
	<string>Steals an item from an attacker that made direct contact.</string>
	<key>Pickup</key>
	<string>The Pokémon may pick up the item an opposing Pokémon used during a battle. It may pick up items outside of battle, too.</string>
	<key>Pixilate</key>
	<string>Normal-type moves become Fairy-type moves. The power of those moves is boosted a little.</string>
	<key>Plus</key>
	<string>Boosts the Sp. Atk stat of the Pokémon if an ally with the Plus or Minus Ability is also in battle.</string>
	<key>Poison Heal</key>
	<string>Restores HP if the Pokémon is poisoned, instead of losing HP.</string>
	<key>Poison Point</key>
	<string>Contact with the Pokémon may poison the attacker.</string>
	<key>Poison Touch</key>
	<string>May poison a target when the Pokémon makes contact.</string>
	<key>Power Construct</key>
	<string>Other Cells gather to aid when its HP becomes half or less. Then the Pokémon changes its form to Complete Forme.</string>
	<key>Power of Alchemy</key>
	<string>The Pokémon copies the Ability of a defeated ally.</string>
	<key>Prankster</key>
	<string>Gives priority to a status move.</string>
	<key>Pressure</key>
	<string>By putting pressure on the opposing Pokémon, it raises their PP usage.</string>
	<key>Primordial Sea</key>
	<string>The Pokémon changes the weather to nullify Fire-type attacks.</string>
	<key>Prism Armor</key>
	<string>Reduces the power of supereffective attacks taken.</string>
	<key>Protean</key>
	<string>Changes the Pokémon&apos;s type to the type of the move it&apos;s about to use.</string>
	<key>Psychic Surge</key>
	<string>Turns the ground into Psychic Terrain when the Pokémon enters a battle.</string>
	<key>Pure Power</key>
	<string>Using its pure power, the Pokémon doubles its Attack stat.</string>
	<key>Queenly Majesty</key>
	<string>Its majesty pressures the opposing Pokémon, making it unable to attack using priority moves.</string>
	<key>Quick Feet</key>
	<string>Boosts the Speed stat if the Pokémon has a status condition.</string>
	<key>RKS System</key>
	<string>Changes the Pokémon&apos;s type to match the memory disc it holds.</string>
	<key>Rain Dish</key>
	<string>The Pokémon gradually regains HP in rain.</string>
	<key>Rattled</key>
	<string>Dark-, Ghost-, and Bug-type moves scare the Pokémon and boost its Speed stat.</string>
	<key>Receiver</key>
	<string>The Pokémon copies the Ability of a defeated ally.</string>
	<key>Reckless</key>
	<string>Powers up moves that have recoil damage.</string>
	<key>Refrigerate</key>
	<string>Normal-type moves become Ice-type moves. The power of those moves is boosted a little.</string>
	<key>Regenerator</key>
	<string>Restores a little HP when withdrawn from battle.</string>
	<key>Rivalry</key>
	<string>Becomes competitive and deals more damage to Pokémon of the same gender, but deals less to Pokémon of the opposite gender.</string>
	<key>Rock Head</key>
	<string>Protects the Pokémon from recoil damage.</string>
	<key>Rough Skin</key>
	<string>This Pokémon inflicts damage with its rough skin to the attacker on contact.</string>
	<key>Run Away</key>
	<string>Enables a sure getaway from wild Pokémon.</string>
	<key>Sand Force</key>
	<string>Boosts the power of Rock-, Ground-, and Steel-type moves in a sandstorm.</string>
	<key>Sand Rush</key>
	<string>Boosts the Pokémon&apos;s Speed stat in a sandstorm.</string>
	<key>Sand Stream</key>
	<string>The Pokémon summons a sandstorm when it enters a battle.</string>
	<key>Sand Veil</key>
	<string>Boosts the Pokémon&apos;s evasion in a sandstorm.</string>
	<key>Sap Sipper</key>
	<string>Boosts the Attack stat if hit by a Grass-type move, instead of taking damage.</string>
	<key>Schooling</key>
	<string>When it has a lot of HP, the Pokémon forms a powerful school. It stops schooling when its HP is low.</string>
	<key>Scrappy</key>
	<string>The Pokémon can hit Ghost-type Pokémon with Normal- and Fighting-type moves.</string>
	<key>Serene Grace</key>
	<string>Boosts the likelihood of additional effects occurring when attacking.</string>
	<key>Shadow Shield</key>
	<string>Reduces the amount of damage the Pokémon takes while its HP is full.</string>
	<key>Shadow Tag</key>
	<string>This Pokémon steps on the opposing Pokémon&apos;s shadow to prevent it from escaping.</string>
	<key>Shed Skin</key>
	<string>The Pokémon may heal its own status conditions by shedding its skin.</string>
	<key>Sheer Force</key>
	<string>Removes additional effects to increase the power of moves when attacking.</string>
	<key>Shell Armor</key>
	<string>A hard shell protects the Pokémon from critical hits.</string>
	<key>Shield Dust</key>
	<string>This Pokémon&apos;s dust blocks the additional effects of attacks taken.</string>
	<key>Shields Down</key>
	<string>When its HP becomes half or less, the Pokémon&apos;s shell breaks and it becomes aggressive.</string>
	<key>Simple</key>
	<string>The stat changes the Pokémon receives are doubled.</string>
	<key>Skill Link</key>
	<string>Maximizes the number of times multi-strike moves hit.</string>
	<key>Slow Start</key>
	<string>For five turns, the Pokémon&apos;s Attack and Speed stats are halved.</string>
	<key>Slush Rush</key>
	<string>Boosts the Pokémon&apos;s Speed stat in a hailstorm.</string>
	<key>Sniper</key>
	<string>Powers up moves if they become critical hits when attacking.</string>
	<key>Snow Cloak</key>
	<string>Boosts evasion in a hailstorm.</string>
	<key>Snow Warning</key>
	<string>The Pokémon summons a hailstorm when it enters a battle.</string>
	<key>Solar Power</key>
	<string>Boosts the Sp. Atk stat in sunny weather, but HP decreases every turn.</string>
	<key>Solid Rock</key>
	<string>Reduces the power of supereffective attacks taken.</string>
	<key>Soul-Heart</key>
	<string>Boosts its Sp. Atk stat every time a Pokémon faints.</string>
	<key>Soundproof</key>
	<string>Soundproofing of the Pokémon itself gives full immunity to all sound-based moves.</string>
	<key>Speed Boost</key>
	<string>Its Speed stat is boosted every turn.</string>
	<key>Stakeout</key>
	<string>Doubles the damage dealt to the target&apos;s replacement if the target switches out.</string>
	<key>Stall</key>
	<string>The Pokémon moves after all other Pokémon do.</string>
	<key>Stamina</key>
	<string>Boosts the Defense stat when hit by an attack.</string>
	<key>Stance Change</key>
	<string>The Pokémon changes its form to Blade Forme when it uses an attack move, and changes to Shield Forme when it uses King&apos;s Shield.</string>
	<key>Static</key>
	<string>The Pokémon is charged with static electricity, so contact with it may cause paralysis.</string>
	<key>Steadfast</key>
	<string>The Pokémon&apos;s determination boosts the Speed stat each time the Pokémon flinches.</string>
	<key>Steelworker</key>
	<string>Powers up Steel-type moves.</string>
	<key>Stench</key>
	<string>By releasing stench when attacking, this Pokémon may cause the target to flinch.</string>
	<key>Sticky Hold</key>
	<string>Items held by the Pokémon are stuck fast and cannot be removed by other Pokémon.</string>
	<key>Storm Drain</key>
	<string>Draws in all Water-type moves. Instead of being hit by Water-type moves, it boosts its Sp. Atk.</string>
	<key>Strong Jaw</key>
	<string>The Pokémon&apos;s strong jaw boosts the power of its biting moves.</string>
	<key>Sturdy</key>
	<string>It cannot be knocked out with one hit. One-hit KO moves cannot knock it out, either.</string>
	<key>Suction Cups</key>
	<string>This Pokémon uses suction cups to stay in one spot to negate all moves and items that force switching out.</string>
	<key>Super Luck</key>
	<string>The Pokémon is so lucky that the critical-hit ratios of its moves are boosted.</string>
	<key>Surge Surfer</key>
	<string>Doubles the Pokémon&apos;s Speed stat on Electric Terrain.</string>
	<key>Swarm</key>
	<string>Powers up Bug-type moves when the Pokémon&apos;s HP is low.</string>
	<key>Sweet Veil</key>
	<string>Prevents itself and ally Pokémon from falling asleep.</string>
	<key>Swift Swim</key>
	<string>Boosts the Pokémon&apos;s Speed stat in rain.</string>
	<key>Symbiosis</key>
	<string>The Pokémon passes its item to an ally that has used up an item.</string>
	<key>Synchronize</key>
	<string>The attacker will receive the same status condition if it inflicts a burn, poison, or paralysis to the Pokémon.</string>
	<key>Tangled Feet</key>
	<string>Raises evasion if the Pokémon is confused.</string>
	<key>Tangling Hair</key>
	<string>Contact with the Pokémon lowers the attacker&apos;s Speed stat.</string>
	<key>Technician</key>
	<string>Powers up the Pokémon&apos;s weaker moves.</string>
	<key>Telepathy</key>
	<string>Anticipates an ally&apos;s attack and dodges it.</string>
	<key>Teravolt</key>
	<string>Moves can be used on the target regardless of its Abilities.</string>
	<key>Thick Fat</key>
	<string>The Pokémon is protected by a layer of thick fat, which halves the damage taken from Fire- and Ice-type moves.</string>
	<key>Tinted Lens</key>
	<string>The Pokémon can use &quot;not very effective&quot; moves to deal regular damage.</string>
	<key>Torrent</key>
	<string>Powers up Water-type moves when the Pokémon&apos;s HP is low.</string>
	<key>Tough Claws</key>
	<string>Powers up moves that make direct contact.</string>
	<key>Toxic Boost</key>
	<string>Powers up physical attacks when the Pokémon is poisoned.</string>
	<key>Trace</key>
	<string>When it enters a battle, the Pokémon copies an opposing Pokémon&apos;s Ability.</string>
	<key>Triage</key>
	<string>Gives priority to a healing move.</string>
	<key>Truant</key>
	<string>The Pokémon can&apos;t use a move the following turn if it uses one.</string>
	<key>Turboblaze</key>
	<string>Moves can be used on the target regardless of its Abilities.</string>
	<key>Unaware</key>
	<string>When attacking, the Pokémon ignores the target Pokémon&apos;s stat changes.</string>
	<key>Unburden</key>
	<string>Boosts the Speed stat if the Pokémon&apos;s held item is used or lost.</string>
	<key>Unnerve</key>
	<string>Unnerves opposing Pokémon and makes them unable to eat Berries.</string>
	<key>Victory Star</key>
	<string>Boosts the accuracy of its allies and itself.</string>
	<key>Vital Spirit</key>
	<string>The Pokémon is full of vitality, and that prevents it from falling asleep.</string>
	<key>Volt Absorb</key>
	<string>Restores HP if hit by an Electric-type move, instead of taking damage.</string>
	<key>Water Absorb</key>
	<string>Restores HP if hit by a Water-type move, instead of taking damage.</string>
	<key>Water Bubble</key>
	<string>Lowers the power of Fire-type moves done to the Pokémon and prevents the Pokémon from getting a burn.</string>
	<key>Water Compaction</key>
	<string>Boosts the Pokémon&apos;s Defense stat sharply when hit by a Water-type move.</string>
	<key>Water Veil</key>
	<string>The Pokémon is covered with a water veil, which prevents the Pokémon from getting a burn.</string>
	<key>Weak Armor</key>
	<string>Physical attacks to the Pokémon lower its Defense stat but sharply raise its Speed stat.</string>
	<key>White Smoke</key>
	<string>The Pokémon is protected by its white smoke, which prevents other Pokémon from lowering its stats.</string>
	<key>Wimp Out</key>
	<string>The Pokémon cowardly switches out when its HP becomes half or less.</string>
	<key>Wonder Guard</key>
	<string>Its mysterious power only lets supereffective moves hit the Pokémon.</string>
	<key>Wonder Skin</key>
	<string>Makes status moves more likely to miss.</string>
	<key>Zen Mode</key>
	<string>Changes the Pokémon&apos;s shape when HP is half or less.</string>
</dict>
</plist>
