<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Moltres</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Wing Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Ember</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L8</string>
			<key>name</key>
			<string>Fire Spin</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L15</string>
			<key>name</key>
			<string>Agility</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L22</string>
			<key>name</key>
			<string>Endure</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L29</string>
			<key>name</key>
			<string>Ancient Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L36</string>
			<key>name</key>
			<string>Flamethrower</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L43</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Air Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L57</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L64</string>
			<key>name</key>
			<string>Heat Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L71</string>
			<key>name</key>
			<string>Solar Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L78</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L85</string>
			<key>name</key>
			<string>Roost</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L92</string>
			<key>name</key>
			<string>Hurricane</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L99</string>
			<key>name</key>
			<string>Burn Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM05</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM15</string>
			<key>name</key>
			<string>Hyper Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM19</string>
			<key>name</key>
			<string>Roost</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM20</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM22</string>
			<key>name</key>
			<string>Solar Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM35</string>
			<key>name</key>
			<string>Flamethrower</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM37</string>
			<key>name</key>
			<string>Sandstorm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM38</string>
			<key>name</key>
			<string>Fire Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM40</string>
			<key>name</key>
			<string>Aerial Ace</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM43</string>
			<key>name</key>
			<string>Flame Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM50</string>
			<key>name</key>
			<string>Overheat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM51</string>
			<key>name</key>
			<string>Steel Wing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM58</string>
			<key>name</key>
			<string>Sky Drop</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM61</string>
			<key>name</key>
			<string>Will-O-Wisp</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM76</string>
			<key>name</key>
			<string>Fly</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM89</string>
			<key>name</key>
			<string>U-turn</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Heat Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Tailwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Air Cutter</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>146</string>
	<key>species</key>
	<string>Moltres</string>
</dict>
</plist>
