<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Smeargle</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L11</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L21</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L31</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L41</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L51</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L61</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L71</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L81</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L91</string>
			<key>name</key>
			<string>Sketch</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>235</string>
	<key>species</key>
	<string>Smeargle</string>
</dict>
</plist>
