<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Manectric</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Electric Terrain</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Fire Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Leer</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Howl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L4</string>
			<key>name</key>
			<string>Leer</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L7</string>
			<key>name</key>
			<string>Howl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L10</string>
			<key>name</key>
			<string>Quick Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L13</string>
			<key>name</key>
			<string>Spark</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L16</string>
			<key>name</key>
			<string>Odor Sleuth</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L19</string>
			<key>name</key>
			<string>Thunder Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L24</string>
			<key>name</key>
			<string>Bite</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L30</string>
			<key>name</key>
			<string>Discharge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L36</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L42</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L48</string>
			<key>name</key>
			<string>Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L54</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L60</string>
			<key>name</key>
			<string>Electric Terrain</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM05</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM15</string>
			<key>name</key>
			<string>Hyper Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM16</string>
			<key>name</key>
			<string>Light Screen</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM35</string>
			<key>name</key>
			<string>Flamethrower</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM50</string>
			<key>name</key>
			<string>Overheat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM57</string>
			<key>name</key>
			<string>Charge Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM72</string>
			<key>name</key>
			<string>Volt Switch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM73</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM93</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM95</string>
			<key>name</key>
			<string>Snarl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Crunch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Headbutt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Curse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Discharge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Ice Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Fire Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Thunder Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Switcheroo</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Electro Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Shock Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Flame Burst</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Eerie Impulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Signal Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Magnet Rise</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Shock Wave</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>310</string>
	<key>species</key>
	<string>Manectric</string>
</dict>
</plist>
