<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Delibird</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Present</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L25</string>
			<key>name</key>
			<string>Drill Peck</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM07</string>
			<key>name</key>
			<string>Hail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM31</string>
			<key>name</key>
			<string>Brick Break</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM40</string>
			<key>name</key>
			<string>Aerial Ace</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM56</string>
			<key>name</key>
			<string>Fling</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM59</string>
			<key>name</key>
			<string>Brutal Swing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM70</string>
			<key>name</key>
			<string>Aurora Veil</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM76</string>
			<key>name</key>
			<string>Fly</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM79</string>
			<key>name</key>
			<string>Frost Breath</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Aurora Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Quick Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Future Sight</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Splash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Rapid Spin</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Ice Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Ice Shard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Ice Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Fake Out</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Bestow</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Freeze-Dry</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Destiny Bond</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Spikes</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Signal Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Seed Bomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Bounce</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Gunk Shot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Ice Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Focus Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Recycle</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>225</string>
	<key>species</key>
	<string>Delibird</string>
</dict>
</plist>
