<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Mantyke</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Bubble</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L3</string>
			<key>name</key>
			<string>Supersonic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L7</string>
			<key>name</key>
			<string>Bubble Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L11</string>
			<key>name</key>
			<string>Confuse Ray</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L14</string>
			<key>name</key>
			<string>Wing Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L16</string>
			<key>name</key>
			<string>Headbutt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L19</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L23</string>
			<key>name</key>
			<string>Wide Guard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L27</string>
			<key>name</key>
			<string>Take Down</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L32</string>
			<key>name</key>
			<string>Agility</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L36</string>
			<key>name</key>
			<string>Air Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L39</string>
			<key>name</key>
			<string>Aqua Ring</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L46</string>
			<key>name</key>
			<string>Bounce</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L49</string>
			<key>name</key>
			<string>Hydro Pump</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM07</string>
			<key>name</key>
			<string>Hail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM26</string>
			<key>name</key>
			<string>Earthquake</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM40</string>
			<key>name</key>
			<string>Aerial Ace</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM55</string>
			<key>name</key>
			<string>Scald</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM62</string>
			<key>name</key>
			<string>Acrobatics</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM78</string>
			<key>name</key>
			<string>Bulldoze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM80</string>
			<key>name</key>
			<string>Rock Slide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM94</string>
			<key>name</key>
			<string>Surf</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM98</string>
			<key>name</key>
			<string>Waterfall</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Twister</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Hydro Pump</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Haze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Slam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Mud Sport</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Mirror Coat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Water Sport</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Splash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Signal Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Wide Guard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Amnesia</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Tailwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Signal Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Bounce</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Helping Hand</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>458</string>
	<key>species</key>
	<string>Mantyke</string>
</dict>
</plist>
