<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Marshadow</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Laser Focus</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Assurance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Fire Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Thunder Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Ice Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Drain Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Counter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Pursuit</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Shadow Sneak</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L5</string>
			<key>name</key>
			<string>Force Palm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L11</string>
			<key>name</key>
			<string>Feint</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L15</string>
			<key>name</key>
			<string>Rolling Kick</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L20</string>
			<key>name</key>
			<string>Copycat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L26</string>
			<key>name</key>
			<string>Shadow Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L30</string>
			<key>name</key>
			<string>Role Play</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L35</string>
			<key>name</key>
			<string>Jump Kick</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L41</string>
			<key>name</key>
			<string>Psych Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L45</string>
			<key>name</key>
			<string>Spectral Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Close Combat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L56</string>
			<key>name</key>
			<string>Sucker Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L60</string>
			<key>name</key>
			<string>Endeavor</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM01</string>
			<key>name</key>
			<string>Work Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM04</string>
			<key>name</key>
			<string>Calm Mind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM08</string>
			<key>name</key>
			<string>Bulk Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM23</string>
			<key>name</key>
			<string>Smack Down</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM30</string>
			<key>name</key>
			<string>Shadow Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM31</string>
			<key>name</key>
			<string>Brick Break</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM39</string>
			<key>name</key>
			<string>Rock Tomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM47</string>
			<key>name</key>
			<string>Low Sweep</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM49</string>
			<key>name</key>
			<string>Echoed Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM52</string>
			<key>name</key>
			<string>Focus Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM54</string>
			<key>name</key>
			<string>False Swipe</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM56</string>
			<key>name</key>
			<string>Fling</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM61</string>
			<key>name</key>
			<string>Will-O-Wisp</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM62</string>
			<key>name</key>
			<string>Acrobatics</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM65</string>
			<key>name</key>
			<string>Shadow Claw</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM71</string>
			<key>name</key>
			<string>Stone Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM77</string>
			<key>name</key>
			<string>Psych Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM80</string>
			<key>name</key>
			<string>Rock Slide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM84</string>
			<key>name</key>
			<string>Poison Jab</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM86</string>
			<key>name</key>
			<string>Grass Knot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>802</string>
	<key>species</key>
	<string>Marshadow</string>
</dict>
</plist>
