<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Golem (Alola Form)</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Heavy Slam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Defense Curl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Rock Polish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L4</string>
			<key>name</key>
			<string>Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L6</string>
			<key>name</key>
			<string>Rock Polish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L10</string>
			<key>name</key>
			<string>Steamroller</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L12</string>
			<key>name</key>
			<string>Spark</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L16</string>
			<key>name</key>
			<string>Rock Throw</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L18</string>
			<key>name</key>
			<string>Smack Down</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L22</string>
			<key>name</key>
			<string>Thunder Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L24</string>
			<key>name</key>
			<string>Self-Destruct</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L30</string>
			<key>name</key>
			<string>Stealth Rock</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L34</string>
			<key>name</key>
			<string>Rock Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L40</string>
			<key>name</key>
			<string>Discharge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L44</string>
			<key>name</key>
			<string>Explosion</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Double-Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L54</string>
			<key>name</key>
			<string>Stone Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L60</string>
			<key>name</key>
			<string>Heavy Slam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM05</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM15</string>
			<key>name</key>
			<string>Hyper Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM23</string>
			<key>name</key>
			<string>Smack Down</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM26</string>
			<key>name</key>
			<string>Earthquake</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM31</string>
			<key>name</key>
			<string>Brick Break</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM35</string>
			<key>name</key>
			<string>Flamethrower</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM37</string>
			<key>name</key>
			<string>Sandstorm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM38</string>
			<key>name</key>
			<string>Fire Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM39</string>
			<key>name</key>
			<string>Rock Tomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM49</string>
			<key>name</key>
			<string>Echoed Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM52</string>
			<key>name</key>
			<string>Focus Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM56</string>
			<key>name</key>
			<string>Fling</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM57</string>
			<key>name</key>
			<string>Charge Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM59</string>
			<key>name</key>
			<string>Brutal Swing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM64</string>
			<key>name</key>
			<string>Explosion</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM69</string>
			<key>name</key>
			<string>Rock Polish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM71</string>
			<key>name</key>
			<string>Stone Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM72</string>
			<key>name</key>
			<string>Volt Switch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM74</string>
			<key>name</key>
			<string>Gyro Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM78</string>
			<key>name</key>
			<string>Bulldoze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM80</string>
			<key>name</key>
			<string>Rock Slide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM93</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM96</string>
			<key>name</key>
			<string>Nature Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Block</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Flail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Magnet Rise</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Rock Climb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Endure</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Autotomize</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Wide Guard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Counter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Curse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Screech</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Rollout</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>76</string>
	<key>species</key>
	<string>Golem</string>
</dict>
</plist>
