<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Tentacool</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Poison Sting</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L4</string>
			<key>name</key>
			<string>Supersonic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L7</string>
			<key>name</key>
			<string>Constrict</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L10</string>
			<key>name</key>
			<string>Acid</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L13</string>
			<key>name</key>
			<string>Toxic Spikes</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L16</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L19</string>
			<key>name</key>
			<string>Wrap</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L22</string>
			<key>name</key>
			<string>Acid Spray</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L25</string>
			<key>name</key>
			<string>Bubble Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L28</string>
			<key>name</key>
			<string>Barrier</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L31</string>
			<key>name</key>
			<string>Poison Jab</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L34</string>
			<key>name</key>
			<string>Brine</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L37</string>
			<key>name</key>
			<string>Screech</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L40</string>
			<key>name</key>
			<string>Hex</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L43</string>
			<key>name</key>
			<string>Sludge Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L46</string>
			<key>name</key>
			<string>Hydro Pump</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L49</string>
			<key>name</key>
			<string>Wring Out</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM07</string>
			<key>name</key>
			<string>Hail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM09</string>
			<key>name</key>
			<string>Venoshock</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM20</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM34</string>
			<key>name</key>
			<string>Sludge Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM36</string>
			<key>name</key>
			<string>Sludge Bomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM55</string>
			<key>name</key>
			<string>Scald</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM75</string>
			<key>name</key>
			<string>Swords Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM83</string>
			<key>name</key>
			<string>Infestation</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM84</string>
			<key>name</key>
			<string>Poison Jab</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM94</string>
			<key>name</key>
			<string>Surf</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM98</string>
			<key>name</key>
			<string>Waterfall</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM99</string>
			<key>name</key>
			<string>Dazzling Gleam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Aurora Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Mirror Coat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Rapid Spin</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Haze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Confuse Ray</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Knock Off</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Acupressure</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Muddy Water</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Bubble</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Aqua Ring</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Tickle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Magic Coat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Bind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Knock Off</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Giga Drain</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>72</string>
	<key>species</key>
	<string>Tentacool</string>
</dict>
</plist>
