<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Kyogre (Primal Reversion)</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Ancient Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L5</string>
			<key>name</key>
			<string>Scary Face</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L15</string>
			<key>name</key>
			<string>Aqua Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L20</string>
			<key>name</key>
			<string>Body Slam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L30</string>
			<key>name</key>
			<string>Aqua Ring</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L35</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L45</string>
			<key>name</key>
			<string>Origin Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Calm Mind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L60</string>
			<key>name</key>
			<string>Muddy Water</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L65</string>
			<key>name</key>
			<string>Sheer Cold</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L75</string>
			<key>name</key>
			<string>Hydro Pump</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L80</string>
			<key>name</key>
			<string>Double-Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L90</string>
			<key>name</key>
			<string>Water Spout</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM04</string>
			<key>name</key>
			<string>Calm Mind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM05</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM07</string>
			<key>name</key>
			<string>Hail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM15</string>
			<key>name</key>
			<string>Hyper Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM20</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM26</string>
			<key>name</key>
			<string>Earthquake</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM31</string>
			<key>name</key>
			<string>Brick Break</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM39</string>
			<key>name</key>
			<string>Rock Tomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM55</string>
			<key>name</key>
			<string>Scald</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM73</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM77</string>
			<key>name</key>
			<string>Psych Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM78</string>
			<key>name</key>
			<string>Bulldoze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM80</string>
			<key>name</key>
			<string>Rock Slide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM94</string>
			<key>name</key>
			<string>Surf</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM98</string>
			<key>name</key>
			<string>Waterfall</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Signal Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Head</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Block</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Aqua Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Shock Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>382</string>
	<key>species</key>
	<string>Kyogre</string>
</dict>
</plist>
