<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Murkrow</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Peck</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Astonish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L5</string>
			<key>name</key>
			<string>Pursuit</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L11</string>
			<key>name</key>
			<string>Haze</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L15</string>
			<key>name</key>
			<string>Wing Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L21</string>
			<key>name</key>
			<string>Night Shade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L25</string>
			<key>name</key>
			<string>Assurance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L31</string>
			<key>name</key>
			<string>Taunt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L35</string>
			<key>name</key>
			<string>Feint Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L41</string>
			<key>name</key>
			<string>Mean Look</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L45</string>
			<key>name</key>
			<string>Foul Play</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Tailwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L55</string>
			<key>name</key>
			<string>Sucker Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L61</string>
			<key>name</key>
			<string>Torment</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L65</string>
			<key>name</key>
			<string>Quash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM04</string>
			<key>name</key>
			<string>Calm Mind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM12</string>
			<key>name</key>
			<string>Taunt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM19</string>
			<key>name</key>
			<string>Roost</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM29</string>
			<key>name</key>
			<string>Psychic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM30</string>
			<key>name</key>
			<string>Shadow Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM40</string>
			<key>name</key>
			<string>Aerial Ace</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM41</string>
			<key>name</key>
			<string>Torment</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM51</string>
			<key>name</key>
			<string>Steel Wing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM60</string>
			<key>name</key>
			<string>Quash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM63</string>
			<key>name</key>
			<string>Embargo</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM73</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM76</string>
			<key>name</key>
			<string>Fly</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM77</string>
			<key>name</key>
			<string>Psych Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM85</string>
			<key>name</key>
			<string>Dream Eater</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM95</string>
			<key>name</key>
			<string>Snarl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM97</string>
			<key>name</key>
			<string>Dark Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Whirlwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Drill Peck</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Mirror Move</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Wing Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Confuse Ray</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Feather Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Perish Song</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Psycho Shift</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Screech</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Feint Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Brave Bird</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Roost</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Assurance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Flatter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Foul Play</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Heat Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Tailwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Air Cutter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Spite</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snatch</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>198</string>
	<key>species</key>
	<string>Murkrow</string>
</dict>
</plist>
