<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Skitty</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Fake Out</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Growl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tail Whip</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L4</string>
			<key>name</key>
			<string>Foresight</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L7</string>
			<key>name</key>
			<string>Sing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L10</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L13</string>
			<key>name</key>
			<string>Disarming Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L16</string>
			<key>name</key>
			<string>Double Slap</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L19</string>
			<key>name</key>
			<string>Copycat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L22</string>
			<key>name</key>
			<string>Feint Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L25</string>
			<key>name</key>
			<string>Charm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L28</string>
			<key>name</key>
			<string>Wake-Up Slap</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L31</string>
			<key>name</key>
			<string>Assist</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L34</string>
			<key>name</key>
			<string>Covet</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L37</string>
			<key>name</key>
			<string>Heal Bell</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L40</string>
			<key>name</key>
			<string>Double-Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L43</string>
			<key>name</key>
			<string>Captivate</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L46</string>
			<key>name</key>
			<string>Play Rough</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM01</string>
			<key>name</key>
			<string>Work Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM04</string>
			<key>name</key>
			<string>Calm Mind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM20</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM22</string>
			<key>name</key>
			<string>Solar Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM30</string>
			<key>name</key>
			<string>Shadow Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM49</string>
			<key>name</key>
			<string>Echoed Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM57</string>
			<key>name</key>
			<string>Charge Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM73</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM77</string>
			<key>name</key>
			<string>Psych Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM85</string>
			<key>name</key>
			<string>Dream Eater</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM86</string>
			<key>name</key>
			<string>Grass Knot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM93</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Helping Hand</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Fake Tears</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Wish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Baton Pass</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Tickle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Last Resort</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Fake Out</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Zen Headbutt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Sucker Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Mud Bomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Simple Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Captivate</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Cosmic Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Covet</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Last Resort</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Zen Headbutt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Hyper Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Heal Bell</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Shock Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Helping Hand</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>300</string>
	<key>species</key>
	<string>Skitty</string>
</dict>
</plist>
