<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Metapod</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Harden</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Bug Bite</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Defense</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Electroweb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>String Shot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Bug Bite</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>11</string>
	<key>species</key>
	<string>Metapod</string>
</dict>
</plist>
