<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Wobbuffet</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Counter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Mirror Coat</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Safe Guard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Destiny Bond</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM20</string>
			<key>name</key>
			<string>Safeguard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Splash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Charm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Prev</string>
			<key>name</key>
			<string>Encore</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>202</string>
	<key>species</key>
	<string>Wobbuffet</string>
</dict>
</plist>
