<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Furret</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Agility</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Coil</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Scratch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Foresight</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Defense Curl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Quick Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L4</string>
			<key>name</key>
			<string>Defense Curl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L7</string>
			<key>name</key>
			<string>Quick Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L13</string>
			<key>name</key>
			<string>Fury Swipes</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L17</string>
			<key>name</key>
			<string>Helping Hand</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L21</string>
			<key>name</key>
			<string>Follow Me</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L28</string>
			<key>name</key>
			<string>Slam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L32</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L36</string>
			<key>name</key>
			<string>Sucker Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L42</string>
			<key>name</key>
			<string>Amnesia</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L46</string>
			<key>name</key>
			<string>Baton Pass</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Me First</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L56</string>
			<key>name</key>
			<string>Hyper Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM01</string>
			<key>name</key>
			<string>Work Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM13</string>
			<key>name</key>
			<string>Ice Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM14</string>
			<key>name</key>
			<string>Blizzard</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM15</string>
			<key>name</key>
			<string>Hyper Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM18</string>
			<key>name</key>
			<string>Rain Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM22</string>
			<key>name</key>
			<string>Solar Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM30</string>
			<key>name</key>
			<string>Shadow Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM31</string>
			<key>name</key>
			<string>Brick Break</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM35</string>
			<key>name</key>
			<string>Flamethrower</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM49</string>
			<key>name</key>
			<string>Echoed Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM52</string>
			<key>name</key>
			<string>Focus Blast</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM56</string>
			<key>name</key>
			<string>Fling</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM57</string>
			<key>name</key>
			<string>Charge Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM59</string>
			<key>name</key>
			<string>Brutal Swing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM65</string>
			<key>name</key>
			<string>Shadow Claw</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM86</string>
			<key>name</key>
			<string>Grass Knot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM89</string>
			<key>name</key>
			<string>U-turn</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM94</string>
			<key>name</key>
			<string>Surf</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Double-Edge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Pursuit</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Focus Energy</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Reversal</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Trick</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Assist</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Last Resort</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Charm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Covet</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Natural Gift</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Iron Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Captivate</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Covet</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Super Fang</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Uproar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Thunder Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Fire Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Ice Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Last Resort</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Aqua Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Hyper Voice</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Tail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Knock Off</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Focus Punch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Shock Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Water Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Helping Hand</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Trick</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>162</string>
	<key>species</key>
	<string>Furret</string>
</dict>
</plist>
