<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Togedemaru</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Tackle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Thunder Shock</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L5</string>
			<key>name</key>
			<string>Defense Curl</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L9</string>
			<key>name</key>
			<string>Rollout</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L13</string>
			<key>name</key>
			<string>Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L17</string>
			<key>name</key>
			<string>Spark</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L21</string>
			<key>name</key>
			<string>Nuzzle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L25</string>
			<key>name</key>
			<string>Magnet Rise</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L29</string>
			<key>name</key>
			<string>Discharge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L33</string>
			<key>name</key>
			<string>Zing Zap</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L37</string>
			<key>name</key>
			<string>Electric Terrain</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L41</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L45</string>
			<key>name</key>
			<string>Pin Missile</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L49</string>
			<key>name</key>
			<string>Spiky Shield</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L53</string>
			<key>name</key>
			<string>Fell Stinger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM01</string>
			<key>name</key>
			<string>Work Up</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM24</string>
			<key>name</key>
			<string>Thunderbolt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM25</string>
			<key>name</key>
			<string>Thunder</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM33</string>
			<key>name</key>
			<string>Reflect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM56</string>
			<key>name</key>
			<string>Fling</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM57</string>
			<key>name</key>
			<string>Charge Beam</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM68</string>
			<key>name</key>
			<string>Giga Impact</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM72</string>
			<key>name</key>
			<string>Volt Switch</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM73</string>
			<key>name</key>
			<string>Thunder Wave</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM74</string>
			<key>name</key>
			<string>Gyro Ball</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM84</string>
			<key>name</key>
			<string>Poison Jab</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM86</string>
			<key>name</key>
			<string>Grass Knot</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM89</string>
			<key>name</key>
			<string>U-turn</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM93</string>
			<key>name</key>
			<string>Wild Charge</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Reversal</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Present</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Encore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Twineedle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Wish</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Fake Out</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Tickle</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Flail</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Disarming Voice</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>777</string>
	<key>species</key>
	<string>Togedemaru</string>
</dict>
</plist>
