<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forme</key>
	<string>Skarmory</string>
	<key>moves</key>
	<array>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Leer</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Start</string>
			<key>name</key>
			<string>Peck</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L6</string>
			<key>name</key>
			<string>Sand Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L9</string>
			<key>name</key>
			<string>Metal Claw</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L12</string>
			<key>name</key>
			<string>Air Cutter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L17</string>
			<key>name</key>
			<string>Fury Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L20</string>
			<key>name</key>
			<string>Feint</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L23</string>
			<key>name</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L28</string>
			<key>name</key>
			<string>Spikes</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L31</string>
			<key>name</key>
			<string>Agility</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L34</string>
			<key>name</key>
			<string>Steel Wing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L39</string>
			<key>name</key>
			<string>Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L42</string>
			<key>name</key>
			<string>Metal Sound</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L45</string>
			<key>name</key>
			<string>Air Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L50</string>
			<key>name</key>
			<string>Autotomize</string>
		</dict>
		<dict>
			<key>method</key>
			<string>L53</string>
			<key>name</key>
			<string>Night Slash</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM05</string>
			<key>name</key>
			<string>Roar</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM06</string>
			<key>name</key>
			<string>Toxic</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM10</string>
			<key>name</key>
			<string>Hidden Power</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM11</string>
			<key>name</key>
			<string>Sunny Day</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM12</string>
			<key>name</key>
			<string>Taunt</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM17</string>
			<key>name</key>
			<string>Protect</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM19</string>
			<key>name</key>
			<string>Roost</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM21</string>
			<key>name</key>
			<string>Frustration</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM27</string>
			<key>name</key>
			<string>Return</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM32</string>
			<key>name</key>
			<string>Double Team</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM37</string>
			<key>name</key>
			<string>Sandstorm</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM39</string>
			<key>name</key>
			<string>Rock Tomb</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM40</string>
			<key>name</key>
			<string>Aerial Ace</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM41</string>
			<key>name</key>
			<string>Torment</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM42</string>
			<key>name</key>
			<string>Facade</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM44</string>
			<key>name</key>
			<string>Rest</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM45</string>
			<key>name</key>
			<string>Attract</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM46</string>
			<key>name</key>
			<string>Thief</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM48</string>
			<key>name</key>
			<string>Round</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM51</string>
			<key>name</key>
			<string>Steel Wing</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM58</string>
			<key>name</key>
			<string>Sky Drop</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM66</string>
			<key>name</key>
			<string>Payback</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM75</string>
			<key>name</key>
			<string>Swords Dance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM76</string>
			<key>name</key>
			<string>Fly</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM80</string>
			<key>name</key>
			<string>Rock Slide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM81</string>
			<key>name</key>
			<string>X-Scissor</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM87</string>
			<key>name</key>
			<string>Swagger</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM88</string>
			<key>name</key>
			<string>Sleep Talk</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM90</string>
			<key>name</key>
			<string>Substitute</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM91</string>
			<key>name</key>
			<string>Flash Cannon</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM97</string>
			<key>name</key>
			<string>Dark Pulse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>TM100</string>
			<key>name</key>
			<string>Confide</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Drill Peck</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Pursuit</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Whirlwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Curse</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Brave Bird</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Assurance</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Guard Swap</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Stealth Rock</string>
		</dict>
		<dict>
			<key>method</key>
			<string>Egg</string>
			<key>name</key>
			<string>Endure</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Head</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Iron Defense</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Icy Wind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Snore</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Tailwind</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Sky Attack</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Air Cutter</string>
		</dict>
		<dict>
			<key>method</key>
			<string>ORAS</string>
			<key>name</key>
			<string>Stealth Rock</string>
		</dict>
	</array>
	<key>ndex</key>
	<string>227</string>
	<key>species</key>
	<string>Skarmory</string>
</dict>
</plist>
