<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeKit-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PokeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PokeKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PokémonKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Super Effective WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Super Effective WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Super Effective.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>546B6E1C1E0E643D000EFB75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>546B7A7C1E0E667F000EFB75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>548BFF2E1DE7FCBF009B4C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>548BFF401DE7FCBF009B4C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549F51661E0BA38300FE27C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549F5DC91E0BAE8900FE27C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
