<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flame Body</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Vital Spirit</string>
	<key>altformIDs</key>
	<array>
		<integer>466</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Blast Pokémon</string>
	<key>defense</key>
	<integer>67</integer>
	<key>dex1</key>
	<string>They dwell in volcanic craters. According to what is known, a single pair of male and female Magmortar lives in one volcano.</string>
	<key>dex2</key>
	<string>From its arm, it launches fireballs hotter than 3,500 degrees Fahrenheit. Its arm starts to melt when it fires a whole barrage.</string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>73</integer>
		<integer>237</integer>
	</array>
	<key>forme</key>
	<string>Magmortar</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>466</integer>
	<key>ndex</key>
	<integer>467</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Magmar</string>
	<key>preEvolution</key>
	<integer>237</integer>
	<key>spattack</key>
	<integer>125</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Magmortar</string>
	<key>speed</key>
	<integer>83</integer>
	<key>total</key>
	<integer>540</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>149.9 lbs.</string>
</dict>
</plist>
