<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Snow Warning</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Soundproof</string>
	<key>altformIDs</key>
	<array>
		<integer>459</integer>
		<integer>913</integer>
	</array>
	<key>attack</key>
	<integer>92</integer>
	<key>class</key>
	<string>Frost Tree Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionTree</key>
	<array>
		<integer>231</integer>
	</array>
	<key>forme</key>
	<string>Abomasnow</string>
	<key>height</key>
	<string>7'03</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>459</integer>
	<key>ndex</key>
	<integer>460</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Snover</string>
	<key>preEvolution</key>
	<integer>231</integer>
	<key>spattack</key>
	<integer>92</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Abomasnow</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>494</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>298.7 lbs.</string>
</dict>
</plist>
