<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string>Hustle</string>
	<key>abilityH</key>
	<string>Truant</string>
	<key>altformIDs</key>
	<array>
		<integer>631</integer>
	</array>
	<key>attack</key>
	<integer>109</integer>
	<key>class</key>
	<string>Iron Ant Pokémon</string>
	<key>defense</key>
	<integer>112</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Durant</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>58</integer>
	<key>id</key>
	<integer>631</integer>
	<key>ndex</key>
	<integer>632</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>48</integer>
	<key>spdefense</key>
	<integer>48</integer>
	<key>species</key>
	<string>Durant</string>
	<key>speed</key>
	<integer>109</integer>
	<key>total</key>
	<integer>484</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>72.8 lbs.</string>
</dict>
</plist>
