<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Damp</string>
	<key>ability2</key>
	<string>Water Absorb</string>
	<key>abilityH</key>
	<string>Unaware</string>
	<key>altformIDs</key>
	<array>
		<integer>193</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Water Fish Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionIDs</key>
	<array>
		<integer>107</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>107</integer>
	</array>
	<key>forme</key>
	<string>Wooper</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>193</integer>
	<key>ndex</key>
	<integer>194</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>25</integer>
	<key>spdefense</key>
	<integer>25</integer>
	<key>species</key>
	<string>Wooper</string>
	<key>speed</key>
	<integer>15</integer>
	<key>total</key>
	<integer>210</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>18.7 lbs.</string>
</dict>
</plist>
