<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sheer Force</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Zen Mode</string>
	<key>altformIDs</key>
	<array>
		<integer>554</integer>
		<integer>941</integer>
	</array>
	<key>attack</key>
	<integer>140</integer>
	<key>class</key>
	<string>Blazing Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>279</integer>
	</array>
	<key>forme</key>
	<string>Darmanitan (Standard Mode)</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>105</integer>
	<key>id</key>
	<integer>554</integer>
	<key>ndex</key>
	<integer>555</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Darumaka</string>
	<key>preEvolution</key>
	<integer>279</integer>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Darmanitan</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>480</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>204.8 lbs.</string>
</dict>
</plist>
