<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Solar Power</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>873</integer>
		<integer>228</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Dark Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Houndoom (Mega Houndoom)</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>873</integer>
	<key>ndex</key>
	<integer>229</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Houndour</string>
	<key>spattack</key>
	<integer>140</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Houndoom</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Fire</string>
	<key>weight</key>
	<string>109.1 lbs.</string>
</dict>
</plist>
