<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Skill Link</string>
	<key>abilityH</key>
	<string>Sheer Force</string>
	<key>altformIDs</key>
	<array>
		<integer>732</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Cannon Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>When it battles, its beak heats up. The temperature can easily exceed 212 degrees Fahrenheit, causing severe burns when it hits.</string>
	<key>dex2</key>
	<string>Within its beak, its internal gas ignites, explosively launching seeds with enough power to pulverize boulders.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>395</integer>
		<integer>396</integer>
	</array>
	<key>forme</key>
	<string>Toucannon</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>732</integer>
	<key>ndex</key>
	<integer>733</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Trumbeak</string>
	<key>preEvolution</key>
	<integer>396</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Toucannon</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>485</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>57.3 lbs.</string>
</dict>
</plist>
