<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overgrow</string>
	<key>ability2</key>
	<string>Overgrow</string>
	<key>abilityH</key>
	<string>Long Reach</string>
	<key>altformIDs</key>
	<array>
		<integer>721</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Grass Quill Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string>This wary Pokémon uses photosynthesis to store up energy during the day, while becoming active at night.</string>
	<key>dex2</key>
	<string>Silently it glides, drawing near its targets. Before they even notice it, it begins to pelt them with vicious kicks.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>389</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>389</integer>
		<integer>390</integer>
	</array>
	<key>forme</key>
	<string>Rowlet</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>68</integer>
	<key>id</key>
	<integer>721</integer>
	<key>ndex</key>
	<integer>722</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Rowlet</string>
	<key>speed</key>
	<integer>42</integer>
	<key>total</key>
	<integer>320</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>3.3 lbs.</string>
</dict>
</plist>
