<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sturdy</string>
	<key>ability2</key>
	<string>Sand Stream</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>525</integer>
	</array>
	<key>attack</key>
	<integer>135</integer>
	<key>class</key>
	<string>Compressed Pokémon</string>
	<key>defense</key>
	<integer>130</integer>
	<key>dex1</key>
	<string>The blasts of energy it makes from sunbeams have terrifying power. However, it’s not able to fire its blasts at night or on rainy days.</string>
	<key>dex2</key>
	<string>Known for its hefty horsepower, this Pokémon is a popular partner for construction workers.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>263</integer>
		<integer>264</integer>
	</array>
	<key>forme</key>
	<string>Gigalith</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>525</integer>
	<key>ndex</key>
	<integer>526</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Boldore</string>
	<key>preEvolution</key>
	<integer>264</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Gigalith</string>
	<key>speed</key>
	<integer>25</integer>
	<key>total</key>
	<integer>515</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>573.2 lbs.</string>
</dict>
</plist>
