<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overgrow</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Bulletproof</string>
	<key>altformIDs</key>
	<array>
		<integer>651</integer>
	</array>
	<key>attack</key>
	<integer>107</integer>
	<key>class</key>
	<string>Spiny Armor Pokémon</string>
	<key>defense</key>
	<integer>122</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>331</integer>
		<integer>333</integer>
	</array>
	<key>forme</key>
	<string>Chesnaught</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>88</integer>
	<key>id</key>
	<integer>651</integer>
	<key>ndex</key>
	<integer>652</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Quilladin</string>
	<key>preEvolution</key>
	<integer>333</integer>
	<key>spattack</key>
	<integer>74</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Chesnaught</string>
	<key>speed</key>
	<integer>64</integer>
	<key>total</key>
	<integer>530</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Fighting</string>
	<key>weight</key>
	<string>198.4 lbs.</string>
</dict>
</plist>
