<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Fur Coat</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>675</integer>
		<integer>993</integer>
		<integer>994</integer>
		<integer>995</integer>
		<integer>996</integer>
		<integer>997</integer>
		<integer>998</integer>
		<integer>999</integer>
		<integer>1000</integer>
		<integer>1001</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Poodle Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Furfrou (Natural Form)</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>675</integer>
	<key>ndex</key>
	<integer>676</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Furfrou</string>
	<key>speed</key>
	<integer>102</integer>
	<key>total</key>
	<integer>472</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>61.7 lbs.</string>
</dict>
</plist>
