<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Hustle</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Inner Focus</string>
	<key>altformIDs</key>
	<array>
		<integer>553</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Zen Charm Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>279</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>279</integer>
	</array>
	<key>forme</key>
	<string>Darumaka</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>553</integer>
	<key>ndex</key>
	<integer>554</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>15</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Darumaka</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>315</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>82.7 lbs.</string>
</dict>
</plist>
