<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Cute Charm</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Pixilate</string>
	<key>altformIDs</key>
	<array>
		<integer>699</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Intertwining Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string>Its ribbonlike feelers give off an aura that weakens hostility in its prey, causing them to let down their guard. Then it attacks.</string>
	<key>dex2</key>
	<string>When this Pokémon sights its prey, it swirls its ribbonlike feelers as a distraction. A moment later, it pounces.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>108</integer>
		<integer>109</integer>
		<integer>370</integer>
		<integer>372</integer>
		<integer>373</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
	</array>
	<key>forme</key>
	<string>Sylveon</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>699</integer>
	<key>ndex</key>
	<integer>700</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Eevee</string>
	<key>preEvolution</key>
	<integer>370</integer>
	<key>spattack</key>
	<integer>110</integer>
	<key>spdefense</key>
	<integer>130</integer>
	<key>species</key>
	<string>Sylveon</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>525</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>51.8 lbs.</string>
</dict>
</plist>
