<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Torrent</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Protean</string>
	<key>altformIDs</key>
	<array>
		<integer>656</integer>
	</array>
	<key>attack</key>
	<integer>63</integer>
	<key>class</key>
	<string>Bubble Frog Pokémon</string>
	<key>defense</key>
	<integer>52</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>335</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>334</integer>
		<integer>335</integer>
	</array>
	<key>forme</key>
	<string>Frogadier</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>54</integer>
	<key>id</key>
	<integer>656</integer>
	<key>ndex</key>
	<integer>657</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Froakie</string>
	<key>preEvolution</key>
	<integer>334</integer>
	<key>spattack</key>
	<integer>83</integer>
	<key>spdefense</key>
	<integer>56</integer>
	<key>species</key>
	<string>Frogadier</string>
	<key>speed</key>
	<integer>97</integer>
	<key>total</key>
	<integer>405</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>24.0 lbs.</string>
</dict>
</plist>
