<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Liquid Ooze</string>
	<key>ability2</key>
	<string>Sticky Hold</string>
	<key>abilityH</key>
	<string>Gluttony</string>
	<key>altformIDs</key>
	<array>
		<integer>315</integer>
	</array>
	<key>attack</key>
	<integer>43</integer>
	<key>class</key>
	<string>Stomach Pokémon</string>
	<key>defense</key>
	<integer>53</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>164</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>164</integer>
	</array>
	<key>forme</key>
	<string>Gulpin</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>315</integer>
	<key>ndex</key>
	<integer>316</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>43</integer>
	<key>spdefense</key>
	<integer>53</integer>
	<key>species</key>
	<string>Gulpin</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>302</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>22.7 lbs.</string>
</dict>
</plist>
