<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Static</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Plus</string>
	<key>altformIDs</key>
	<array>
		<integer>180</integer>
		<integer>842</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Light Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionTree</key>
	<array>
		<integer>97</integer>
		<integer>98</integer>
	</array>
	<key>forme</key>
	<string>Ampharos</string>
	<key>height</key>
	<string>4'07</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>180</integer>
	<key>ndex</key>
	<integer>181</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Flaaffy</string>
	<key>preEvolution</key>
	<integer>98</integer>
	<key>spattack</key>
	<integer>115</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Ampharos</string>
	<key>speed</key>
	<integer>55</integer>
	<key>total</key>
	<integer>510</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>135.6 lbs.</string>
</dict>
</plist>
