<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Mold Breaker</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Sheer Force</string>
	<key>altformIDs</key>
	<array>
		<integer>406</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Bouquet Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionTree</key>
	<array>
		<integer>163</integer>
		<integer>202</integer>
	</array>
	<key>forme</key>
	<string>Roserade</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>406</integer>
	<key>ndex</key>
	<integer>407</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Roselia</string>
	<key>preEvolution</key>
	<integer>202</integer>
	<key>spattack</key>
	<integer>125</integer>
	<key>spdefense</key>
	<integer>105</integer>
	<key>species</key>
	<string>Roserade</string>
	<key>speed</key>
	<integer>90</integer>
	<key>total</key>
	<integer>515</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>32.0 lbs.</string>
</dict>
</plist>
