<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Mega Launcher</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>805</integer>
		<integer>8</integer>
	</array>
	<key>attack</key>
	<integer>103</integer>
	<key>class</key>
	<string>Shellfish Pokémon</string>
	<key>defense</key>
	<integer>120</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Water 1</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Blastoise (Mega Blastoise)</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>79</integer>
	<key>id</key>
	<integer>805</integer>
	<key>ndex</key>
	<integer>9</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Wartortle</string>
	<key>spattack</key>
	<integer>135</integer>
	<key>spdefense</key>
	<integer>115</integer>
	<key>species</key>
	<string>Blastoise</string>
	<key>speed</key>
	<integer>78</integer>
	<key>total</key>
	<integer>630</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>222.9 lbs.</string>
</dict>
</plist>
