<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Snow Cloak</string>
	<key>ability2</key>
	<string>Snow Cloak</string>
	<key>abilityH</key>
	<string>Slush Rush</string>
	<key>altformIDs</key>
	<array>
		<integer>27</integer>
		<integer>819</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Mouse Pokémon</string>
	<key>defense</key>
	<integer>120</integer>
	<key>dex1</key>
	<string>Fleeing a volcanic eruption, it settled on a snowy mountain. As it races through the snowfields, it sends up a spray of snow.</string>
	<key>dex2</key>
	<string>This Pokémon’s steel spikes are sheathed in ice. Stabs from these spikes cause deep wounds and severe frostbite as well.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>385</integer>
		<integer>17</integer>
	</array>
	<key>forme</key>
	<string>Sandslash (Alola Form)</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>819</integer>
	<key>ndex</key>
	<integer>28</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Sandshrew (Alola Form)</string>
	<key>preEvolution</key>
	<integer>385</integer>
	<key>spattack</key>
	<integer>25</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Sandslash</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>450</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>121.3 lbs.</string>
</dict>
</plist>
