<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Natural Cure</string>
	<key>ability2</key>
	<string>Serene Grace</string>
	<key>abilityH</key>
	<string>Healer</string>
	<key>altformIDs</key>
	<array>
		<integer>112</integer>
	</array>
	<key>attack</key>
	<integer>5</integer>
	<key>class</key>
	<string>Egg Pokémon</string>
	<key>defense</key>
	<integer>5</integer>
	<key>dex1</key>
	<string>The eggs laid by Chansey are rich in nutrients and a favorite food of many Pokémon.</string>
	<key>dex2</key>
	<string>Not only are these Pokémon fast runners, they’re also few in number, so anyone who finds one must be lucky indeed.</string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>126</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>66</integer>
		<integer>126</integer>
	</array>
	<key>forme</key>
	<string>Chansey</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>250</integer>
	<key>id</key>
	<integer>112</integer>
	<key>ndex</key>
	<integer>113</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Happiny</string>
	<key>preEvolution</key>
	<integer>66</integer>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>105</integer>
	<key>species</key>
	<string>Chansey</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>450</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>76.3 lbs.</string>
</dict>
</plist>
