<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Fairy Aura</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>715</integer>
		<integer>1010</integer>
	</array>
	<key>attack</key>
	<integer>131</integer>
	<key>class</key>
	<string>Life Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Xerneas (Neutral Mode)</string>
	<key>height</key>
	<string>9'10</string>
	<key>hp</key>
	<integer>126</integer>
	<key>id</key>
	<integer>715</integer>
	<key>ndex</key>
	<integer>716</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>131</integer>
	<key>spdefense</key>
	<integer>98</integer>
	<key>species</key>
	<string>Xerneas</string>
	<key>speed</key>
	<integer>99</integer>
	<key>total</key>
	<integer>680</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>474.0 lbs.</string>
</dict>
</plist>
