<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Gluttony</string>
	<key>ability2</key>
	<string>Hustle</string>
	<key>abilityH</key>
	<string>Thick Fat</string>
	<key>altformIDs</key>
	<array>
		<integer>19</integer>
		<integer>809</integer>
		<integer>810</integer>
	</array>
	<key>attack</key>
	<integer>71</integer>
	<key>class</key>
	<string>Mouse Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Raticate (1)</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>810</integer>
	<key>ndex</key>
	<integer>20</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Raticate</string>
	<key>speed</key>
	<integer>77</integer>
	<key>total</key>
	<integer>413</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Normal</string>
	<key>weight</key>
	<string>56.2 lbs.</string>
</dict>
</plist>
