<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>White Smoke</string>
	<key>ability2</key>
	<string>Drought</string>
	<key>abilityH</key>
	<string>Shell Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>323</integer>
	</array>
	<key>attack</key>
	<integer>85</integer>
	<key>class</key>
	<string>Coal Pokémon</string>
	<key>defense</key>
	<integer>140</integer>
	<key>dex1</key>
	<string>Coal is the source of Torkoal’s energy. Large amounts of coal can be found in the mountains where they live.</string>
	<key>dex2</key>
	<string>If the fire burning within its shell goes out, it will die. Those who wish to raise one in their home must always keep something flammable at hand.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Torkoal</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>323</integer>
	<key>ndex</key>
	<integer>324</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Torkoal</string>
	<key>speed</key>
	<integer>20</integer>
	<key>total</key>
	<integer>470</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>177.2 lbs.</string>
</dict>
</plist>
