<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Thick Fat</string>
	<key>ability2</key>
	<string>Ice Body</string>
	<key>abilityH</key>
	<string>Oblivious</string>
	<key>altformIDs</key>
	<array>
		<integer>363</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Ball Roll Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionIDs</key>
	<array>
		<integer>183</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>182</integer>
		<integer>183</integer>
	</array>
	<key>forme</key>
	<string>Sealeo</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>363</integer>
	<key>ndex</key>
	<integer>364</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Spheal</string>
	<key>preEvolution</key>
	<integer>182</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Sealeo</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>410</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string>Water</string>
	<key>weight</key>
	<string>193.1 lbs.</string>
</dict>
</plist>
