<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Cheek Pouch</string>
	<key>ability2</key>
	<string>Pickup</string>
	<key>abilityH</key>
	<string>Plus</string>
	<key>altformIDs</key>
	<array>
		<integer>701</integer>
	</array>
	<key>attack</key>
	<integer>58</integer>
	<key>class</key>
	<string>Antenna Pokémon</string>
	<key>defense</key>
	<integer>57</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Fairy</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Dedenne</string>
	<key>height</key>
	<string>0'08</string>
	<key>hp</key>
	<integer>67</integer>
	<key>id</key>
	<integer>701</integer>
	<key>ndex</key>
	<integer>702</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>81</integer>
	<key>spdefense</key>
	<integer>67</integer>
	<key>species</key>
	<string>Dedenne</string>
	<key>speed</key>
	<integer>101</integer>
	<key>total</key>
	<integer>431</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>4.9 lbs.</string>
</dict>
</plist>
