<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Run Away</string>
	<key>ability2</key>
	<string>Klutz</string>
	<key>abilityH</key>
	<string>Limber</string>
	<key>altformIDs</key>
	<array>
		<integer>426</integer>
	</array>
	<key>attack</key>
	<integer>66</integer>
	<key>class</key>
	<string>Rabbit Pokémon</string>
	<key>defense</key>
	<integer>44</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Human-Like</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Buneary</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>426</integer>
	<key>ndex</key>
	<integer>427</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>44</integer>
	<key>spdefense</key>
	<integer>56</integer>
	<key>species</key>
	<string>Buneary</string>
	<key>speed</key>
	<integer>85</integer>
	<key>total</key>
	<integer>350</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>12.1 lbs.</string>
</dict>
</plist>
