<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sap Sipper</string>
	<key>ability2</key>
	<string>Hydration</string>
	<key>abilityH</key>
	<string>Gooey</string>
	<key>altformIDs</key>
	<array>
		<integer>705</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Dragon Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string>An amazingly friendly Pokémon, but if left to itself, loneliness overcomes it, and it oozes gooey tears.</string>
	<key>dex2</key>
	<string>It gets picked on because it’s meek. But then, whoever teased it gets to feel the full force of its horns and a good swatting from its thick tail.</string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>337</integer>
		<integer>366</integer>
	</array>
	<key>forme</key>
	<string>Goodra</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>705</integer>
	<key>ndex</key>
	<integer>706</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Sliggoo</string>
	<key>preEvolution</key>
	<integer>366</integer>
	<key>spattack</key>
	<integer>110</integer>
	<key>spdefense</key>
	<integer>150</integer>
	<key>species</key>
	<string>Goodra</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>331.8 lbs.</string>
</dict>
</plist>
