<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flash Fire</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Guts</string>
	<key>altformIDs</key>
	<array>
		<integer>135</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Flame Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>When it catches prey or finds berries, it breathes fire on them until they’re well done, and then it gobbles them up.</string>
	<key>dex2</key>
	<string>Its average body temperature is between 1,300 and 1,500 degrees Fahrenheit. In its internal flame sac, temperatures reach 3,000 degrees.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>108</integer>
		<integer>109</integer>
		<integer>370</integer>
		<integer>372</integer>
		<integer>373</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
	</array>
	<key>forme</key>
	<string>Flareon</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>135</integer>
	<key>ndex</key>
	<integer>136</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Eevee</string>
	<key>preEvolution</key>
	<integer>77</integer>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>110</integer>
	<key>species</key>
	<string>Flareon</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>525</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>55.1 lbs.</string>
</dict>
</plist>
