<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Hyper Cutter</string>
	<key>ability2</key>
	<string>Iron Fist</string>
	<key>abilityH</key>
	<string>Anger Point</string>
	<key>altformIDs</key>
	<array>
		<integer>739</integer>
	</array>
	<key>attack</key>
	<integer>132</integer>
	<key>class</key>
	<string>Woolly Crab Pokémon</string>
	<key>defense</key>
	<integer>77</integer>
	<key>dex1</key>
	<string>It aimed for the top but got lost and ended up on a snowy mountain. Being forced to endure the cold, this Pokémon evolved and grew fur.</string>
	<key>dex2</key>
	<string>It just throws punches indiscriminately. In times of desperation, it can lop off its own pincers and fire them like rockets.</string>
	<key>egg-group1</key>
	<string>Water 4</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>388</integer>
	</array>
	<key>forme</key>
	<string>Crabominable</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>97</integer>
	<key>id</key>
	<integer>739</integer>
	<key>ndex</key>
	<integer>740</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Crabrawler</string>
	<key>preEvolution</key>
	<integer>388</integer>
	<key>spattack</key>
	<integer>62</integer>
	<key>spdefense</key>
	<integer>67</integer>
	<key>species</key>
	<string>Crabominable</string>
	<key>speed</key>
	<integer>43</integer>
	<key>total</key>
	<integer>478</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>396.8 lbs.</string>
</dict>
</plist>
