<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Electric Surge</string>
	<key>ability2</key>
	<string>Electric Surge</string>
	<key>abilityH</key>
	<string>Telepathy</string>
	<key>altformIDs</key>
	<array>
		<integer>784</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>Land Spirit Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string>This guardian deity of Melemele is brimming with curiosity. It summons thunderclouds and stores their lightning inside its body.</string>
	<key>dex2</key>
	<string>It confuses its enemies by flying too quickly for the eye to follow. It has a hair-trigger temper but forgets what made it angry an instant later.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Tapu Koko</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>784</integer>
	<key>ndex</key>
	<integer>785</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Tapu Koko</string>
	<key>speed</key>
	<integer>130</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>45.2 lbs.</string>
</dict>
</plist>
