<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rock Head</string>
	<key>ability2</key>
	<string>Sturdy</string>
	<key>abilityH</key>
	<string>Sand Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>74</integer>
		<integer>828</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Rock Pokémon</string>
	<key>defense</key>
	<integer>115</integer>
	<key>dex1</key>
	<string>Mossy rocks are its favorite food. It can devour a ton a day while crunching loudly.</string>
	<key>dex2</key>
	<string>This slow-footed Pokémon moves by curling up and rolling instead of walking. With enough momentum, its speed can exceed 60 mph.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>47</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>46</integer>
		<integer>47</integer>
		<integer>413</integer>
		<integer>414</integer>
	</array>
	<key>forme</key>
	<string>Graveler</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>74</integer>
	<key>ndex</key>
	<integer>75</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Geodude</string>
	<key>preEvolution</key>
	<integer>46</integer>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Graveler</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>390</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>231.5 lbs.</string>
</dict>
</plist>
