<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swift Swim</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Water Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>418</integer>
	</array>
	<key>attack</key>
	<integer>105</integer>
	<key>class</key>
	<string>Sea Weasel Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionTree</key>
	<array>
		<integer>212</integer>
	</array>
	<key>forme</key>
	<string>Floatzel</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>418</integer>
	<key>ndex</key>
	<integer>419</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Buizel</string>
	<key>preEvolution</key>
	<integer>212</integer>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Floatzel</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>495</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>73.9 lbs.</string>
</dict>
</plist>
