<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Rough Skin</string>
	<key>altformIDs</key>
	<array>
		<integer>444</integer>
		<integer>911</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Mach Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string>It can fly at speeds rivaling jet planes. It dives into flocks of bird Pokémon and gulps the entire flock down whole.</string>
	<key>dex2</key>
	<string>The protuberances on its head serve as sensors. It can even detect distant prey.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array>
		<integer>224</integer>
		<integer>225</integer>
	</array>
	<key>forme</key>
	<string>Garchomp</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>108</integer>
	<key>id</key>
	<integer>444</integer>
	<key>ndex</key>
	<integer>445</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Gabite</string>
	<key>preEvolution</key>
	<integer>225</integer>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Garchomp</string>
	<key>speed</key>
	<integer>102</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>209.4 lbs.</string>
</dict>
</plist>
