<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sticky Hold</string>
	<key>ability2</key>
	<string>Storm Drain</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>422</integer>
		<integer>909</integer>
	</array>
	<key>attack</key>
	<integer>83</integer>
	<key>class</key>
	<string>Sea Slug Pokémon</string>
	<key>defense</key>
	<integer>68</integer>
	<key>dex1</key>
	<string>It has strong regenerative capabilities. Even if parts of it are bitten off by fish Pokémon, it will return to normal within a few hours.</string>
	<key>dex2</key>
	<string>Plankton, invisible to the naked eye, is its main food source. It comes onto the land periodically, but the reason for this is not known.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Amorphous</string>
	<key>evolutionTree</key>
	<array>
		<integer>214</integer>
		<integer>215</integer>
	</array>
	<key>forme</key>
	<string>Gastrodon (West Sea)</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>111</integer>
	<key>id</key>
	<integer>422</integer>
	<key>ndex</key>
	<integer>423</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shellos</string>
	<key>preEvolution</key>
	<integer>214</integer>
	<key>spattack</key>
	<integer>92</integer>
	<key>spdefense</key>
	<integer>82</integer>
	<key>species</key>
	<string>Gastrodon</string>
	<key>speed</key>
	<integer>39</integer>
	<key>total</key>
	<integer>475</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>65.9 lbs.</string>
</dict>
</plist>
