<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sturdy</string>
	<key>ability2</key>
	<string>Weak Armor</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>524</integer>
	</array>
	<key>attack</key>
	<integer>105</integer>
	<key>class</key>
	<string>Ore Pokémon</string>
	<key>defense</key>
	<integer>105</integer>
	<key>dex1</key>
	<string>Its orange crystal is a mass of energy. Just one crystal fragment would provide enough fuel for a hundred dump trucks.</string>
	<key>dex2</key>
	<string>It explores caves in search of underground water. It’s not comfortable around water, so this Pokémon takes great care in lapping it up.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>264</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>263</integer>
		<integer>264</integer>
	</array>
	<key>forme</key>
	<string>Boldore</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>524</integer>
	<key>ndex</key>
	<integer>525</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Roggenrola</string>
	<key>preEvolution</key>
	<integer>263</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Boldore</string>
	<key>speed</key>
	<integer>20</integer>
	<key>total</key>
	<integer>390</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>224.9 lbs.</string>
</dict>
</plist>
