<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Thick Fat</string>
	<key>ability2</key>
	<string>Guts</string>
	<key>abilityH</key>
	<string>Sheer Force</string>
	<key>altformIDs</key>
	<array>
		<integer>295</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Guts Pokémon</string>
	<key>defense</key>
	<integer>30</integer>
	<key>dex1</key>
	<string>It was originally brought in from another region, but now Makuhita from Alola are more famous.</string>
	<key>dex2</key>
	<string>Their daily routine consists of training together first thing in the morning, eating and napping in the afternoon, and then more training afterward.</string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>157</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>157</integer>
	</array>
	<key>forme</key>
	<string>Makuhita</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>72</integer>
	<key>id</key>
	<integer>295</integer>
	<key>ndex</key>
	<integer>296</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>20</integer>
	<key>spdefense</key>
	<integer>30</integer>
	<key>species</key>
	<string>Makuhita</string>
	<key>speed</key>
	<integer>25</integer>
	<key>total</key>
	<integer>237</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>190.5 lbs.</string>
</dict>
</plist>
