<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pickup</string>
	<key>ability2</key>
	<string>Frisk</string>
	<key>abilityH</key>
	<string>Insomnia</string>
	<key>altformIDs</key>
	<array>
		<integer>1007</integer>
		<integer>710</integer>
		<integer>1008</integer>
		<integer>1009</integer>
	</array>
	<key>attack</key>
	<integer>85</integer>
	<key>class</key>
	<string>Pumpkin Pokémon</string>
	<key>defense</key>
	<integer>122</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>342</integer>
		<integer>341</integer>
		<integer>343</integer>
		<integer>344</integer>
	</array>
	<key>forme</key>
	<string>Gourgeist (Small Size)</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>1007</integer>
	<key>ndex</key>
	<integer>711</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Pumpkaboo (Small Size)</string>
	<key>preEvolution</key>
	<integer>342</integer>
	<key>spattack</key>
	<integer>58</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Gourgeist</string>
	<key>speed</key>
	<integer>99</integer>
	<key>total</key>
	<integer>494</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>20.9 lbs.</string>
</dict>
</plist>
