<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Beast Boost</string>
	<key>ability2</key>
	<string>Beast Boost</string>
	<key>abilityH</key>
	<string>Beast Boost</string>
	<key>altformIDs</key>
	<array>
		<integer>795</integer>
	</array>
	<key>attack</key>
	<integer>89</integer>
	<key>class</key>
	<string>Glowing Pokémon</string>
	<key>defense</key>
	<integer>71</integer>
	<key>dex1</key>
	<string>One of the mysterious life-forms known as Ultra Beasts. Astonishing electric shocks emanate from its entire body, according to witnesses.</string>
	<key>dex2</key>
	<string>It appeared from the Ultra Wormhole. It raided a power plant, so people think it energizes itself with electricity.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Xurkitree</string>
	<key>height</key>
	<string>12'06</string>
	<key>hp</key>
	<integer>83</integer>
	<key>id</key>
	<integer>795</integer>
	<key>ndex</key>
	<integer>796</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>173</integer>
	<key>spdefense</key>
	<integer>71</integer>
	<key>species</key>
	<string>Xurkitree</string>
	<key>speed</key>
	<integer>83</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>220.5 lbs.</string>
</dict>
</plist>
