<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flame Body</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Gale Wings</string>
	<key>altformIDs</key>
	<array>
		<integer>661</integer>
	</array>
	<key>attack</key>
	<integer>73</integer>
	<key>class</key>
	<string>Ember Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string>From its beak, it fires embers at its prey. Once it has caught them, it grills them at high heat before feasting upon them.</string>
	<key>dex2</key>
	<string>It will not tolerate other Fletchinder entering its territory, which has a radius of several miles.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>327</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>325</integer>
		<integer>327</integer>
	</array>
	<key>forme</key>
	<string>Fletchinder</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>62</integer>
	<key>id</key>
	<integer>661</integer>
	<key>ndex</key>
	<integer>662</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Fletchling</string>
	<key>preEvolution</key>
	<integer>325</integer>
	<key>spattack</key>
	<integer>56</integer>
	<key>spdefense</key>
	<integer>52</integer>
	<key>species</key>
	<string>Fletchinder</string>
	<key>speed</key>
	<integer>84</integer>
	<key>total</key>
	<integer>382</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>35.3 lbs.</string>
</dict>
</plist>
