<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Big Pecks</string>
	<key>ability2</key>
	<string>Super Luck</string>
	<key>abilityH</key>
	<string>Rivalry</string>
	<key>altformIDs</key>
	<array>
		<integer>520</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>Proud Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>260</integer>
		<integer>261</integer>
	</array>
	<key>forme</key>
	<string>Unfezant</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>520</integer>
	<key>ndex</key>
	<integer>521</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Tranquill</string>
	<key>preEvolution</key>
	<integer>261</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Unfezant</string>
	<key>speed</key>
	<integer>93</integer>
	<key>total</key>
	<integer>488</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>63.9 lbs.</string>
</dict>
</plist>
