<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Corrosion</string>
	<key>ability2</key>
	<string>Corrosion</string>
	<key>abilityH</key>
	<string>Oblivious</string>
	<key>altformIDs</key>
	<array>
		<integer>756</integer>
	</array>
	<key>attack</key>
	<integer>44</integer>
	<key>class</key>
	<string>Toxic Lizard Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string>It burns its bodily fluids to create a poisonous gas. When its enemies become disoriented from inhaling the gas, it attacks them.</string>
	<key>dex2</key>
	<string>Volcanoes or dry, craggy places are its home. It emanates a sweet-smelling poisonous gas that attracts bug Pokémon, then attacks them.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionIDs</key>
	<array>
		<integer>380</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>380</integer>
	</array>
	<key>forme</key>
	<string>Salandit</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>48</integer>
	<key>id</key>
	<integer>756</integer>
	<key>ndex</key>
	<integer>757</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>71</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Salandit</string>
	<key>speed</key>
	<integer>77</integer>
	<key>total</key>
	<integer>320</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Fire</string>
	<key>weight</key>
	<string>10.6 lbs.</string>
</dict>
</plist>
