<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Multitype</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>930</integer>
		<integer>492</integer>
		<integer>922</integer>
		<integer>923</integer>
		<integer>924</integer>
		<integer>925</integer>
		<integer>926</integer>
		<integer>927</integer>
		<integer>928</integer>
		<integer>929</integer>
		<integer>931</integer>
		<integer>932</integer>
		<integer>933</integer>
		<integer>934</integer>
		<integer>935</integer>
		<integer>936</integer>
		<integer>937</integer>
		<integer>938</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Alpha Pokémon</string>
	<key>defense</key>
	<integer>120</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Arceus (Fire)</string>
	<key>height</key>
	<string>10'06</string>
	<key>hp</key>
	<integer>120</integer>
	<key>id</key>
	<integer>930</integer>
	<key>ndex</key>
	<integer>493</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>120</integer>
	<key>spdefense</key>
	<integer>120</integer>
	<key>species</key>
	<string>Arceus</string>
	<key>speed</key>
	<integer>120</integer>
	<key>total</key>
	<integer>720</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>705.5 lbs.</string>
</dict>
</plist>
