<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Tangled Feet</string>
	<key>abilityH</key>
	<string>Big Pecks</string>
	<key>altformIDs</key>
	<array>
		<integer>16</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Bird Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>11</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>10</integer>
		<integer>11</integer>
	</array>
	<key>forme</key>
	<string>Pidgeotto</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>63</integer>
	<key>id</key>
	<integer>16</integer>
	<key>ndex</key>
	<integer>17</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Pidgey</string>
	<key>preEvolution</key>
	<integer>10</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Pidgeotto</string>
	<key>speed</key>
	<integer>71</integer>
	<key>total</key>
	<integer>349</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>66.1 lbs.</string>
</dict>
</plist>
