<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Force</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>870</integer>
		<integer>207</integer>
	</array>
	<key>attack</key>
	<integer>125</integer>
	<key>class</key>
	<string>Iron Snake Pokémon</string>
	<key>defense</key>
	<integer>230</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Steelix (Mega Steelix)</string>
	<key>height</key>
	<string>34'05</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>870</integer>
	<key>ndex</key>
	<integer>208</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Onix</string>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Steelix</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>610</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>1631.4 lbs.</string>
</dict>
</plist>
