<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pickup</string>
	<key>ability2</key>
	<string>Cheek Pouch</string>
	<key>abilityH</key>
	<string>Huge Power</string>
	<key>altformIDs</key>
	<array>
		<integer>659</integer>
	</array>
	<key>attack</key>
	<integer>56</integer>
	<key>class</key>
	<string>Digging Pokémon</string>
	<key>defense</key>
	<integer>77</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>345</integer>
	</array>
	<key>forme</key>
	<string>Diggersby</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>659</integer>
	<key>ndex</key>
	<integer>660</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Bunnelby</string>
	<key>preEvolution</key>
	<integer>345</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>77</integer>
	<key>species</key>
	<string>Diggersby</string>
	<key>speed</key>
	<integer>78</integer>
	<key>total</key>
	<integer>423</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>93.5 lbs.</string>
</dict>
</plist>
