<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swift Swim</string>
	<key>ability2</key>
	<string>Hydration</string>
	<key>abilityH</key>
	<string>Water Absorb</string>
	<key>altformIDs</key>
	<array>
		<integer>535</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Vibration Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>270</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>269</integer>
		<integer>270</integer>
	</array>
	<key>forme</key>
	<string>Palpitoad</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>535</integer>
	<key>ndex</key>
	<integer>536</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Tympole</string>
	<key>preEvolution</key>
	<integer>269</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Palpitoad</string>
	<key>speed</key>
	<integer>69</integer>
	<key>total</key>
	<integer>384</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>37.5 lbs.</string>
</dict>
</plist>
