<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Hyper Cutter</string>
	<key>ability2</key>
	<string>Sand Veil</string>
	<key>abilityH</key>
	<string>Immunity</string>
	<key>altformIDs</key>
	<array>
		<integer>206</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Fly Scorpion Pokémon</string>
	<key>defense</key>
	<integer>105</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>240</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>240</integer>
	</array>
	<key>forme</key>
	<string>Gligar</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>206</integer>
	<key>ndex</key>
	<integer>207</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Gligar</string>
	<key>speed</key>
	<integer>85</integer>
	<key>total</key>
	<integer>430</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>142.9 lbs.</string>
</dict>
</plist>
