<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Run Away</string>
	<key>ability2</key>
	<string>Keen Eye</string>
	<key>abilityH</key>
	<string>Frisk</string>
	<key>altformIDs</key>
	<array>
		<integer>161</integer>
	</array>
	<key>attack</key>
	<integer>76</integer>
	<key>class</key>
	<string>Long Body Pokémon</string>
	<key>defense</key>
	<integer>64</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>89</integer>
	</array>
	<key>forme</key>
	<string>Furret</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>161</integer>
	<key>ndex</key>
	<integer>162</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Sentret</string>
	<key>preEvolution</key>
	<integer>89</integer>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Furret</string>
	<key>speed</key>
	<integer>90</integer>
	<key>total</key>
	<integer>415</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>71.6 lbs.</string>
</dict>
</plist>
