<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Dancer</string>
	<key>ability2</key>
	<string>Dancer</string>
	<key>abilityH</key>
	<string>Dancer</string>
	<key>altformIDs</key>
	<array>
		<integer>740</integer>
		<integer>1019</integer>
		<integer>1020</integer>
		<integer>1021</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Dancing Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string>It beats its wings together to create fire. As it moves in the steps of its beautiful dance, it bathes opponents in intense flames.</string>
	<key>dex2</key>
	<string>This Oricorio has sipped red nectar. Its passionate dance moves cause its enemies to combust in both body and mind.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Oricorio (Baile Style)</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>740</integer>
	<key>ndex</key>
	<integer>741</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>98</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Oricorio</string>
	<key>speed</key>
	<integer>93</integer>
	<key>total</key>
	<integer>476</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>7.5 lbs.</string>
</dict>
</plist>
