<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Contrary</string>
	<key>ability2</key>
	<string>Suction Cups</string>
	<key>abilityH</key>
	<string>Infiltrator</string>
	<key>altformIDs</key>
	<array>
		<integer>685</integer>
	</array>
	<key>attack</key>
	<integer>54</integer>
	<key>class</key>
	<string>Revolving Pokémon</string>
	<key>defense</key>
	<integer>53</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Water 2</string>
	<key>evolutionIDs</key>
	<array>
		<integer>329</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>329</integer>
	</array>
	<key>forme</key>
	<string>Inkay</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>53</integer>
	<key>id</key>
	<integer>685</integer>
	<key>ndex</key>
	<integer>686</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>37</integer>
	<key>spdefense</key>
	<integer>46</integer>
	<key>species</key>
	<string>Inkay</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>288</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>7.7 lbs.</string>
</dict>
</plist>
