<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Strong Jaw</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Sturdy</string>
	<key>altformIDs</key>
	<array>
		<integer>695</integer>
	</array>
	<key>attack</key>
	<integer>89</integer>
	<key>class</key>
	<string>Royal Heir Pokémon</string>
	<key>defense</key>
	<integer>77</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionIDs</key>
	<array>
		<integer>360</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>360</integer>
	</array>
	<key>forme</key>
	<string>Tyrunt</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>58</integer>
	<key>id</key>
	<integer>695</integer>
	<key>ndex</key>
	<integer>696</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Tyrunt</string>
	<key>speed</key>
	<integer>48</integer>
	<key>total</key>
	<integer>362</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>57.3 lbs.</string>
</dict>
</plist>
