<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pressure</string>
	<key>ability2</key>
	<string>Super Luck</string>
	<key>abilityH</key>
	<string>Justified</string>
	<key>altformIDs</key>
	<array>
		<integer>358</integer>
		<integer>891</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Disaster Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>Long ago, superstitions were spread about it, saying it brought disaster. This fed a hatred of it, and it was driven deep into the mountains.</string>
	<key>dex2</key>
	<string>Although it’s said to bring disaster, in actuality, this Pokémon possesses a calm disposition and warns people of any crises that loom.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Absol</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>358</integer>
	<key>ndex</key>
	<integer>359</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Absol</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>465</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>103.6 lbs.</string>
</dict>
</plist>
