<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Poison Touch</string>
	<key>ability2</key>
	<string>Gluttony</string>
	<key>abilityH</key>
	<string>Power of Alchemy</string>
	<key>altformIDs</key>
	<array>
		<integer>832</integer>
		<integer>88</integer>
	</array>
	<key>attack</key>
	<integer>105</integer>
	<key>class</key>
	<string>Sludge Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>The garbage it eats causes continuous chemical changes in its body, which produce its exceedingly vivid coloration.</string>
	<key>dex2</key>
	<string>While it’s unexpectedly quiet and friendly, if it’s not fed any trash for a while, it will smash its Trainer’s furnishings and eat up the fragments.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>415</integer>
		<integer>53</integer>
	</array>
	<key>forme</key>
	<string>Muk (Alola Form)</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>105</integer>
	<key>id</key>
	<integer>832</integer>
	<key>ndex</key>
	<integer>89</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Grimer</string>
	<key>preEvolution</key>
	<integer>415</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>100</integer>
	<key>species</key>
	<string>Muk</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Dark</string>
	<key>weight</key>
	<string>114.6 lbs.</string>
</dict>
</plist>
