<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Frisk</string>
	<key>ability2</key>
	<string>Infiltrator</string>
	<key>abilityH</key>
	<string>Telepathy</string>
	<key>altformIDs</key>
	<array>
		<integer>714</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Sound Wave Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>367</integer>
	</array>
	<key>forme</key>
	<string>Noivern</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>714</integer>
	<key>ndex</key>
	<integer>715</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Noibat</string>
	<key>preEvolution</key>
	<integer>367</integer>
	<key>spattack</key>
	<integer>97</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Noivern</string>
	<key>speed</key>
	<integer>123</integer>
	<key>total</key>
	<integer>535</integer>
	<key>type1</key>
	<string>Flying</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>187.4 lbs.</string>
</dict>
</plist>
