<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Leaf Guard</string>
	<key>ability2</key>
	<string>Oblivious</string>
	<key>abilityH</key>
	<string>Sweet Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>761</integer>
	</array>
	<key>attack</key>
	<integer>40</integer>
	<key>class</key>
	<string>Fruit Pokémon</string>
	<key>defense</key>
	<integer>48</integer>
	<key>dex1</key>
	<string>The sepals on its head developed to protect its body. These are quite hard, so even if pecked by bird Pokémon, this Pokémon is totally fine.</string>
	<key>dex2</key>
	<string>This Pokémon is always bouncing around energetically. Other Pokémon are attracted by its lively appearance and pleasant aroma.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>384</integer>
		<integer>405</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>404</integer>
		<integer>384</integer>
		<integer>405</integer>
	</array>
	<key>forme</key>
	<string>Steenee</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>52</integer>
	<key>id</key>
	<integer>761</integer>
	<key>ndex</key>
	<integer>762</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Bounsweet</string>
	<key>preEvolution</key>
	<integer>404</integer>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>48</integer>
	<key>species</key>
	<string>Steenee</string>
	<key>speed</key>
	<integer>62</integer>
	<key>total</key>
	<integer>290</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>18.1 lbs.</string>
</dict>
</plist>
