<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Stench</string>
	<key>ability2</key>
	<string>Sticky Hold</string>
	<key>abilityH</key>
	<string>Poison Touch</string>
	<key>altformIDs</key>
	<array>
		<integer>88</integer>
		<integer>832</integer>
	</array>
	<key>attack</key>
	<integer>105</integer>
	<key>class</key>
	<string>Sludge Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>The stench it gives off will make your nose scrunch up. Still, there are Muk fans who think that’s a good thing.</string>
	<key>dex2</key>
	<string>After recent environmental improvements, this Pokémon is now hardly seen at all. People speculate that it may go extinct at some point.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>53</integer>
		<integer>415</integer>
	</array>
	<key>forme</key>
	<string>Muk</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>105</integer>
	<key>id</key>
	<integer>88</integer>
	<key>ndex</key>
	<integer>89</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Grimer</string>
	<key>preEvolution</key>
	<integer>53</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>100</integer>
	<key>species</key>
	<string>Muk</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>66.1 lbs.</string>
</dict>
</plist>
