<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Insomnia</string>
	<key>ability2</key>
	<string>Frisk</string>
	<key>abilityH</key>
	<string>Cursed Body</string>
	<key>altformIDs</key>
	<array>
		<integer>353</integer>
		<integer>890</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>Marionette Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>178</integer>
	</array>
	<key>forme</key>
	<string>Banette</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>64</integer>
	<key>id</key>
	<integer>353</integer>
	<key>ndex</key>
	<integer>354</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shuppet</string>
	<key>preEvolution</key>
	<integer>178</integer>
	<key>spattack</key>
	<integer>83</integer>
	<key>spdefense</key>
	<integer>63</integer>
	<key>species</key>
	<string>Banette</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>455</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>27.6 lbs.</string>
</dict>
</plist>
