<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pickup</string>
	<key>ability2</key>
	<string>Frisk</string>
	<key>abilityH</key>
	<string>Insomnia</string>
	<key>altformIDs</key>
	<array>
		<integer>709</integer>
		<integer>1004</integer>
		<integer>1005</integer>
		<integer>1006</integer>
	</array>
	<key>attack</key>
	<integer>66</integer>
	<key>class</key>
	<string>Pumpkin Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>342</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>342</integer>
		<integer>341</integer>
		<integer>343</integer>
		<integer>344</integer>
	</array>
	<key>forme</key>
	<string>Pumpkaboo (Small Size)</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>44</integer>
	<key>id</key>
	<integer>1004</integer>
	<key>ndex</key>
	<integer>710</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>44</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Pumpkaboo</string>
	<key>speed</key>
	<integer>56</integer>
	<key>total</key>
	<integer>335</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>7.7 lbs.</string>
</dict>
</plist>
