<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Disguise</string>
	<key>ability2</key>
	<string>Disguise</string>
	<key>abilityH</key>
	<string>Disguise</string>
	<key>altformIDs</key>
	<array>
		<integer>777</integer>
		<integer>1056</integer>
		<integer>1057</integer>
		<integer>1058</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Disguise Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>Its actual appearance is unknown. A scholar who saw what was under its rag was overwhelmed by terror and died from the shock.</string>
	<key>dex2</key>
	<string>A lonely Pokémon, it conceals its terrifying appearance beneath an old rag so it can get closer to people and other Pokémon.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Mimikyu (Disguised Form)</string>
	<key>height</key>
	<string>0'08</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>777</integer>
	<key>ndex</key>
	<integer>778</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>105</integer>
	<key>species</key>
	<string>Mimikyu</string>
	<key>speed</key>
	<integer>96</integer>
	<key>total</key>
	<integer>476</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>1.5 lbs.</string>
</dict>
</plist>
