<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Natural Cure</string>
	<key>ability2</key>
	<string>Frisk</string>
	<key>abilityH</key>
	<string>Harvest</string>
	<key>altformIDs</key>
	<array>
		<integer>708</integer>
	</array>
	<key>attack</key>
	<integer>110</integer>
	<key>class</key>
	<string>Elder Tree Pokémon</string>
	<key>defense</key>
	<integer>76</integer>
	<key>dex1</key>
	<string>This Pokémon is said to devour anyone daring to ravage the forest. To the creatures dwelling in the forest, it offers great kindness.</string>
	<key>dex2</key>
	<string>Through its roots, it exerts control over other trees. A deadly curse falls upon anyone cutting down trees in forests where Trevenant dwell.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string>Amorphous</string>
	<key>evolutionTree</key>
	<array>
		<integer>326</integer>
	</array>
	<key>forme</key>
	<string>Trevenant</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>708</integer>
	<key>ndex</key>
	<integer>709</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Phantump</string>
	<key>preEvolution</key>
	<integer>326</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>82</integer>
	<key>species</key>
	<string>Trevenant</string>
	<key>speed</key>
	<integer>56</integer>
	<key>total</key>
	<integer>474</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>156.5 lbs.</string>
</dict>
</plist>
