<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shell Armor</string>
	<key>ability2</key>
	<string>Shell Armor</string>
	<key>abilityH</key>
	<string>Shell Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>775</integer>
	</array>
	<key>attack</key>
	<integer>78</integer>
	<key>class</key>
	<string>Blast Turtle Pokémon</string>
	<key>defense</key>
	<integer>135</integer>
	<key>dex1</key>
	<string>The shell on its back is chemically unstable and explodes violently if struck. The hole in its stomach is its weak point.</string>
	<key>dex2</key>
	<string>It gushes fire and poisonous gases from its nostrils. Its dung is an explosive substance and can be put to various uses.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Turtonator</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>775</integer>
	<key>ndex</key>
	<integer>776</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>91</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Turtonator</string>
	<key>speed</key>
	<integer>36</integer>
	<key>total</key>
	<integer>485</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>467.4 lbs.</string>
</dict>
</plist>
