<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pressure</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Inner Focus</string>
	<key>altformIDs</key>
	<array>
		<integer>243</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>Volcano Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Entei</string>
	<key>height</key>
	<string>6'11</string>
	<key>hp</key>
	<integer>115</integer>
	<key>id</key>
	<integer>243</integer>
	<key>ndex</key>
	<integer>244</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>90</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Entei</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>580</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>436.5 lbs.</string>
</dict>
</plist>
