<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>644</integer>
		<integer>950</integer>
	</array>
	<key>attack</key>
	<integer>145</integer>
	<key>class</key>
	<string>Abundance Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Landorus (Therian Forme)</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>89</integer>
	<key>id</key>
	<integer>950</integer>
	<key>ndex</key>
	<integer>645</integer>
	<key>percent-female</key>
	<integer>0</integer>
	<key>percent-male</key>
	<integer>1</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Landorus</string>
	<key>speed</key>
	<integer>91</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>149.9 lbs.</string>
</dict>
</plist>
