<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Adaptability</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>447</integer>
		<integer>912</integer>
	</array>
	<key>attack</key>
	<integer>145</integer>
	<key>class</key>
	<string>Aura Pokémon</string>
	<key>defense</key>
	<integer>88</integer>
	<key>dex1</key>
	<string>Black streaks all over its body show where its auras and the energy of Mega Evolution intermingled and raced through it.</string>
	<key>dex2</key>
	<string>It readies itself to face its enemies by focusing its mental energies. Its fighting style can be summed up in a single word: heartless.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Human-Like</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Lucario (Mega Lucario)</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>912</integer>
	<key>ndex</key>
	<integer>448</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Riolu</string>
	<key>spattack</key>
	<integer>140</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Lucario</string>
	<key>speed</key>
	<integer>112</integer>
	<key>total</key>
	<integer>625</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>126.8 lbs.</string>
</dict>
</plist>
