<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Oblivious</string>
	<key>ability2</key>
	<string>Simple</string>
	<key>abilityH</key>
	<string>Own Tempo</string>
	<key>altformIDs</key>
	<array>
		<integer>321</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Numb Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>167</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>167</integer>
	</array>
	<key>forme</key>
	<string>Numel</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>321</integer>
	<key>ndex</key>
	<integer>322</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Numel</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>305</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>52.9 lbs.</string>
</dict>
</plist>
