<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sturdy</string>
	<key>ability2</key>
	<string>Magnet Pull</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>298</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Compass Pokémon</string>
	<key>defense</key>
	<integer>135</integer>
	<key>dex1</key>
	<string>The magnet in Nosepass’s nose provides an unerring compass, making it an excellent partner for Trainers going on a journey.</string>
	<key>dex2</key>
	<string>It uses powerful magnetism to drag its prey toward it. It’s also been known to pull in metal, which it collects and uses to protect itself.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>374</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>374</integer>
	</array>
	<key>forme</key>
	<string>Nosepass</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>30</integer>
	<key>id</key>
	<integer>298</integer>
	<key>ndex</key>
	<integer>299</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Nosepass</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>375</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>213.8 lbs.</string>
</dict>
</plist>
