<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Poison Point</string>
	<key>ability2</key>
	<string>Rivalry</string>
	<key>abilityH</key>
	<string>Sheer Force</string>
	<key>altformIDs</key>
	<array>
		<integer>30</integer>
	</array>
	<key>attack</key>
	<integer>92</integer>
	<key>class</key>
	<string>Drill Pokémon</string>
	<key>defense</key>
	<integer>87</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>18</integer>
		<integer>19</integer>
	</array>
	<key>forme</key>
	<string>Nidoqueen</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>30</integer>
	<key>ndex</key>
	<integer>31</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Nidorina</string>
	<key>preEvolution</key>
	<integer>19</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Nidoqueen</string>
	<key>speed</key>
	<integer>76</integer>
	<key>total</key>
	<integer>505</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>132.3 lbs.</string>
</dict>
</plist>
