<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Stench</string>
	<key>ability2</key>
	<string>Aftermath</string>
	<key>abilityH</key>
	<string>Keen Eye</string>
	<key>altformIDs</key>
	<array>
		<integer>433</integer>
	</array>
	<key>attack</key>
	<integer>63</integer>
	<key>class</key>
	<string>Skunk Pokémon</string>
	<key>defense</key>
	<integer>47</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>222</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>222</integer>
	</array>
	<key>forme</key>
	<string>Stunky</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>63</integer>
	<key>id</key>
	<integer>433</integer>
	<key>ndex</key>
	<integer>434</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>41</integer>
	<key>spdefense</key>
	<integer>41</integer>
	<key>species</key>
	<string>Stunky</string>
	<key>speed</key>
	<integer>74</integer>
	<key>total</key>
	<integer>329</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Dark</string>
	<key>weight</key>
	<string>42.3 lbs.</string>
</dict>
</plist>
