<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flash Fire</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Drought</string>
	<key>altformIDs</key>
	<array>
		<integer>37</integer>
		<integer>821</integer>
	</array>
	<key>attack</key>
	<integer>76</integer>
	<key>class</key>
	<string>Fox Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>Legend has it that this mystical Pokémon was formed when nine saints coalesced into one.</string>
	<key>dex2</key>
	<string>Said to live for a thousand years, this Pokémon uses its supernatural abilities to manipulate fire. It can burn its prey to a crisp as it pleases.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>24</integer>
		<integer>386</integer>
	</array>
	<key>forme</key>
	<string>Ninetales</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>73</integer>
	<key>id</key>
	<integer>37</integer>
	<key>ndex</key>
	<integer>38</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string>Vulpix</string>
	<key>preEvolution</key>
	<integer>24</integer>
	<key>spattack</key>
	<integer>81</integer>
	<key>spdefense</key>
	<integer>100</integer>
	<key>species</key>
	<string>Ninetales</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>505</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>43.9 lbs.</string>
</dict>
</plist>
