<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Cute Charm</string>
	<key>ability2</key>
	<string>Magic Guard</string>
	<key>abilityH</key>
	<string>Friend Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>34</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Fairy Pokémon</string>
	<key>defense</key>
	<integer>48</integer>
	<key>dex1</key>
	<string>Its adorable behavior and appearance make it popular with men and women, young and old. Its numbers are few, however.</string>
	<key>dex2</key>
	<string>On nights with a full moon, they gather together and dance. The surrounding area is enveloped in an abnormal magnetic field.</string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>23</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>22</integer>
		<integer>23</integer>
	</array>
	<key>forme</key>
	<string>Clefairy</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>34</integer>
	<key>ndex</key>
	<integer>35</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string>Cleffa</string>
	<key>preEvolution</key>
	<integer>22</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Clefairy</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>323</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>16.5 lbs.</string>
</dict>
</plist>
