<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Soundproof</string>
	<key>ability2</key>
	<string>Filter</string>
	<key>abilityH</key>
	<string>Technician</string>
	<key>altformIDs</key>
	<array>
		<integer>438</integer>
	</array>
	<key>attack</key>
	<integer>25</integer>
	<key>class</key>
	<string>Mime Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>70</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>70</integer>
	</array>
	<key>forme</key>
	<string>Mime Jr.</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>20</integer>
	<key>id</key>
	<integer>438</integer>
	<key>ndex</key>
	<integer>439</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Mime Jr.</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>310</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>28.7 lbs.</string>
</dict>
</plist>
