<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Natural Cure</string>
	<key>ability2</key>
	<string>Serene Grace</string>
	<key>abilityH</key>
	<string>Healer</string>
	<key>altformIDs</key>
	<array>
		<integer>241</integer>
	</array>
	<key>attack</key>
	<integer>10</integer>
	<key>class</key>
	<string>Happiness Pokémon</string>
	<key>defense</key>
	<integer>10</integer>
	<key>dex1</key>
	<string>Even the most ferocious Pokémon become calm when they eat Blissey’s egg, which is said to be filled with happiness.</string>
	<key>dex2</key>
	<string>Its fluffy fur coat acts as a sensor, enabling it to read the feelings of people and Pokémon.</string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>66</integer>
		<integer>126</integer>
	</array>
	<key>forme</key>
	<string>Blissey</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>255</integer>
	<key>id</key>
	<integer>241</integer>
	<key>ndex</key>
	<integer>242</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Chansey</string>
	<key>preEvolution</key>
	<integer>126</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>135</integer>
	<key>species</key>
	<string>Blissey</string>
	<key>speed</key>
	<integer>55</integer>
	<key>total</key>
	<integer>540</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>103.2 lbs.</string>
</dict>
</plist>
