<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Strong Jaw</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Rock Head</string>
	<key>altformIDs</key>
	<array>
		<integer>696</integer>
	</array>
	<key>attack</key>
	<integer>121</integer>
	<key>class</key>
	<string>Despot Pokémon</string>
	<key>defense</key>
	<integer>119</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array>
		<integer>360</integer>
	</array>
	<key>forme</key>
	<string>Tyrantrum</string>
	<key>height</key>
	<string>8'02</string>
	<key>hp</key>
	<integer>82</integer>
	<key>id</key>
	<integer>696</integer>
	<key>ndex</key>
	<integer>697</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Tyrunt</string>
	<key>preEvolution</key>
	<integer>360</integer>
	<key>spattack</key>
	<integer>69</integer>
	<key>spdefense</key>
	<integer>59</integer>
	<key>species</key>
	<string>Tyrantrum</string>
	<key>speed</key>
	<integer>71</integer>
	<key>total</key>
	<integer>521</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>595.2 lbs.</string>
</dict>
</plist>
