<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Illuminate</string>
	<key>ability2</key>
	<string>Effect Spore</string>
	<key>abilityH</key>
	<string>Rain Dish</string>
	<key>altformIDs</key>
	<array>
		<integer>754</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Illuminating Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string>It scatters spores that flicker and glow. Anyone seeing these lights falls into a deep slumber.</string>
	<key>dex2</key>
	<string>As it drowses the day away, it nourishes itself by sucking from tree roots. It wakens at the fall of night, wandering off in search of a new tree.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>402</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>402</integer>
	</array>
	<key>forme</key>
	<string>Morelull</string>
	<key>height</key>
	<string>0'08</string>
	<key>hp</key>
	<integer>40</integer>
	<key>id</key>
	<integer>754</integer>
	<key>ndex</key>
	<integer>755</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Morelull</string>
	<key>speed</key>
	<integer>15</integer>
	<key>total</key>
	<integer>285</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>3.3 lbs.</string>
</dict>
</plist>
