<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Lightning Rod</string>
	<key>ability2</key>
	<string>Motor Drive</string>
	<key>abilityH</key>
	<string>Sap Sipper</string>
	<key>altformIDs</key>
	<array>
		<integer>521</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Electrified Pokémon</string>
	<key>defense</key>
	<integer>32</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>262</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>262</integer>
	</array>
	<key>forme</key>
	<string>Blitzle</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>521</integer>
	<key>ndex</key>
	<integer>522</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>32</integer>
	<key>species</key>
	<string>Blitzle</string>
	<key>speed</key>
	<integer>76</integer>
	<key>total</key>
	<integer>295</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>65.7 lbs.</string>
</dict>
</plist>
