<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Run Away</string>
	<key>ability2</key>
	<string>Guts</string>
	<key>abilityH</key>
	<string>Hustle</string>
	<key>altformIDs</key>
	<array>
		<integer>18</integer>
		<integer>808</integer>
	</array>
	<key>attack</key>
	<integer>56</integer>
	<key>class</key>
	<string>Mouse Pokémon</string>
	<key>defense</key>
	<integer>35</integer>
	<key>dex1</key>
	<string>Its incisors continue growing until its death. If its Trainer doesn’t offer it a file to gnaw on, it will gnaw on door frames, table legs, and so on.</string>
	<key>dex2</key>
	<string>With their strong capacity for survival, they can live in dirty places without concern. Left unchecked, their numbers multiply rapidly.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>12</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>12</integer>
		<integer>375</integer>
	</array>
	<key>forme</key>
	<string>Rattata</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>30</integer>
	<key>id</key>
	<integer>18</integer>
	<key>ndex</key>
	<integer>19</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>25</integer>
	<key>spdefense</key>
	<integer>35</integer>
	<key>species</key>
	<string>Rattata</string>
	<key>speed</key>
	<integer>72</integer>
	<key>total</key>
	<integer>253</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>7.7 lbs.</string>
</dict>
</plist>
