<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Synchronize</string>
	<key>ability2</key>
	<string>Early Bird</string>
	<key>abilityH</key>
	<string>Magic Bounce</string>
	<key>altformIDs</key>
	<array>
		<integer>177</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Mystic Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>96</integer>
	</array>
	<key>forme</key>
	<string>Xatu</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>177</integer>
	<key>ndex</key>
	<integer>178</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Natu</string>
	<key>preEvolution</key>
	<integer>96</integer>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Xatu</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>470</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>33.1 lbs.</string>
</dict>
</plist>
