<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swift Swim</string>
	<key>ability2</key>
	<string>Storm Drain</string>
	<key>abilityH</key>
	<string>Water Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>455</integer>
	</array>
	<key>attack</key>
	<integer>49</integer>
	<key>class</key>
	<string>Wing Fish Pokémon</string>
	<key>defense</key>
	<integer>56</integer>
	<key>dex1</key>
	<string>It absorbs sunlight with the pink areas of its skin, which then shine. This appears to be a form of camouflage.</string>
	<key>dex2</key>
	<string>Its double tail fins propel its energetic jumps. When it breaks the surface of the sea, Wingull swoop down to grab it on the fly.</string>
	<key>egg-group1</key>
	<string>Water 2</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>230</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>230</integer>
	</array>
	<key>forme</key>
	<string>Finneon</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>49</integer>
	<key>id</key>
	<integer>455</integer>
	<key>ndex</key>
	<integer>456</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>49</integer>
	<key>spdefense</key>
	<integer>61</integer>
	<key>species</key>
	<string>Finneon</string>
	<key>speed</key>
	<integer>66</integer>
	<key>total</key>
	<integer>330</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>15.4 lbs.</string>
</dict>
</plist>
