<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Snow Cloak</string>
	<key>ability2</key>
	<string>Snow Cloak</string>
	<key>abilityH</key>
	<string>Snow Warning</string>
	<key>altformIDs</key>
	<array>
		<integer>36</integer>
		<integer>820</integer>
	</array>
	<key>attack</key>
	<integer>41</integer>
	<key>class</key>
	<string>Fox Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string>It exhales air colder than -58 degrees Fahrenheit. Elderly people in Alola call this Pokémon by an older name—Keokeo.</string>
	<key>dex2</key>
	<string>In hot weather, this Pokémon makes ice shards with its six tails and sprays them around to cool itself off.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>386</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>386</integer>
		<integer>24</integer>
	</array>
	<key>forme</key>
	<string>Vulpix (Alola Form)</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>38</integer>
	<key>id</key>
	<integer>820</integer>
	<key>ndex</key>
	<integer>37</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Vulpix</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>299</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>21.8 lbs.</string>
</dict>
</plist>
