<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pressure</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Unnerve</string>
	<key>altformIDs</key>
	<array>
		<integer>415</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Beehive Pokémon</string>
	<key>defense</key>
	<integer>102</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>211</integer>
	</array>
	<key>forme</key>
	<string>Vespiquen</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>415</integer>
	<key>ndex</key>
	<integer>416</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Combee</string>
	<key>preEvolution</key>
	<integer>211</integer>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>102</integer>
	<key>species</key>
	<string>Vespiquen</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>474</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>84.9 lbs.</string>
</dict>
</plist>
