<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sap Sipper</string>
	<key>ability2</key>
	<string>Hydration</string>
	<key>abilityH</key>
	<string>Gooey</string>
	<key>altformIDs</key>
	<array>
		<integer>704</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Soft Tissue Pokémon</string>
	<key>defense</key>
	<integer>53</integer>
	<key>dex1</key>
	<string>It has trouble drawing a line between friends and food. It will calmly try to melt and eat even those it gets along well with.</string>
	<key>dex2</key>
	<string>This Pokémon’s mucous can dissolve anything. Toothless, it sprays mucous on its prey. Once they’re nicely dissolved, it slurps them up.</string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>366</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>337</integer>
		<integer>366</integer>
	</array>
	<key>forme</key>
	<string>Sliggoo</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>68</integer>
	<key>id</key>
	<integer>704</integer>
	<key>ndex</key>
	<integer>705</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Goomy</string>
	<key>preEvolution</key>
	<integer>337</integer>
	<key>spattack</key>
	<integer>83</integer>
	<key>spdefense</key>
	<integer>113</integer>
	<key>species</key>
	<string>Sliggoo</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>452</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>38.6 lbs.</string>
</dict>
</plist>
