<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Magnet Pull</string>
	<key>ability2</key>
	<string>Sturdy</string>
	<key>abilityH</key>
	<string>Galvanize</string>
	<key>altformIDs</key>
	<array>
		<integer>827</integer>
		<integer>73</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Rock Pokémon</string>
	<key>defense</key>
	<integer>100</integer>
	<key>dex1</key>
	<string>Its body is a magnetic stone. Iron sand attaches firmly to the portions of its body that are particularly magnetic.</string>
	<key>dex2</key>
	<string>If you accidentally step on a Geodude sleeping on the ground, you’ll hear a crunching sound and feel a shock ripple through your entire body.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>413</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>413</integer>
		<integer>414</integer>
		<integer>46</integer>
		<integer>47</integer>
	</array>
	<key>forme</key>
	<string>Geodude (Alola Form)</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>40</integer>
	<key>id</key>
	<integer>827</integer>
	<key>ndex</key>
	<integer>74</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>30</integer>
	<key>species</key>
	<string>Geodude</string>
	<key>speed</key>
	<integer>20</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Electric</string>
	<key>weight</key>
	<string>44.8 lbs.</string>
</dict>
</plist>
