<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Effect Spore</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>590</integer>
	</array>
	<key>attack</key>
	<integer>85</integer>
	<key>class</key>
	<string>Mushroom Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>300</integer>
	</array>
	<key>forme</key>
	<string>Amoonguss</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>114</integer>
	<key>id</key>
	<integer>590</integer>
	<key>ndex</key>
	<integer>591</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Foongus</string>
	<key>preEvolution</key>
	<integer>300</integer>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Amoonguss</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>464</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>23.1 lbs.</string>
</dict>
</plist>
