<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Aerilate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>837</integer>
		<integer>126</integer>
	</array>
	<key>attack</key>
	<integer>155</integer>
	<key>class</key>
	<string>Stag Beetle Pokémon</string>
	<key>defense</key>
	<integer>120</integer>
	<key>dex1</key>
	<string>The influence of Mega Evolution leaves it in a state of constant excitement. It pierces enemies with its two large horns before shredding them.</string>
	<key>dex2</key>
	<string>Bathed in the energy of Mega Evolution, its wings become unusually developed. It flies at speeds of approximately 30 mph.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Pinsir (Mega Pinsir)</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>837</integer>
	<key>ndex</key>
	<integer>127</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Pinsir</string>
	<key>speed</key>
	<integer>105</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>130.1 lbs.</string>
</dict>
</plist>
