<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Unnerve</string>
	<key>altformIDs</key>
	<array>
		<integer>283</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Eyeball Pokémon</string>
	<key>defense</key>
	<integer>62</integer>
	<key>dex1</key>
	<string>It intimidates enemies with the eye-like patterns on its antennae. Its four wings allow it to fly in any direction.</string>
	<key>dex2</key>
	<string>Its wings and antennae don’t cope well with moisture. After a rain, it faces sunward to dry off.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Bug</string>
	<key>evolutionTree</key>
	<array>
		<integer>149</integer>
	</array>
	<key>forme</key>
	<string>Masquerain</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>283</integer>
	<key>ndex</key>
	<integer>284</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Surskit</string>
	<key>preEvolution</key>
	<integer>149</integer>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>82</integer>
	<key>species</key>
	<string>Masquerain</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>454</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>7.9 lbs.</string>
</dict>
</plist>
