<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Illuminate</string>
	<key>ability2</key>
	<string>Effect Spore</string>
	<key>abilityH</key>
	<string>Rain Dish</string>
	<key>altformIDs</key>
	<array>
		<integer>755</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Illuminating Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>Forests where Shiinotic live are treacherous to enter at night. People confused by its strange lights can never find their way home again.</string>
	<key>dex2</key>
	<string>It emits flickering spores that cause drowsiness. When its prey succumb to sleep, this Pokémon feeds on them by sucking in their energy.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>402</integer>
	</array>
	<key>forme</key>
	<string>Shiinotic</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>755</integer>
	<key>ndex</key>
	<integer>756</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Morelull</string>
	<key>preEvolution</key>
	<integer>402</integer>
	<key>spattack</key>
	<integer>90</integer>
	<key>spdefense</key>
	<integer>100</integer>
	<key>species</key>
	<string>Shiinotic</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>405</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>25.4 lbs.</string>
</dict>
</plist>
