<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Unaware</string>
	<key>ability2</key>
	<string>Klutz</string>
	<key>abilityH</key>
	<string>Simple</string>
	<key>altformIDs</key>
	<array>
		<integer>526</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Bat Pokémon</string>
	<key>defense</key>
	<integer>43</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Flying</string>
	<key>evolutionIDs</key>
	<array>
		<integer>265</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>265</integer>
	</array>
	<key>forme</key>
	<string>Woobat</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>526</integer>
	<key>ndex</key>
	<integer>527</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>43</integer>
	<key>species</key>
	<string>Woobat</string>
	<key>speed</key>
	<integer>72</integer>
	<key>total</key>
	<integer>323</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>4.6 lbs.</string>
</dict>
</plist>
