<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>917</integer>
		<integer>478</integer>
		<integer>915</integer>
		<integer>916</integer>
		<integer>918</integer>
		<integer>919</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Plasma Pokémon</string>
	<key>defense</key>
	<integer>107</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Rotom (Frost Rotom)</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>917</integer>
	<key>ndex</key>
	<integer>479</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>107</integer>
	<key>species</key>
	<string>Rotom</string>
	<key>speed</key>
	<integer>86</integer>
	<key>total</key>
	<integer>520</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>0.7 lbs.</string>
</dict>
</plist>
