<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shields Down</string>
	<key>ability2</key>
	<string>Shields Down</string>
	<key>abilityH</key>
	<string>Shields Down</string>
	<key>altformIDs</key>
	<array>
		<integer>1049</integer>
		<integer>773</integer>
		<integer>1050</integer>
		<integer>1051</integer>
		<integer>1052</integer>
		<integer>1053</integer>
		<integer>1054</integer>
		<integer>1055</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Meteor Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>It eats dust in the atmosphere. The composition of the dust determines the color of its core.</string>
	<key>dex2</key>
	<string>If its core stays exposed, it will soon die off. It’s possible that it may survive if it’s put into a Poké Ball quickly enough.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Minior (Red Core)</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>1049</integer>
	<key>ndex</key>
	<integer>774</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Minior</string>
	<key>speed</key>
	<integer>120</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>0.7 lbs.</string>
</dict>
</plist>
