<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Poison Point</string>
	<key>ability2</key>
	<string>Poison Touch</string>
	<key>abilityH</key>
	<string>Adaptability</string>
	<key>altformIDs</key>
	<array>
		<integer>690</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Mock Kelp Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array>
		<integer>359</integer>
	</array>
	<key>forme</key>
	<string>Dragalge</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>690</integer>
	<key>ndex</key>
	<integer>691</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Skrelp</string>
	<key>preEvolution</key>
	<integer>359</integer>
	<key>spattack</key>
	<integer>97</integer>
	<key>spdefense</key>
	<integer>123</integer>
	<key>species</key>
	<string>Dragalge</string>
	<key>speed</key>
	<integer>44</integer>
	<key>total</key>
	<integer>494</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>179.7 lbs.</string>
</dict>
</plist>
