<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Torrent</string>
	<key>ability2</key>
	<string>Torrent</string>
	<key>abilityH</key>
	<string>Liquid Voice</string>
	<key>altformIDs</key>
	<array>
		<integer>727</integer>
	</array>
	<key>attack</key>
	<integer>54</integer>
	<key>class</key>
	<string>Sea Lion Pokémon</string>
	<key>defense</key>
	<integer>54</integer>
	<key>dex1</key>
	<string>This Pokémon snorts body fluids from its nose, blowing balloons to smash into its foes. It’s famous for being a hard worker.</string>
	<key>dex2</key>
	<string>This Pokémon can control water bubbles. It practices diligently so it can learn to make big bubbles.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionIDs</key>
	<array>
		<integer>393</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>393</integer>
		<integer>394</integer>
	</array>
	<key>forme</key>
	<string>Popplio</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>727</integer>
	<key>ndex</key>
	<integer>728</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>66</integer>
	<key>spdefense</key>
	<integer>56</integer>
	<key>species</key>
	<string>Popplio</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>320</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>16.5 lbs.</string>
</dict>
</plist>
