<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shell Armor</string>
	<key>ability2</key>
	<string>Skill Link</string>
	<key>abilityH</key>
	<string>Overcoat</string>
	<key>altformIDs</key>
	<array>
		<integer>90</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Bivalve Pokémon</string>
	<key>defense</key>
	<integer>180</integer>
	<key>dex1</key>
	<string>Its hard shell cannot be shattered—not even by a bomb. The contents of the shell remain unknown.</string>
	<key>dex2</key>
	<string>Excavation of the tombs of ancient hunting tribes has turned up many spears tipped with spikes that had fallen off this Pokémon’s shell.</string>
	<key>egg-group1</key>
	<string>Water 3</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>54</integer>
	</array>
	<key>forme</key>
	<string>Cloyster</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>90</integer>
	<key>ndex</key>
	<integer>91</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shellder</string>
	<key>preEvolution</key>
	<integer>54</integer>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Cloyster</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>525</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>292.1 lbs.</string>
</dict>
</plist>
