<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Clear Body</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Light Metal</string>
	<key>altformIDs</key>
	<array>
		<integer>374</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Iron Claw Pokémon</string>
	<key>defense</key>
	<integer>100</integer>
	<key>dex1</key>
	<string>When two Beldum link together, their psychic power is doubled. Their intelligence, however, remains unchanged.</string>
	<key>dex2</key>
	<string>It adores magnetic minerals, so it pursues Nosepass at speeds exceeding 60 mph.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>189</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>188</integer>
		<integer>189</integer>
	</array>
	<key>forme</key>
	<string>Metang</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>374</integer>
	<key>ndex</key>
	<integer>375</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Beldum</string>
	<key>preEvolution</key>
	<integer>188</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Metang</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>420</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>446.4 lbs.</string>
</dict>
</plist>
