<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overgrow</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Shell Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>388</integer>
	</array>
	<key>attack</key>
	<integer>109</integer>
	<key>class</key>
	<string>Continent Pokémon</string>
	<key>defense</key>
	<integer>105</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionTree</key>
	<array>
		<integer>190</integer>
		<integer>191</integer>
	</array>
	<key>forme</key>
	<string>Torterra</string>
	<key>height</key>
	<string>7'03</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>388</integer>
	<key>ndex</key>
	<integer>389</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Grotle</string>
	<key>preEvolution</key>
	<integer>191</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Torterra</string>
	<key>speed</key>
	<integer>56</integer>
	<key>total</key>
	<integer>525</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>683.4 lbs.</string>
</dict>
</plist>
