<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Speed Boost</string>
	<key>ability2</key>
	<string>Compound Eyes</string>
	<key>abilityH</key>
	<string>Frisk</string>
	<key>altformIDs</key>
	<array>
		<integer>192</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Clear Wing Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>239</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>239</integer>
	</array>
	<key>forme</key>
	<string>Yanma</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>192</integer>
	<key>ndex</key>
	<integer>193</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Yanma</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>390</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>83.8 lbs.</string>
</dict>
</plist>
