<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Serene Grace</string>
	<key>ability2</key>
	<string>Run Away</string>
	<key>abilityH</key>
	<string>Rattled</string>
	<key>altformIDs</key>
	<array>
		<integer>205</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Land Snake Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Dunsparce</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>100</integer>
	<key>id</key>
	<integer>205</integer>
	<key>ndex</key>
	<integer>206</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Dunsparce</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>415</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>30.9 lbs.</string>
</dict>
</plist>
