<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Big Pecks</string>
	<key>ability2</key>
	<string>Super Luck</string>
	<key>abilityH</key>
	<string>Rivalry</string>
	<key>altformIDs</key>
	<array>
		<integer>518</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Tiny Pigeon Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>260</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>260</integer>
		<integer>261</integer>
	</array>
	<key>forme</key>
	<string>Pidove</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>518</integer>
	<key>ndex</key>
	<integer>519</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>36</integer>
	<key>spdefense</key>
	<integer>30</integer>
	<key>species</key>
	<string>Pidove</string>
	<key>speed</key>
	<integer>43</integer>
	<key>total</key>
	<integer>264</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>4.6 lbs.</string>
</dict>
</plist>
