<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string>Own Tempo</string>
	<key>abilityH</key>
	<string>Leaf Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>547</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Bulb Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string>Although the leaves on its head are bitter enough to cause dizziness, they provide relief from weariness—even more so when boiled.</string>
	<key>dex2</key>
	<string>By pruning the leaves on its head with regularity, this Pokémon can be grown into a fine plump shape.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>276</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>276</integer>
	</array>
	<key>forme</key>
	<string>Petilil</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>547</integer>
	<key>ndex</key>
	<integer>548</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Petilil</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>280</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>14.6 lbs.</string>
</dict>
</plist>
