<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Magic Bounce</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>891</integer>
		<integer>358</integer>
	</array>
	<key>attack</key>
	<integer>150</integer>
	<key>class</key>
	<string>Disaster Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>When this Pokémon whips the winglike fur on its back as though beating its wings, it sends an intimidating aura flying at its opponents.</string>
	<key>dex2</key>
	<string>As the energy of Mega Evolution fills it, its fur bristles. What you see on its back are not true wings, and this Pokémon isn’t able to fly.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Absol (Mega Absol)</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>891</integer>
	<key>ndex</key>
	<integer>359</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>115</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Absol</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>565</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>108.0 lbs.</string>
</dict>
</plist>
