<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shed Skin</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Marvel Scale</string>
	<key>altformIDs</key>
	<array>
		<integer>147</integer>
	</array>
	<key>attack</key>
	<integer>84</integer>
	<key>class</key>
	<string>Dragon Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string>It has long been thought that its crystalline orbs are imbued with the power to control the weather.</string>
	<key>dex2</key>
	<string>From time immemorial, it has been venerated by agricultural peoples as an entity able to control the weather.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionIDs</key>
	<array>
		<integer>82</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>81</integer>
		<integer>82</integer>
	</array>
	<key>forme</key>
	<string>Dragonair</string>
	<key>height</key>
	<string>13'01</string>
	<key>hp</key>
	<integer>61</integer>
	<key>id</key>
	<integer>147</integer>
	<key>ndex</key>
	<integer>148</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Dratini</string>
	<key>preEvolution</key>
	<integer>81</integer>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Dragonair</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>420</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>36.4 lbs.</string>
</dict>
</plist>
