<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Rough Skin</string>
	<key>altformIDs</key>
	<array>
		<integer>443</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Cave Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string>In rare cases, it molts and sheds its scales. Medicine containing its scales as an ingredient will make a weary body feel invigorated.</string>
	<key>dex2</key>
	<string>Shiny objects are its passion. It can be found in its cave, scarcely moving, its gaze fixed on the jewels it’s amassed or Carbink it has caught.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionIDs</key>
	<array>
		<integer>225</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>224</integer>
		<integer>225</integer>
	</array>
	<key>forme</key>
	<string>Gabite</string>
	<key>height</key>
	<string>4'07</string>
	<key>hp</key>
	<integer>68</integer>
	<key>id</key>
	<integer>443</integer>
	<key>ndex</key>
	<integer>444</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Gible</string>
	<key>preEvolution</key>
	<integer>224</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Gabite</string>
	<key>speed</key>
	<integer>82</integer>
	<key>total</key>
	<integer>410</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>123.5 lbs.</string>
</dict>
</plist>
