<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Sand Rush</string>
	<key>altformIDs</key>
	<array>
		<integer>26</integer>
		<integer>818</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Mouse Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string>It can roll its body into a ball. It moves through the desert by rolling at high speeds.</string>
	<key>dex2</key>
	<string>It usually makes its home in deserts and arid zones, where rain does not fall. It digs holes to catch Bug-type Pokémon.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>17</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>17</integer>
		<integer>385</integer>
	</array>
	<key>forme</key>
	<string>Sandshrew</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>26</integer>
	<key>ndex</key>
	<integer>27</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>20</integer>
	<key>spdefense</key>
	<integer>30</integer>
	<key>species</key>
	<string>Sandshrew</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>26.5 lbs.</string>
</dict>
</plist>
