<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string>Quick Feet</string>
	<key>abilityH</key>
	<string>Rattled</string>
	<key>altformIDs</key>
	<array>
		<integer>209</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Fairy Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>Its well-developed lower jaw and heavy fangs are its weapons. As long as it’s not provoked, it rarely bites.</string>
	<key>dex2</key>
	<string>More timid than Snubbull, this Pokémon is doted on by young people amused at the contrast between its looks and its attitude.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Fairy</string>
	<key>evolutionTree</key>
	<array>
		<integer>114</integer>
	</array>
	<key>forme</key>
	<string>Granbull</string>
	<key>height</key>
	<string>4'07</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>209</integer>
	<key>ndex</key>
	<integer>210</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Snubbull</string>
	<key>preEvolution</key>
	<integer>114</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Granbull</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>450</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>107.4 lbs.</string>
</dict>
</plist>
