<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Thick Fat</string>
	<key>ability2</key>
	<string>Hydration</string>
	<key>abilityH</key>
	<string>Ice Body</string>
	<key>altformIDs</key>
	<array>
		<integer>86</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Sea Lion Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionTree</key>
	<array>
		<integer>52</integer>
	</array>
	<key>forme</key>
	<string>Dewgong</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>86</integer>
	<key>ndex</key>
	<integer>87</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Seel</string>
	<key>preEvolution</key>
	<integer>52</integer>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Dewgong</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>475</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>264.6 lbs.</string>
</dict>
</plist>
