<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Innards Out</string>
	<key>ability2</key>
	<string>Innards Out</string>
	<key>abilityH</key>
	<string>Unaware</string>
	<key>altformIDs</key>
	<array>
		<integer>770</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Sea Cucumber Pokémon</string>
	<key>defense</key>
	<integer>130</integer>
	<key>dex1</key>
	<string>It lives in shallow seas, such as areas near a beach. It can eject its internal organs, which it uses to engulf its prey or battle enemies.</string>
	<key>dex2</key>
	<string>These Pokémon line the beaches. The sticky mucous that covers their bodies can be used to soothe sunburned skin. How convenient!</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Pyukumuku</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>770</integer>
	<key>ndex</key>
	<integer>771</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>130</integer>
	<key>species</key>
	<string>Pyukumuku</string>
	<key>speed</key>
	<integer>5</integer>
	<key>total</key>
	<integer>410</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>2.6 lbs.</string>
</dict>
</plist>
