<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Oblivious</string>
	<key>ability2</key>
	<string>Own Tempo</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>79</integer>
		<integer>830</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Hermit Crab Pokémon</string>
	<key>defense</key>
	<integer>110</integer>
	<key>dex1</key>
	<string>It spaces out while gazing at the sea. With Shellder’s poison flowing through its body, it becomes even spacier.</string>
	<key>dex2</key>
	<string>Whenever Shellder bites down hard on its tail, it gives Slowbro a flash of inspiration...which it forgets a moment later.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Water 1</string>
	<key>evolutionTree</key>
	<array>
		<integer>110</integer>
		<integer>49</integer>
	</array>
	<key>forme</key>
	<string>Slowbro</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>79</integer>
	<key>ndex</key>
	<integer>80</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Slowpoke</string>
	<key>preEvolution</key>
	<integer>49</integer>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Slowbro</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>490</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>173.1 lbs.</string>
</dict>
</plist>
