<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overcoat</string>
	<key>ability2</key>
	<string>Magic Guard</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>576</integer>
	</array>
	<key>attack</key>
	<integer>30</integer>
	<key>class</key>
	<string>Cell Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>290</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>290</integer>
		<integer>291</integer>
	</array>
	<key>forme</key>
	<string>Solosis</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>576</integer>
	<key>ndex</key>
	<integer>577</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Solosis</string>
	<key>speed</key>
	<integer>20</integer>
	<key>total</key>
	<integer>290</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>2.2 lbs.</string>
</dict>
</plist>
