<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Oblivious</string>
	<key>ability2</key>
	<string>Forewarn</string>
	<key>abilityH</key>
	<string>Hydration</string>
	<key>altformIDs</key>
	<array>
		<integer>237</integer>
	</array>
	<key>attack</key>
	<integer>30</integer>
	<key>class</key>
	<string>Kiss Pokémon</string>
	<key>defense</key>
	<integer>15</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>71</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>71</integer>
	</array>
	<key>forme</key>
	<string>Smoochum</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>237</integer>
	<key>ndex</key>
	<integer>238</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Smoochum</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>305</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>13.2 lbs.</string>
</dict>
</plist>
