<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Insomnia</string>
	<key>ability2</key>
	<string>Keen Eye</string>
	<key>abilityH</key>
	<string>Tinted Lens</string>
	<key>altformIDs</key>
	<array>
		<integer>162</integer>
	</array>
	<key>attack</key>
	<integer>30</integer>
	<key>class</key>
	<string>Owl Pokémon</string>
	<key>defense</key>
	<integer>30</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>90</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>90</integer>
	</array>
	<key>forme</key>
	<string>Hoothoot</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>162</integer>
	<key>ndex</key>
	<integer>163</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>36</integer>
	<key>spdefense</key>
	<integer>56</integer>
	<key>species</key>
	<string>Hoothoot</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>262</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>46.7 lbs.</string>
</dict>
</plist>
