<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Power Construct</string>
	<key>ability2</key>
	<string>Power Construct</string>
	<key>abilityH</key>
	<string>Power Construct</string>
	<key>altformIDs</key>
	<array>
		<integer>1011</integer>
		<integer>717</integer>
		<integer>1014</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Order Pokémon</string>
	<key>defense</key>
	<integer>71</integer>
	<key>dex1</key>
	<string>Its sharp fangs make short work of finishing off its enemies, but it’s unable to maintain this body indefinitely. After a period of time, it falls apart.</string>
	<key>dex2</key>
	<string>This is Zygarde’s form when about 10% of its cells have been gathered. It runs across the land at speeds greater than 60 mph.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Zygarde (10% Forme)</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>54</integer>
	<key>id</key>
	<integer>1011</integer>
	<key>ndex</key>
	<integer>718</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>61</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Zygarde</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>486</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>73.9 lbs.</string>
</dict>
</plist>
