<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>379</integer>
		<integer>895</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Eon Pokémon</string>
	<key>defense</key>
	<integer>120</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Latias (Mega Latias)</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>895</integer>
	<key>ndex</key>
	<integer>380</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>140</integer>
	<key>spdefense</key>
	<integer>150</integer>
	<key>species</key>
	<string>Latias</string>
	<key>speed</key>
	<integer>110</integer>
	<key>total</key>
	<integer>700</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>114.6 lbs.</string>
</dict>
</plist>
