<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Static</string>
	<key>ability2</key>
	<string>Limber</string>
	<key>abilityH</key>
	<string>Sand Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>617</integer>
	</array>
	<key>attack</key>
	<integer>66</integer>
	<key>class</key>
	<string>Trap Pokémon</string>
	<key>defense</key>
	<integer>84</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Amorphous</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Stunfisk</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>109</integer>
	<key>id</key>
	<integer>617</integer>
	<key>ndex</key>
	<integer>618</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>81</integer>
	<key>spdefense</key>
	<integer>99</integer>
	<key>species</key>
	<string>Stunfisk</string>
	<key>speed</key>
	<integer>32</integer>
	<key>total</key>
	<integer>471</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Electric</string>
	<key>weight</key>
	<string>24.3 lbs.</string>
</dict>
</plist>
