<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Blaze</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Flash Fire</string>
	<key>altformIDs</key>
	<array>
		<integer>156</integer>
	</array>
	<key>attack</key>
	<integer>84</integer>
	<key>class</key>
	<string>Volcano Pokémon</string>
	<key>defense</key>
	<integer>78</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>85</integer>
		<integer>86</integer>
	</array>
	<key>forme</key>
	<string>Typhlosion</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>78</integer>
	<key>id</key>
	<integer>156</integer>
	<key>ndex</key>
	<integer>157</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Quilava</string>
	<key>preEvolution</key>
	<integer>86</integer>
	<key>spattack</key>
	<integer>109</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Typhlosion</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>534</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>175.3 lbs.</string>
</dict>
</plist>
