<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Hyper Cutter</string>
	<key>ability2</key>
	<string>Iron Fist</string>
	<key>abilityH</key>
	<string>Anger Point</string>
	<key>altformIDs</key>
	<array>
		<integer>738</integer>
	</array>
	<key>attack</key>
	<integer>82</integer>
	<key>class</key>
	<string>Boxing Pokémon</string>
	<key>defense</key>
	<integer>57</integer>
	<key>dex1</key>
	<string>While guarding its weak points with its pincers, it looks for an opening and unleashes punches. When it loses, it foams at the mouth and faints.</string>
	<key>dex2</key>
	<string>It punches so much, its pincers often come off from overuse, but they grow back quickly. What little meat they contain is rich and delicious.</string>
	<key>egg-group1</key>
	<string>Water 3</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>388</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>388</integer>
	</array>
	<key>forme</key>
	<string>Crabrawler</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>47</integer>
	<key>id</key>
	<integer>738</integer>
	<key>ndex</key>
	<integer>739</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>42</integer>
	<key>spdefense</key>
	<integer>47</integer>
	<key>species</key>
	<string>Crabrawler</string>
	<key>speed</key>
	<integer>63</integer>
	<key>total</key>
	<integer>338</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>15.4 lbs.</string>
</dict>
</plist>
