<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Cute Charm</string>
	<key>ability2</key>
	<string>Klutz</string>
	<key>abilityH</key>
	<string>Limber</string>
	<key>altformIDs</key>
	<array>
		<integer>427</integer>
		<integer>910</integer>
	</array>
	<key>attack</key>
	<integer>76</integer>
	<key>class</key>
	<string>Rabbit Pokémon</string>
	<key>defense</key>
	<integer>84</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Human-Like</string>
	<key>evolutionTree</key>
	<array>
		<integer>218</integer>
		<integer>219</integer>
	</array>
	<key>forme</key>
	<string>Lopunny</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>427</integer>
	<key>ndex</key>
	<integer>428</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Buneary</string>
	<key>preEvolution</key>
	<integer>218</integer>
	<key>spattack</key>
	<integer>54</integer>
	<key>spdefense</key>
	<integer>96</integer>
	<key>species</key>
	<string>Lopunny</string>
	<key>speed</key>
	<integer>105</integer>
	<key>total</key>
	<integer>480</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>73.4 lbs.</string>
</dict>
</plist>
