<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Hydration</string>
	<key>ability2</key>
	<string>Sticky Hold</string>
	<key>abilityH</key>
	<string>Unburden</string>
	<key>altformIDs</key>
	<array>
		<integer>616</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Shell Out Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>314</integer>
	</array>
	<key>forme</key>
	<string>Accelgor</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>616</integer>
	<key>ndex</key>
	<integer>617</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shelmet</string>
	<key>preEvolution</key>
	<integer>314</integer>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Accelgor</string>
	<key>speed</key>
	<integer>145</integer>
	<key>total</key>
	<integer>495</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>55.8 lbs.</string>
</dict>
</plist>
