<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overgrow</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Leaf Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>151</integer>
	</array>
	<key>attack</key>
	<integer>49</integer>
	<key>class</key>
	<string>Leaf Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionIDs</key>
	<array>
		<integer>83</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>83</integer>
		<integer>84</integer>
	</array>
	<key>forme</key>
	<string>Chikorita</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>151</integer>
	<key>ndex</key>
	<integer>152</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>49</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Chikorita</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>318</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>14.1 lbs.</string>
</dict>
</plist>
