<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>309</integer>
		<integer>883</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Discharge Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Manectric (Mega Manectric)</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>883</integer>
	<key>ndex</key>
	<integer>310</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Electrike</string>
	<key>spattack</key>
	<integer>135</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Manectric</string>
	<key>speed</key>
	<integer>135</integer>
	<key>total</key>
	<integer>575</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>97.0 lbs.</string>
</dict>
</plist>
