<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rock Head</string>
	<key>ability2</key>
	<string>Lightning Rod</string>
	<key>abilityH</key>
	<string>Battle Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>103</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Lonely Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string>When it thinks of its deceased mother, it weeps loudly. Mandibuzz that hear its cries will attack it from the air.</string>
	<key>dex2</key>
	<string>The skull it wears on its head is that of its dead mother. According to some, it will evolve when it comes to terms with the pain of her death.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>376</integer>
		<integer>61</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>376</integer>
		<integer>61</integer>
	</array>
	<key>forme</key>
	<string>Cubone</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>103</integer>
	<key>ndex</key>
	<integer>104</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Cubone</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>320</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>14.3 lbs.</string>
</dict>
</plist>
