<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Refrigerate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Snow Warning</string>
	<key>altformIDs</key>
	<array>
		<integer>697</integer>
	</array>
	<key>attack</key>
	<integer>59</integer>
	<key>class</key>
	<string>Tundra Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>361</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>361</integer>
	</array>
	<key>forme</key>
	<string>Amaura</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>77</integer>
	<key>id</key>
	<integer>697</integer>
	<key>ndex</key>
	<integer>698</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>67</integer>
	<key>spdefense</key>
	<integer>63</integer>
	<key>species</key>
	<string>Amaura</string>
	<key>speed</key>
	<integer>46</integer>
	<key>total</key>
	<integer>362</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Ice</string>
	<key>weight</key>
	<string>55.6 lbs.</string>
</dict>
</plist>
