<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Rough Skin</string>
	<key>altformIDs</key>
	<array>
		<integer>442</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Land Shark Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>It lives in caves warmed by geothermal heat. Even so, when the weather gets cold, it will huddle close with others of its kind.</string>
	<key>dex2</key>
	<string>It skulks in caves, and when prey or an enemy passes by, it leaps out and chomps them. The force of its attack sometimes chips its teeth.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionIDs</key>
	<array>
		<integer>224</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>224</integer>
		<integer>225</integer>
	</array>
	<key>forme</key>
	<string>Gible</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>58</integer>
	<key>id</key>
	<integer>442</integer>
	<key>ndex</key>
	<integer>443</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Gible</string>
	<key>speed</key>
	<integer>42</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>45.2 lbs.</string>
</dict>
</plist>
