<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Static</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Motor Drive</string>
	<key>altformIDs</key>
	<array>
		<integer>586</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Sky Squirrel Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>It glides using its cape-like membrane. Electrical energy scatters from it, shocking its friends and foes alike.</string>
	<key>dex2</key>
	<string>It grills berries and bug Pokémon with electric shocks and makes a meal of them. It usually nests in the holes gouged in trees by Pikipek.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Emolga</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>586</integer>
	<key>ndex</key>
	<integer>587</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Emolga</string>
	<key>speed</key>
	<integer>103</integer>
	<key>total</key>
	<integer>428</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>11.0 lbs.</string>
</dict>
</plist>
