<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string>Moxie</string>
	<key>abilityH</key>
	<string>Anger Point</string>
	<key>altformIDs</key>
	<array>
		<integer>550</integer>
	</array>
	<key>attack</key>
	<integer>72</integer>
	<key>class</key>
	<string>Desert Croc Pokémon</string>
	<key>defense</key>
	<integer>35</integer>
	<key>dex1</key>
	<string>It submerges itself in sand and moves as if swimming. This wise behavior keeps its enemies from finding it and maintains its temperature.</string>
	<key>dex2</key>
	<string>It conceals itself in the sand and chomps down on the legs of any prey that unwarily walk over it. Its favorite food is Trapinch.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>277</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>277</integer>
		<integer>278</integer>
	</array>
	<key>forme</key>
	<string>Sandile</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>550</integer>
	<key>ndex</key>
	<integer>551</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>35</integer>
	<key>species</key>
	<string>Sandile</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>292</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Dark</string>
	<key>weight</key>
	<string>33.5 lbs.</string>
</dict>
</plist>
