<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Stench</string>
	<key>ability2</key>
	<string>Weak Armor</string>
	<key>abilityH</key>
	<string>Aftermath</string>
	<key>altformIDs</key>
	<array>
		<integer>568</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Trash Heap Pokémon</string>
	<key>defense</key>
	<integer>82</integer>
	<key>dex1</key>
	<string>Beware the poisonous liquid it shoots from its right arm. If even a little of it gets on you, you’ll experience the effects of the unidentified toxin.</string>
	<key>dex2</key>
	<string>For a time, their numbers increased explosively in Alola. Since the arrival of Grimer, their population has decreased dramatically.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>285</integer>
	</array>
	<key>forme</key>
	<string>Garbodor</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>568</integer>
	<key>ndex</key>
	<integer>569</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Trubbish</string>
	<key>preEvolution</key>
	<integer>285</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>82</integer>
	<key>species</key>
	<string>Garbodor</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>474</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>236.6 lbs.</string>
</dict>
</plist>
