<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Effect Spore</string>
	<key>ability2</key>
	<string>Poison Heal</string>
	<key>abilityH</key>
	<string>Technician</string>
	<key>altformIDs</key>
	<array>
		<integer>285</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Mushroom Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionTree</key>
	<array>
		<integer>150</integer>
	</array>
	<key>forme</key>
	<string>Breloom</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>285</integer>
	<key>ndex</key>
	<integer>286</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shroomish</string>
	<key>preEvolution</key>
	<integer>150</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Breloom</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>460</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Fighting</string>
	<key>weight</key>
	<string>86.4 lbs.</string>
</dict>
</plist>
