<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Leaf Guard</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Chlorophyll</string>
	<key>altformIDs</key>
	<array>
		<integer>469</integer>
	</array>
	<key>attack</key>
	<integer>110</integer>
	<key>class</key>
	<string>Verdant Pokémon</string>
	<key>defense</key>
	<integer>130</integer>
	<key>dex1</key>
	<string>Its cellular composition is closer to that of a plant than an animal. It uses photosynthesis to produce its energy supply without eating food.</string>
	<key>dex2</key>
	<string>The younger they are, the more they smell like fresh grass. With age, their fragrance takes on the odor of fallen leaves.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>108</integer>
		<integer>109</integer>
		<integer>370</integer>
		<integer>372</integer>
		<integer>373</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
	</array>
	<key>forme</key>
	<string>Leafeon</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>469</integer>
	<key>ndex</key>
	<integer>470</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Eevee</string>
	<key>preEvolution</key>
	<integer>372</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Leafeon</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>525</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>56.2 lbs.</string>
</dict>
</plist>
