<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Tinted Lens</string>
	<key>altformIDs</key>
	<array>
		<integer>413</integer>
	</array>
	<key>attack</key>
	<integer>94</integer>
	<key>class</key>
	<string>Moth Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>207</integer>
		<integer>209</integer>
		<integer>210</integer>
		<integer>205</integer>
		<integer>208</integer>
		<integer>206</integer>
	</array>
	<key>forme</key>
	<string>Mothim</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>413</integer>
	<key>ndex</key>
	<integer>414</integer>
	<key>percent-female</key>
	<integer>0</integer>
	<key>percent-male</key>
	<integer>1</integer>
	<key>pre-evolution</key>
	<string>Burmy</string>
	<key>preEvolution</key>
	<integer>210</integer>
	<key>spattack</key>
	<integer>94</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Mothim</string>
	<key>speed</key>
	<integer>66</integer>
	<key>total</key>
	<integer>424</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>51.4 lbs.</string>
</dict>
</plist>
