<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Aftermath</string>
	<key>ability2</key>
	<string>Unburden</string>
	<key>abilityH</key>
	<string>Flare Boost</string>
	<key>altformIDs</key>
	<array>
		<integer>424</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Balloon Pokémon</string>
	<key>defense</key>
	<integer>34</integer>
	<key>dex1</key>
	<string>Stories go that it grabs the hands of small children and drags them away to the afterlife. It dislikes heavy children.</string>
	<key>dex2</key>
	<string>If for some reason its body bursts, its soul spills out with a screaming sound.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>217</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>217</integer>
	</array>
	<key>forme</key>
	<string>Drifloon</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>424</integer>
	<key>ndex</key>
	<integer>425</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>44</integer>
	<key>species</key>
	<string>Drifloon</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>348</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>2.6 lbs.</string>
</dict>
</plist>
