<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Effect Spore</string>
	<key>ability2</key>
	<string>Dry Skin</string>
	<key>abilityH</key>
	<string>Damp</string>
	<key>altformIDs</key>
	<array>
		<integer>45</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Mushroom Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string>No matter how much it eats, the mushrooms growing on its back steal away most of the nutrients it consumes.</string>
	<key>dex2</key>
	<string>Mushrooms called tochukaso sprout from its back. They can be dried and powdered to make a medicine used to extend life.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionIDs</key>
	<array>
		<integer>30</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>30</integer>
	</array>
	<key>forme</key>
	<string>Paras</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>35</integer>
	<key>id</key>
	<integer>45</integer>
	<key>ndex</key>
	<integer>46</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Paras</string>
	<key>speed</key>
	<integer>25</integer>
	<key>total</key>
	<integer>285</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>11.9 lbs.</string>
</dict>
</plist>
