<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string>Levitate</string>
	<key>abilityH</key>
	<string>Levitate</string>
	<key>altformIDs</key>
	<array>
		<integer>737</integer>
		<integer>1018</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Stag Beetle Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string>It zips around, on sharp lookout for an opening. It concentrates electrical energy within its large jaws and uses it to zap its enemies.</string>
	<key>dex2</key>
	<string>It produces electricity via an electrical organ in its abdomen. It overwhelms bird Pokémon with shocking beams of electrical energy.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>418</integer>
		<integer>387</integer>
	</array>
	<key>forme</key>
	<string>Vikavolt</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>77</integer>
	<key>id</key>
	<integer>737</integer>
	<key>ndex</key>
	<integer>738</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Charjabug</string>
	<key>preEvolution</key>
	<integer>387</integer>
	<key>spattack</key>
	<integer>145</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Vikavolt</string>
	<key>speed</key>
	<integer>43</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Electric</string>
	<key>weight</key>
	<string>99.2 lbs.</string>
</dict>
</plist>
