<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rock Head</string>
	<key>ability2</key>
	<string>Lightning Rod</string>
	<key>abilityH</key>
	<string>Battle Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>104</integer>
		<integer>835</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Bone Keeper Pokémon</string>
	<key>defense</key>
	<integer>110</integer>
	<key>dex1</key>
	<string>Originally, it was weak and timid. After evolution, its temperament becomes violent, and it begins to wield bones as weapons.</string>
	<key>dex2</key>
	<string>This Pokémon is out for vengeance on its natural enemy, Mandibuzz. It throws bones like boomerangs to try to take it down.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>376</integer>
		<integer>61</integer>
	</array>
	<key>forme</key>
	<string>Marowak</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>104</integer>
	<key>ndex</key>
	<integer>105</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Cubone</string>
	<key>preEvolution</key>
	<integer>61</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Marowak</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>425</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>99.2 lbs.</string>
</dict>
</plist>
