<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Disguise</string>
	<key>ability2</key>
	<string>Disguise</string>
	<key>abilityH</key>
	<string>Disguise</string>
	<key>altformIDs</key>
	<array>
		<integer>1058</integer>
		<integer>777</integer>
		<integer>1056</integer>
		<integer>1057</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Disguise Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Mimikyu (3)</string>
	<key>height</key>
	<string>0'08</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>1058</integer>
	<key>ndex</key>
	<integer>778</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Mimikyu</string>
	<key>speed</key>
	<integer>120</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>1.5 lbs.</string>
</dict>
</plist>
