<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Overgrow</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Bulletproof</string>
	<key>altformIDs</key>
	<array>
		<integer>649</integer>
	</array>
	<key>attack</key>
	<integer>61</integer>
	<key>class</key>
	<string>Spiny Nut Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>331</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>331</integer>
		<integer>333</integer>
	</array>
	<key>forme</key>
	<string>Chespin</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>56</integer>
	<key>id</key>
	<integer>649</integer>
	<key>ndex</key>
	<integer>650</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>48</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Chespin</string>
	<key>speed</key>
	<integer>38</integer>
	<key>total</key>
	<integer>313</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>19.8 lbs.</string>
</dict>
</plist>
