<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swift Swim</string>
	<key>ability2</key>
	<string>Sniper</string>
	<key>abilityH</key>
	<string>Damp</string>
	<key>altformIDs</key>
	<array>
		<integer>117</integer>
	</array>
	<key>attack</key>
	<integer>67</integer>
	<key>class</key>
	<string>Goldfish Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>When the weather grows warm, they form groups and swim upriver. This sight serves as a poetic reminder that spring has arrived.</string>
	<key>dex2</key>
	<string>Spellbound by the length of its horn and the beauty of its fins, many strange Trainers raise Goldeen and nothing but Goldeen.</string>
	<key>egg-group1</key>
	<string>Water 2</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>68</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>68</integer>
	</array>
	<key>forme</key>
	<string>Goldeen</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>117</integer>
	<key>ndex</key>
	<integer>118</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Goldeen</string>
	<key>speed</key>
	<integer>63</integer>
	<key>total</key>
	<integer>320</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>33.1 lbs.</string>
</dict>
</plist>
