<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>92</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Gas Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>It strikes at humans from total darkness. Those licked by its cold tongue grow weaker with each passing day until they die.</string>
	<key>dex2</key>
	<string>It fears the light and revels in the dark. It may be on the verge of extinction in cities that stay brightly lit at night.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>56</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>55</integer>
		<integer>56</integer>
	</array>
	<key>forme</key>
	<string>Haunter</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>92</integer>
	<key>ndex</key>
	<integer>93</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Gastly</string>
	<key>preEvolution</key>
	<integer>55</integer>
	<key>spattack</key>
	<integer>115</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Haunter</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>405</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>0.2 lbs.</string>
</dict>
</plist>
