<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Stench</string>
	<key>ability2</key>
	<string>Sticky Hold</string>
	<key>abilityH</key>
	<string>Aftermath</string>
	<key>altformIDs</key>
	<array>
		<integer>567</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Trash Bag Pokémon</string>
	<key>defense</key>
	<integer>62</integer>
	<key>dex1</key>
	<string>Unsanitary places are what they like best. They can be spotted in Alola, often with Grimer in hot pursuit.</string>
	<key>dex2</key>
	<string>It gorges on trash until its stomach is full. Then it belches toxic gas. An unlucky whiff of gas will put a person in the hospital.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>285</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>285</integer>
	</array>
	<key>forme</key>
	<string>Trubbish</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>567</integer>
	<key>ndex</key>
	<integer>568</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>62</integer>
	<key>species</key>
	<string>Trubbish</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>329</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>68.3 lbs.</string>
</dict>
</plist>
