<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Reckless</string>
	<key>altformIDs</key>
	<array>
		<integer>396</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Starling Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>197</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>196</integer>
		<integer>197</integer>
	</array>
	<key>forme</key>
	<string>Staravia</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>396</integer>
	<key>ndex</key>
	<integer>397</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Starly</string>
	<key>preEvolution</key>
	<integer>196</integer>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Staravia</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>340</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>34.2 lbs.</string>
</dict>
</plist>
