<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rivalry</string>
	<key>ability2</key>
	<string>Unnerve</string>
	<key>abilityH</key>
	<string>Moxie</string>
	<key>altformIDs</key>
	<array>
		<integer>667</integer>
	</array>
	<key>attack</key>
	<integer>68</integer>
	<key>class</key>
	<string>Royal Pokémon</string>
	<key>defense</key>
	<integer>72</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>364</integer>
	</array>
	<key>forme</key>
	<string>Pyroar</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>86</integer>
	<key>id</key>
	<integer>667</integer>
	<key>ndex</key>
	<integer>668</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string>Litleo</string>
	<key>preEvolution</key>
	<integer>364</integer>
	<key>spattack</key>
	<integer>109</integer>
	<key>spdefense</key>
	<integer>66</integer>
	<key>species</key>
	<string>Pyroar</string>
	<key>speed</key>
	<integer>106</integer>
	<key>total</key>
	<integer>507</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Normal</string>
	<key>weight</key>
	<string>179.7 lbs.</string>
</dict>
</plist>
