<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Synchronize</string>
	<key>ability2</key>
	<string>Inner Focus</string>
	<key>abilityH</key>
	<string>Magic Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>64</integer>
		<integer>826</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Psi Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>It is said to have an IQ of approximately 5,000. Its overflowing psychokinetic powers cause headaches to anyone nearby.</string>
	<key>dex2</key>
	<string>Its brain cells continue to increase in number until its death. The older the Alakazam, the larger its head.</string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>39</integer>
		<integer>40</integer>
	</array>
	<key>forme</key>
	<string>Alakazam</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>64</integer>
	<key>ndex</key>
	<integer>65</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string>Kadabra</string>
	<key>preEvolution</key>
	<integer>40</integer>
	<key>spattack</key>
	<integer>135</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Alakazam</string>
	<key>speed</key>
	<integer>120</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>105.8 lbs.</string>
</dict>
</plist>
