<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string>Technician</string>
	<key>abilityH</key>
	<string>Light Metal</string>
	<key>altformIDs</key>
	<array>
		<integer>211</integer>
		<integer>871</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Pincer Pokémon</string>
	<key>defense</key>
	<integer>100</integer>
	<key>dex1</key>
	<string>It uses its wings to adjust its body temperature. Otherwise, its metal body would become too hot and melt in the heat of battle.</string>
	<key>dex2</key>
	<string>Once it has identified an enemy, this Pokémon smashes it mercilessly with pincers hard as steel.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>115</integer>
	</array>
	<key>forme</key>
	<string>Scizor</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>211</integer>
	<key>ndex</key>
	<integer>212</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Scyther</string>
	<key>preEvolution</key>
	<integer>115</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Scizor</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>260.1 lbs.</string>
</dict>
</plist>
