<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Prankster</string>
	<key>ability2</key>
	<string>Infiltrator</string>
	<key>abilityH</key>
	<string>Chlorophyll</string>
	<key>altformIDs</key>
	<array>
		<integer>546</integer>
	</array>
	<key>attack</key>
	<integer>67</integer>
	<key>class</key>
	<string>Windveiled Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string>It rides on the wind and slips into people’s homes. After it has turned a room into a cotton- filled mess, it giggles to itself and takes off.</string>
	<key>dex2</key>
	<string>This Pokémon appears, riding upon the wind. But if the wind gusts up, it’ll blow the cotton on this Pokémon’s head clean off.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string>Fairy</string>
	<key>evolutionTree</key>
	<array>
		<integer>275</integer>
	</array>
	<key>forme</key>
	<string>Whimsicott</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>546</integer>
	<key>ndex</key>
	<integer>547</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Cottonee</string>
	<key>preEvolution</key>
	<integer>275</integer>
	<key>spattack</key>
	<integer>77</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Whimsicott</string>
	<key>speed</key>
	<integer>116</integer>
	<key>total</key>
	<integer>480</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>14.6 lbs.</string>
</dict>
</plist>
