<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Battle Armor</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Swift Swim</string>
	<key>altformIDs</key>
	<array>
		<integer>346</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Old Shrimp Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 3</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>177</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>177</integer>
	</array>
	<key>forme</key>
	<string>Anorith</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>346</integer>
	<key>ndex</key>
	<integer>347</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Anorith</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>355</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Bug</string>
	<key>weight</key>
	<string>27.6 lbs.</string>
</dict>
</plist>
