<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Aerilate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>893</integer>
		<integer>372</integer>
	</array>
	<key>attack</key>
	<integer>145</integer>
	<key>class</key>
	<string>Dragon Pokémon</string>
	<key>defense</key>
	<integer>130</integer>
	<key>dex1</key>
	<string>Anyone standing in its path gets sliced right in two, while this Pokémon continues its flight without interruption.</string>
	<key>dex2</key>
	<string>Mega Evolution fuels its brutality, and it may even turn on the Trainer who raised it. It’s been dubbed “the blood-soaked crescent.”</string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Salamence (Mega Salamence)</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>893</integer>
	<key>ndex</key>
	<integer>373</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shelgon</string>
	<key>spattack</key>
	<integer>120</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Salamence</string>
	<key>speed</key>
	<integer>120</integer>
	<key>total</key>
	<integer>700</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>248.2 lbs.</string>
</dict>
</plist>
