<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Natural Cure</string>
	<key>ability2</key>
	<string>Serene Grace</string>
	<key>abilityH</key>
	<string>Friend Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>439</integer>
	</array>
	<key>attack</key>
	<integer>5</integer>
	<key>class</key>
	<string>Playhouse Pokémon</string>
	<key>defense</key>
	<integer>5</integer>
	<key>dex1</key>
	<string>It carries a round white rock in its belly pouch. If it gets along well with someone, it will sometimes give that person the rock.</string>
	<key>dex2</key>
	<string>It’s too small to lay eggs yet. As a surrogate, it searches out round white stones.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>66</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>66</integer>
		<integer>126</integer>
	</array>
	<key>forme</key>
	<string>Happiny</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>100</integer>
	<key>id</key>
	<integer>439</integer>
	<key>ndex</key>
	<integer>440</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>15</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Happiny</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>220</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>53.8 lbs.</string>
</dict>
</plist>
