<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shield Dust</string>
	<key>ability2</key>
	<string>Compound Eyes</string>
	<key>abilityH</key>
	<string>Friend Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>663</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Scatterdust Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>339</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>339</integer>
		<integer>338</integer>
	</array>
	<key>forme</key>
	<string>Scatterbug</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>38</integer>
	<key>id</key>
	<integer>663</integer>
	<key>ndex</key>
	<integer>664</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>27</integer>
	<key>spdefense</key>
	<integer>25</integer>
	<key>species</key>
	<string>Scatterbug</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>200</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>5.5 lbs.</string>
</dict>
</plist>
