<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Guts</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Sand Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>245</integer>
	</array>
	<key>attack</key>
	<integer>64</integer>
	<key>class</key>
	<string>Rock Skin Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>127</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>127</integer>
		<integer>128</integer>
	</array>
	<key>forme</key>
	<string>Larvitar</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>245</integer>
	<key>ndex</key>
	<integer>246</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Larvitar</string>
	<key>speed</key>
	<integer>41</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>158.7 lbs.</string>
</dict>
</plist>
