<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Torrent</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Defiant</string>
	<key>altformIDs</key>
	<array>
		<integer>394</integer>
	</array>
	<key>attack</key>
	<integer>86</integer>
	<key>class</key>
	<string>Emperor Pokémon</string>
	<key>defense</key>
	<integer>88</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Field</string>
	<key>evolutionTree</key>
	<array>
		<integer>194</integer>
		<integer>195</integer>
	</array>
	<key>forme</key>
	<string>Empoleon</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>84</integer>
	<key>id</key>
	<integer>394</integer>
	<key>ndex</key>
	<integer>395</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Prinplup</string>
	<key>preEvolution</key>
	<integer>195</integer>
	<key>spattack</key>
	<integer>111</integer>
	<key>spdefense</key>
	<integer>101</integer>
	<key>species</key>
	<string>Empoleon</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>530</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>186.3 lbs.</string>
</dict>
</plist>
