<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Big Pecks</string>
	<key>abilityH</key>
	<string>Hydration</string>
	<key>altformIDs</key>
	<array>
		<integer>579</integer>
	</array>
	<key>attack</key>
	<integer>44</integer>
	<key>class</key>
	<string>Water Bird Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Flying</string>
	<key>evolutionIDs</key>
	<array>
		<integer>292</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>292</integer>
	</array>
	<key>forme</key>
	<string>Ducklett</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>62</integer>
	<key>id</key>
	<integer>579</integer>
	<key>ndex</key>
	<integer>580</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>44</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Ducklett</string>
	<key>speed</key>
	<integer>55</integer>
	<key>total</key>
	<integer>305</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>12.1 lbs.</string>
</dict>
</plist>
