<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rivalry</string>
	<key>ability2</key>
	<string>Mold Breaker</string>
	<key>abilityH</key>
	<string>Unnerve</string>
	<key>altformIDs</key>
	<array>
		<integer>611</integer>
	</array>
	<key>attack</key>
	<integer>147</integer>
	<key>class</key>
	<string>Axe Jaw Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array>
		<integer>311</integer>
		<integer>312</integer>
	</array>
	<key>forme</key>
	<string>Haxorus</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>76</integer>
	<key>id</key>
	<integer>611</integer>
	<key>ndex</key>
	<integer>612</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Fraxure</string>
	<key>preEvolution</key>
	<integer>312</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Haxorus</string>
	<key>speed</key>
	<integer>97</integer>
	<key>total</key>
	<integer>540</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>232.6 lbs.</string>
</dict>
</plist>
