<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string>Flash Fire</string>
	<key>abilityH</key>
	<string>Justified</string>
	<key>altformIDs</key>
	<array>
		<integer>58</integer>
	</array>
	<key>attack</key>
	<integer>110</integer>
	<key>class</key>
	<string>Legendary Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>Overflowing with beauty and majesty, this strong Pokémon appears in ancient Eastern folklore.</string>
	<key>dex2</key>
	<string>The fire burning inside its body serves as the energy to fuel it as it runs great distances. It appears in many legends.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>36</integer>
	</array>
	<key>forme</key>
	<string>Arcanine</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>58</integer>
	<key>ndex</key>
	<integer>59</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string>Growlithe</string>
	<key>preEvolution</key>
	<integer>36</integer>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Arcanine</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>555</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>341.7 lbs.</string>
</dict>
</plist>
