<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Big Pecks</string>
	<key>ability2</key>
	<string>Overcoat</string>
	<key>abilityH</key>
	<string>Weak Armor</string>
	<key>altformIDs</key>
	<array>
		<integer>628</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Diapered Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>It protects its plump posterior with the bones of prey it has consumed. As it grows, it replaces the bones.</string>
	<key>dex2</key>
	<string>It can’t fly yet and must wait until its wings have developed more. Since it’s still at a playful age, it hops around friskily.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>319</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>319</integer>
	</array>
	<key>forme</key>
	<string>Vullaby</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>628</integer>
	<key>ndex</key>
	<integer>629</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Vullaby</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>370</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>19.8 lbs.</string>
</dict>
</plist>
