<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Adaptability</string>
	<key>ability2</key>
	<string>Download</string>
	<key>abilityH</key>
	<string>Analytic</string>
	<key>altformIDs</key>
	<array>
		<integer>473</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Virtual Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string>In order to create a more advanced Pokémon, an additional program was installed, but apparently it contained a defect that makes it move oddly.</string>
	<key>dex2</key>
	<string>Its program was modified to facilitate extra-dimensional activities, but that led to noticeably strange behavior.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>124</integer>
		<integer>242</integer>
	</array>
	<key>forme</key>
	<string>Porygon-Z</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>473</integer>
	<key>ndex</key>
	<integer>474</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Porygon2</string>
	<key>preEvolution</key>
	<integer>242</integer>
	<key>spattack</key>
	<integer>135</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Porygon-Z</string>
	<key>speed</key>
	<integer>90</integer>
	<key>total</key>
	<integer>535</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>75.0 lbs.</string>
</dict>
</plist>
