<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Fluffy</string>
	<key>ability2</key>
	<string>Klutz</string>
	<key>abilityH</key>
	<string>Unnerve</string>
	<key>altformIDs</key>
	<array>
		<integer>759</integer>
	</array>
	<key>attack</key>
	<integer>125</integer>
	<key>class</key>
	<string>Strong Arm Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>This immensely dangerous Pokémon possesses overwhelming physical strength. Its habitat is generally off-limits.</string>
	<key>dex2</key>
	<string>This Pokémon has the habit of hugging its companions. Many Trainers have left this world after their spines were squashed by its hug.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>403</integer>
	</array>
	<key>forme</key>
	<string>Bewear</string>
	<key>height</key>
	<string>6'11</string>
	<key>hp</key>
	<integer>120</integer>
	<key>id</key>
	<integer>759</integer>
	<key>ndex</key>
	<integer>760</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Stufful</string>
	<key>preEvolution</key>
	<integer>403</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Bewear</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Fighting</string>
	<key>weight</key>
	<string>297.6 lbs.</string>
</dict>
</plist>
