<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Thick Fat</string>
	<key>ability2</key>
	<string>Own Tempo</string>
	<key>abilityH</key>
	<string>Defiant</string>
	<key>altformIDs</key>
	<array>
		<integer>431</integer>
	</array>
	<key>attack</key>
	<integer>82</integer>
	<key>class</key>
	<string>Tiger Cat Pokémon</string>
	<key>defense</key>
	<integer>64</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>221</integer>
	</array>
	<key>forme</key>
	<string>Purugly</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>71</integer>
	<key>id</key>
	<integer>431</integer>
	<key>ndex</key>
	<integer>432</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string>Glameow</string>
	<key>preEvolution</key>
	<integer>221</integer>
	<key>spattack</key>
	<integer>64</integer>
	<key>spdefense</key>
	<integer>59</integer>
	<key>species</key>
	<string>Purugly</string>
	<key>speed</key>
	<integer>112</integer>
	<key>total</key>
	<integer>452</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>96.6 lbs.</string>
</dict>
</plist>
