<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Keen Eye</string>
	<key>abilityH</key>
	<string>Sniper</string>
	<key>altformIDs</key>
	<array>
		<integer>21</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Beak Pokémon</string>
	<key>defense</key>
	<integer>65</integer>
	<key>dex1</key>
	<string>It’s tough and has excellent stamina. It has no problem flying continuously for a whole day carrying a heavy load.</string>
	<key>dex2</key>
	<string>Drawings of a Pokémon resembling Fearow can be seen in murals from deep in ancient history.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>13</integer>
	</array>
	<key>forme</key>
	<string>Fearow</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>21</integer>
	<key>ndex</key>
	<integer>22</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Spearow</string>
	<key>preEvolution</key>
	<integer>13</integer>
	<key>spattack</key>
	<integer>61</integer>
	<key>spdefense</key>
	<integer>61</integer>
	<key>species</key>
	<string>Fearow</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>442</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>83.8 lbs.</string>
</dict>
</plist>
