<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Illuminate</string>
	<key>ability2</key>
	<string>Keen Eye</string>
	<key>abilityH</key>
	<string>Analytic</string>
	<key>altformIDs</key>
	<array>
		<integer>504</integer>
	</array>
	<key>attack</key>
	<integer>85</integer>
	<key>class</key>
	<string>Lookout Pokémon</string>
	<key>defense</key>
	<integer>69</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>252</integer>
	</array>
	<key>forme</key>
	<string>Watchog</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>504</integer>
	<key>ndex</key>
	<integer>505</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Patrat</string>
	<key>preEvolution</key>
	<integer>252</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>69</integer>
	<key>species</key>
	<string>Watchog</string>
	<key>speed</key>
	<integer>77</integer>
	<key>total</key>
	<integer>420</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>59.5 lbs.</string>
</dict>
</plist>
