<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shield Dust</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Run Away</string>
	<key>altformIDs</key>
	<array>
		<integer>12</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Hairy Bug Pokémon</string>
	<key>defense</key>
	<integer>30</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>8</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>8</integer>
		<integer>9</integer>
	</array>
	<key>forme</key>
	<string>Weedle</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>40</integer>
	<key>id</key>
	<integer>12</integer>
	<key>ndex</key>
	<integer>13</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>20</integer>
	<key>spdefense</key>
	<integer>20</integer>
	<key>species</key>
	<string>Weedle</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>195</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>7.1 lbs.</string>
</dict>
</plist>
