<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Water Bubble</string>
	<key>ability2</key>
	<string>Water Bubble</string>
	<key>abilityH</key>
	<string>Water Absorb</string>
	<key>altformIDs</key>
	<array>
		<integer>750</integer>
	</array>
	<key>attack</key>
	<integer>40</integer>
	<key>class</key>
	<string>Water Bubble Pokémon</string>
	<key>defense</key>
	<integer>52</integer>
	<key>dex1</key>
	<string>It crawls onto the land in search of food. Its water bubble allows it to breathe and protects its soft head.</string>
	<key>dex2</key>
	<string>When it comes across enemies or potential prey, this Pokémon smashes its water-bubble-covered head into them.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Bug</string>
	<key>evolutionIDs</key>
	<array>
		<integer>400</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>400</integer>
	</array>
	<key>forme</key>
	<string>Dewpider</string>
	<key>height</key>
	<string>1'00</string>
	<key>hp</key>
	<integer>38</integer>
	<key>id</key>
	<integer>750</integer>
	<key>ndex</key>
	<integer>751</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>72</integer>
	<key>species</key>
	<string>Dewpider</string>
	<key>speed</key>
	<integer>27</integer>
	<key>total</key>
	<integer>269</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Bug</string>
	<key>weight</key>
	<string>8.8 lbs.</string>
</dict>
</plist>
