<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Early Bird</string>
	<key>ability2</key>
	<string>Flash Fire</string>
	<key>abilityH</key>
	<string>Unnerve</string>
	<key>altformIDs</key>
	<array>
		<integer>227</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Dark Pokémon</string>
	<key>defense</key>
	<integer>30</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>121</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>121</integer>
	</array>
	<key>forme</key>
	<string>Houndour</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>227</integer>
	<key>ndex</key>
	<integer>228</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Houndour</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>330</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Fire</string>
	<key>weight</key>
	<string>23.8 lbs.</string>
</dict>
</plist>
