<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Snow Cloak</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Cursed Body</string>
	<key>altformIDs</key>
	<array>
		<integer>477</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Snow Land Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string>When it finds humans or Pokémon it likes, it freezes them and takes them to its chilly den, where they become decorations.</string>
	<key>dex2</key>
	<string>The soul of a woman lost on a snowy mountain possessed an icicle, becoming this Pokémon. The food it most relishes is the souls of men.</string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string>Mineral</string>
	<key>evolutionTree</key>
	<array>
		<integer>181</integer>
		<integer>245</integer>
	</array>
	<key>forme</key>
	<string>Froslass</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>477</integer>
	<key>ndex</key>
	<integer>478</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Snorunt</string>
	<key>preEvolution</key>
	<integer>245</integer>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Froslass</string>
	<key>speed</key>
	<integer>110</integer>
	<key>total</key>
	<integer>480</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string>Ghost</string>
	<key>weight</key>
	<string>58.6 lbs.</string>
</dict>
</plist>
