<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shadow Tag</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>93</integer>
		<integer>833</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Shadow Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>Gengar’s relationships are warped. It has no interest in opponents unless it perceives them as prey.</string>
	<key>dex2</key>
	<string>The energy of Mega Evolution awakened it. It sinks into another dimension, where it keeps a patient watch for its chance to attack.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Gengar (Mega Gengar)</string>
	<key>height</key>
	<string>4'07</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>833</integer>
	<key>ndex</key>
	<integer>94</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Haunter</string>
	<key>spattack</key>
	<integer>170</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Gengar</string>
	<key>speed</key>
	<integer>130</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>89.3 lbs.</string>
</dict>
</plist>
