<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string>Flash Fire</string>
	<key>abilityH</key>
	<string>Justified</string>
	<key>altformIDs</key>
	<array>
		<integer>57</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Puppy Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>It’s both clever and loyal, but if a stranger tries to invade its territory, it barks threateningly.</string>
	<key>dex2</key>
	<string>It looks cute, but when you approach another Trainer’s Growlithe, it will bark at you and bite.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>36</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>36</integer>
	</array>
	<key>forme</key>
	<string>Growlithe</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>57</integer>
	<key>ndex</key>
	<integer>58</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Growlithe</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>350</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>41.9 lbs.</string>
</dict>
</plist>
