<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Synchronize</string>
	<key>ability2</key>
	<string>Inner Focus</string>
	<key>abilityH</key>
	<string>Magic Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>62</integer>
	</array>
	<key>attack</key>
	<integer>20</integer>
	<key>class</key>
	<string>Psi Pokémon</string>
	<key>defense</key>
	<integer>15</integer>
	<key>dex1</key>
	<string>It sleeps 18 hours a day. Even while sleeping, it will teleport itself to treetops and pick and eat berries there.</string>
	<key>dex2</key>
	<string>It can teleport itself to safety while it’s asleep, but when it wakes, it doesn’t know where it is, so it panics.</string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>39</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>39</integer>
		<integer>40</integer>
	</array>
	<key>forme</key>
	<string>Abra</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>25</integer>
	<key>id</key>
	<integer>62</integer>
	<key>ndex</key>
	<integer>63</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Abra</string>
	<key>speed</key>
	<integer>90</integer>
	<key>total</key>
	<integer>310</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>43.0 lbs.</string>
</dict>
</plist>
