<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Berserk</string>
	<key>ability2</key>
	<string>Sap Sipper</string>
	<key>abilityH</key>
	<string>Cloud Nine</string>
	<key>altformIDs</key>
	<array>
		<integer>779</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Placid Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string>It has a compassionate personality, but if it is angered, it completely destroys its surroundings with its intense breath.</string>
	<key>dex2</key>
	<string>This Pokémon is friendly to people and loves children most of all. It comes from deep in the mountains to play with children it likes in town.</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Drampa</string>
	<key>height</key>
	<string>9'10</string>
	<key>hp</key>
	<integer>78</integer>
	<key>id</key>
	<integer>779</integer>
	<key>ndex</key>
	<integer>780</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>135</integer>
	<key>spdefense</key>
	<integer>91</integer>
	<key>species</key>
	<string>Drampa</string>
	<key>speed</key>
	<integer>36</integer>
	<key>total</key>
	<integer>485</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>407.9 lbs.</string>
</dict>
</plist>
