<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sand Veil</string>
	<key>ability2</key>
	<string>Tangling Hair</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>823</integer>
		<integer>50</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Mole Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>Its shining gold hair provides it with protection. It’s reputed that keeping any of its fallen hairs will bring bad luck.</string>
	<key>dex2</key>
	<string>These Pokémon are cherished in the Alola region, where they are thought to be feminine deities of the land incarnate.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>411</integer>
		<integer>32</integer>
	</array>
	<key>forme</key>
	<string>Dugtrio (Alola Form)</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>35</integer>
	<key>id</key>
	<integer>823</integer>
	<key>ndex</key>
	<integer>51</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Diglett (Alola Form)</string>
	<key>preEvolution</key>
	<integer>411</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Dugtrio</string>
	<key>speed</key>
	<integer>110</integer>
	<key>total</key>
	<integer>425</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>146.8 lbs.</string>
</dict>
</plist>
