<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shadow Tag</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Telepathy</string>
	<key>altformIDs</key>
	<array>
		<integer>359</integer>
	</array>
	<key>attack</key>
	<integer>23</integer>
	<key>class</key>
	<string>Bright Pokémon</string>
	<key>defense</key>
	<integer>48</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>111</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>111</integer>
	</array>
	<key>forme</key>
	<string>Wynaut</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>359</integer>
	<key>ndex</key>
	<integer>360</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>23</integer>
	<key>spdefense</key>
	<integer>48</integer>
	<key>species</key>
	<string>Wynaut</string>
	<key>speed</key>
	<integer>23</integer>
	<key>total</key>
	<integer>260</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>30.9 lbs.</string>
</dict>
</plist>
