<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Beast Boost</string>
	<key>ability2</key>
	<string>Beast Boost</string>
	<key>abilityH</key>
	<string>Beast Boost</string>
	<key>altformIDs</key>
	<array>
		<integer>793</integer>
	</array>
	<key>attack</key>
	<integer>139</integer>
	<key>class</key>
	<string>Swollen Pokémon</string>
	<key>defense</key>
	<integer>139</integer>
	<key>dex1</key>
	<string>This Ultra Beast appeared from another world. It shows off its body, but whether that display is a boast or a threat remains unclear.</string>
	<key>dex2</key>
	<string>A mysterious life-form called an Ultra Beast. Witnesses saw it pulverize a dump truck with a single punch.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Buzzwole</string>
	<key>height</key>
	<string>7'10</string>
	<key>hp</key>
	<integer>107</integer>
	<key>id</key>
	<integer>793</integer>
	<key>ndex</key>
	<integer>794</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>53</integer>
	<key>spdefense</key>
	<integer>53</integer>
	<key>species</key>
	<string>Buzzwole</string>
	<key>speed</key>
	<integer>79</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Fighting</string>
	<key>weight</key>
	<string>735.5 lbs.</string>
</dict>
</plist>
