<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Fur Coat</string>
	<key>ability2</key>
	<string>Technician</string>
	<key>abilityH</key>
	<string>Rattled</string>
	<key>altformIDs</key>
	<array>
		<integer>825</integer>
		<integer>52</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Classy Cat Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>Its round face and smooth coat—softer than the most high-class velvet—have made this a very popular Pokémon in Alola.</string>
	<key>dex2</key>
	<string>It looks down on everyone other than itself. Its preferred tactics are sucker punches and blindside attacks.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>412</integer>
		<integer>33</integer>
	</array>
	<key>forme</key>
	<string>Persian (Alola Form)</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>825</integer>
	<key>ndex</key>
	<integer>53</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Meowth (Alola Form)</string>
	<key>preEvolution</key>
	<integer>412</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Persian</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>440</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>72.8 lbs.</string>
</dict>
</plist>
