<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Oblivious</string>
	<key>ability2</key>
	<string>Own Tempo</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>198</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Royal Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>A poisonous bite reacted with its system, blessing it with the enhanced intellect of a genius. It has full control of its psychic powers.</string>
	<key>dex2</key>
	<string>This Pokémon is so famed for its intellect that a proverb still persists in some regions: “When in doubt, ask Slowking.”</string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Water 1</string>
	<key>evolutionTree</key>
	<array>
		<integer>110</integer>
		<integer>49</integer>
	</array>
	<key>forme</key>
	<string>Slowking</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>198</integer>
	<key>ndex</key>
	<integer>199</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Slowpoke</string>
	<key>preEvolution</key>
	<integer>110</integer>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>110</integer>
	<key>species</key>
	<string>Slowking</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>490</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>175.3 lbs.</string>
</dict>
</plist>
