<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Magician</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>719</integer>
		<integer>1016</integer>
	</array>
	<key>attack</key>
	<integer>160</integer>
	<key>class</key>
	<string>Djinn Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Hoopa (Hoopa Unbound)</string>
	<key>height</key>
	<string>21'04</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>1016</integer>
	<key>ndex</key>
	<integer>720</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>170</integer>
	<key>spdefense</key>
	<integer>130</integer>
	<key>species</key>
	<string>Hoopa</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>680</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string>Dark</string>
	<key>weight</key>
	<string>1080.3 lbs.</string>
</dict>
</plist>
