<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>RKS System</string>
	<key>ability2</key>
	<string>RKS System</string>
	<key>abilityH</key>
	<string>RKS System</string>
	<key>altformIDs</key>
	<array>
		<integer>772</integer>
		<integer>1026</integer>
		<integer>1027</integer>
		<integer>1028</integer>
		<integer>1029</integer>
		<integer>1030</integer>
		<integer>1031</integer>
		<integer>1032</integer>
		<integer>1033</integer>
		<integer>1034</integer>
		<integer>1035</integer>
		<integer>1036</integer>
		<integer>1037</integer>
		<integer>1038</integer>
		<integer>1039</integer>
		<integer>1040</integer>
		<integer>1041</integer>
		<integer>1042</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Synthetic Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string>It destroyed its own control mask. It has become capable of changing its type by equipping special memories.</string>
	<key>dex2</key>
	<string>Upon awakening, its RKS System is activated. By employing specific memories, this Pokémon can adapt its type to confound its enemies.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Silvally (Type: Electric)</string>
	<key>height</key>
	<string>7'07</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>1037</integer>
	<key>ndex</key>
	<integer>773</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Type: Null</string>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Silvally</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>221.6 lbs.</string>
</dict>
</plist>
