<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Misty Surge</string>
	<key>ability2</key>
	<string>Misty Surge</string>
	<key>abilityH</key>
	<string>Telepathy</string>
	<key>altformIDs</key>
	<array>
		<integer>787</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Land Spirit Pokémon</string>
	<key>defense</key>
	<integer>115</integer>
	<key>dex1</key>
	<string>The dense fog it creates brings the downfall and destruction of its confused enemies. Ocean currents are the source of its energy.</string>
	<key>dex2</key>
	<string>The guardian deity of Poni, it can control water. People say it can create pure water that will wash away any uncleanness.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Tapu Fini</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>787</integer>
	<key>ndex</key>
	<integer>788</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>130</integer>
	<key>species</key>
	<string>Tapu Fini</string>
	<key>speed</key>
	<integer>85</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>46.7 lbs.</string>
</dict>
</plist>
