<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Guts</string>
	<key>ability2</key>
	<string>No Guard</string>
	<key>abilityH</key>
	<string>Steadfast</string>
	<key>altformIDs</key>
	<array>
		<integer>67</integer>
	</array>
	<key>attack</key>
	<integer>130</integer>
	<key>class</key>
	<string>Superpower Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>It unleashes megaton-level punches that send opponents flying clear over the horizon.</string>
	<key>dex2</key>
	<string>It can lift heavy loads with the greatest of ease. It can even heft dump trucks. But its clumsy fingers prevent it from doing any precision work.</string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>41</integer>
		<integer>42</integer>
	</array>
	<key>forme</key>
	<string>Machamp</string>
	<key>height</key>
	<string>5'03</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>67</integer>
	<key>ndex</key>
	<integer>68</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string>Machoke</string>
	<key>preEvolution</key>
	<integer>42</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Machamp</string>
	<key>speed</key>
	<integer>55</integer>
	<key>total</key>
	<integer>505</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>286.6 lbs.</string>
</dict>
</plist>
