<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Snow Cloak</string>
	<key>ability2</key>
	<string>Snow Cloak</string>
	<key>abilityH</key>
	<string>Snow Warning</string>
	<key>altformIDs</key>
	<array>
		<integer>37</integer>
		<integer>821</integer>
	</array>
	<key>attack</key>
	<integer>67</integer>
	<key>class</key>
	<string>Fox Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>It creates drops of ice in its coat and showers them over its enemies. Anyone who angers it will be frozen stiff in an instant.</string>
	<key>dex2</key>
	<string>Possessing a calm demeanor, this Pokémon was revered as a deity incarnate before it was identified as a regional variant of Ninetales.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>386</integer>
		<integer>24</integer>
	</array>
	<key>forme</key>
	<string>Ninetales (Alola Form)</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>73</integer>
	<key>id</key>
	<integer>821</integer>
	<key>ndex</key>
	<integer>38</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string>Vulpix (Alola Form)</string>
	<key>preEvolution</key>
	<integer>386</integer>
	<key>spattack</key>
	<integer>81</integer>
	<key>spdefense</key>
	<integer>100</integer>
	<key>species</key>
	<string>Ninetales</string>
	<key>speed</key>
	<integer>109</integer>
	<key>total</key>
	<integer>505</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string>Fairy</string>
	<key>weight</key>
	<string>43.9 lbs.</string>
</dict>
</plist>
