<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>329</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Mystic Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>The flapping of its wings sounds something like singing. Those lured by the sound are enveloped in a sandstorm, becoming Flygon’s prey.</string>
	<key>dex2</key>
	<string>This Pokémon hides in the heart of sandstorms it creates and seldom appears where people can see it.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>169</integer>
		<integer>170</integer>
	</array>
	<key>forme</key>
	<string>Flygon</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>329</integer>
	<key>ndex</key>
	<integer>330</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Vibrava</string>
	<key>preEvolution</key>
	<integer>170</integer>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Flygon</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>520</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>180.8 lbs.</string>
</dict>
</plist>
