<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Water Absorb</string>
	<key>ability2</key>
	<string>Chlorophyll</string>
	<key>abilityH</key>
	<string>Storm Drain</string>
	<key>altformIDs</key>
	<array>
		<integer>555</integer>
	</array>
	<key>attack</key>
	<integer>86</integer>
	<key>class</key>
	<string>Cactus Pokémon</string>
	<key>defense</key>
	<integer>67</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Maractus</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>555</integer>
	<key>ndex</key>
	<integer>556</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>106</integer>
	<key>spdefense</key>
	<integer>67</integer>
	<key>species</key>
	<string>Maractus</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>461</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>61.7 lbs.</string>
</dict>
</plist>
