<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Guts</string>
	<key>ability2</key>
	<string>Inner Focus</string>
	<key>abilityH</key>
	<string>Mold Breaker</string>
	<key>altformIDs</key>
	<array>
		<integer>537</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Judo Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Throh</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>120</integer>
	<key>id</key>
	<integer>537</integer>
	<key>ndex</key>
	<integer>538</integer>
	<key>percent-female</key>
	<integer>0</integer>
	<key>percent-male</key>
	<integer>1</integer>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>85</integer>
	<key>species</key>
	<string>Throh</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>465</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>122.4 lbs.</string>
</dict>
</plist>
