<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shield Dust</string>
	<key>ability2</key>
	<string>Tinted Lens</string>
	<key>abilityH</key>
	<string>Wonder Skin</string>
	<key>altformIDs</key>
	<array>
		<integer>48</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Poison Moth Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>31</integer>
	</array>
	<key>forme</key>
	<string>Venomoth</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>48</integer>
	<key>ndex</key>
	<integer>49</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Venonat</string>
	<key>preEvolution</key>
	<integer>31</integer>
	<key>spattack</key>
	<integer>90</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Venomoth</string>
	<key>speed</key>
	<integer>90</integer>
	<key>total</key>
	<integer>450</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>27.6 lbs.</string>
</dict>
</plist>
