<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Leaf Guard</string>
	<key>ability2</key>
	<string>Chlorophyll</string>
	<key>abilityH</key>
	<string>Overcoat</string>
	<key>altformIDs</key>
	<array>
		<integer>540</integer>
	</array>
	<key>attack</key>
	<integer>63</integer>
	<key>class</key>
	<string>Leaf-Wrapped Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>272</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>271</integer>
		<integer>272</integer>
	</array>
	<key>forme</key>
	<string>Swadloon</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>540</integer>
	<key>ndex</key>
	<integer>541</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Sewaddle</string>
	<key>preEvolution</key>
	<integer>271</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Swadloon</string>
	<key>speed</key>
	<integer>42</integer>
	<key>total</key>
	<integer>380</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>16.1 lbs.</string>
</dict>
</plist>
