<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Cute Charm</string>
	<key>ability2</key>
	<string>Technician</string>
	<key>abilityH</key>
	<string>Skill Link</string>
	<key>altformIDs</key>
	<array>
		<integer>572</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Scarf Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>287</integer>
	</array>
	<key>forme</key>
	<string>Cinccino</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>572</integer>
	<key>ndex</key>
	<integer>573</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Minccino</string>
	<key>preEvolution</key>
	<integer>287</integer>
	<key>spattack</key>
	<integer>65</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Cinccino</string>
	<key>speed</key>
	<integer>115</integer>
	<key>total</key>
	<integer>470</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>16.5 lbs.</string>
</dict>
</plist>
