<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Mummy</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>561</integer>
	</array>
	<key>attack</key>
	<integer>30</integer>
	<key>class</key>
	<string>Spirit Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string>Amorphous</string>
	<key>evolutionIDs</key>
	<array>
		<integer>282</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>282</integer>
	</array>
	<key>forme</key>
	<string>Yamask</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>38</integer>
	<key>id</key>
	<integer>561</integer>
	<key>ndex</key>
	<integer>562</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Yamask</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>303</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>3.3 lbs.</string>
</dict>
</plist>
