<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Vital Spirit</string>
	<key>abilityH</key>
	<string>No Guard</string>
	<key>altformIDs</key>
	<array>
		<integer>1022</integer>
		<integer>744</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>Wolf Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string>The more intimidating the opponent it faces, the more this Pokémon’s blood boils. It will attack with no regard for its own safety.</string>
	<key>dex2</key>
	<string>It goads its enemies into attacking, withstands the hits, and in return, delivers a headbutt, crushing their bones with its rocky mane.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>378</integer>
		<integer>379</integer>
	</array>
	<key>forme</key>
	<string>Lycanroc (Midnight Form)</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>1022</integer>
	<key>ndex</key>
	<integer>745</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Rockruff</string>
	<key>preEvolution</key>
	<integer>379</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Lycanroc</string>
	<key>speed</key>
	<integer>82</integer>
	<key>total</key>
	<integer>487</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>55.1 lbs.</string>
</dict>
</plist>
