<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Clear Body</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Light Metal</string>
	<key>altformIDs</key>
	<array>
		<integer>378</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Iron Pokémon</string>
	<key>defense</key>
	<integer>150</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Registeel</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>378</integer>
	<key>ndex</key>
	<integer>379</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>150</integer>
	<key>species</key>
	<string>Registeel</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>580</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>451.9 lbs.</string>
</dict>
</plist>
