<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string>Swarm</string>
	<key>abilityH</key>
	<string>Swarm</string>
	<key>altformIDs</key>
	<array>
		<integer>735</integer>
	</array>
	<key>attack</key>
	<integer>62</integer>
	<key>class</key>
	<string>Larva Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>Its strong jaw enables it to scrape trees and slurp out the sap. It normally lives underground.</string>
	<key>dex2</key>
	<string>They often gather near places frequented by electric Pokémon in order to avoid being attacked by bird Pokémon.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>418</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>418</integer>
		<integer>387</integer>
	</array>
	<key>forme</key>
	<string>Grubbin</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>47</integer>
	<key>id</key>
	<integer>735</integer>
	<key>ndex</key>
	<integer>736</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Grubbin</string>
	<key>speed</key>
	<integer>46</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>9.7 lbs.</string>
</dict>
</plist>
