<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>91</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Gas Pokémon</string>
	<key>defense</key>
	<integer>30</integer>
	<key>dex1</key>
	<string>Should a strange light be seen flickering in an abandoned building, Gastly is lurking there.</string>
	<key>dex2</key>
	<string>Although Gastly is barely visible, when it’s near, a faint sweet smell lingers.</string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>55</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>55</integer>
		<integer>56</integer>
	</array>
	<key>forme</key>
	<string>Gastly</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>30</integer>
	<key>id</key>
	<integer>91</integer>
	<key>ndex</key>
	<integer>92</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>100</integer>
	<key>spdefense</key>
	<integer>35</integer>
	<key>species</key>
	<string>Gastly</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>310</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>0.2 lbs.</string>
</dict>
</plist>
