<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Beast Boost</string>
	<key>ability2</key>
	<string>Beast Boost</string>
	<key>abilityH</key>
	<string>Beast Boost</string>
	<key>altformIDs</key>
	<array>
		<integer>798</integer>
	</array>
	<key>attack</key>
	<integer>101</integer>
	<key>class</key>
	<string>Junkivore Pokémon</string>
	<key>defense</key>
	<integer>53</integer>
	<key>dex1</key>
	<string>It has gobbled mountains and swallowed whole buildings, according to reports. It’s one of the Ultra Beasts.</string>
	<key>dex2</key>
	<string>A dangerous Ultra Beast, it appears to be eating constantly, but for some reason its droppings have never been found.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Guzzlord</string>
	<key>height</key>
	<string>18'01</string>
	<key>hp</key>
	<integer>223</integer>
	<key>id</key>
	<integer>798</integer>
	<key>ndex</key>
	<integer>799</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>97</integer>
	<key>spdefense</key>
	<integer>53</integer>
	<key>species</key>
	<string>Guzzlord</string>
	<key>speed</key>
	<integer>43</integer>
	<key>total</key>
	<integer>570</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>1957.7 lbs.</string>
</dict>
</plist>
