<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Vital spirit</string>
	<key>abilityH</key>
	<string>Steadfast</string>
	<key>altformIDs</key>
	<array>
		<integer>743</integer>
	</array>
	<key>attack</key>
	<integer>65</integer>
	<key>class</key>
	<string>Puppy Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string>It’s considered to be a good Pokémon for beginners because of its friendliness, but its disposition grows rougher as it grows up.</string>
	<key>dex2</key>
	<string>This Pokémon has lived with people since times long ago. It can sense when its Trainer is in the dumps and will stick close by its Trainer’s side.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>378</integer>
		<integer>379</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>378</integer>
		<integer>379</integer>
	</array>
	<key>forme</key>
	<string>Rockruff</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>743</integer>
	<key>ndex</key>
	<integer>744</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Rockruff</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>280</integer>
	<key>type1</key>
	<string>Rock</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>20.3 lbs.</string>
</dict>
</plist>
