<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Poison Point</string>
	<key>ability2</key>
	<string>Swarm</string>
	<key>abilityH</key>
	<string>Speed Boost</string>
	<key>altformIDs</key>
	<array>
		<integer>544</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Megapede Pokémon</string>
	<key>defense</key>
	<integer>89</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>273</integer>
		<integer>274</integer>
	</array>
	<key>forme</key>
	<string>Scolipede</string>
	<key>height</key>
	<string>8'02</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>544</integer>
	<key>ndex</key>
	<integer>545</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Whirlipede</string>
	<key>preEvolution</key>
	<integer>274</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>69</integer>
	<key>species</key>
	<string>Scolipede</string>
	<key>speed</key>
	<integer>112</integer>
	<key>total</key>
	<integer>485</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>442.0 lbs.</string>
</dict>
</plist>
