<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string>Leaf Guard</string>
	<key>abilityH</key>
	<string>Infiltrator</string>
	<key>altformIDs</key>
	<array>
		<integer>186</integer>
	</array>
	<key>attack</key>
	<integer>35</integer>
	<key>class</key>
	<string>Cottonweed Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string>Grass</string>
	<key>evolutionIDs</key>
	<array>
		<integer>104</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>104</integer>
		<integer>105</integer>
	</array>
	<key>forme</key>
	<string>Hoppip</string>
	<key>height</key>
	<string>1'04</string>
	<key>hp</key>
	<integer>35</integer>
	<key>id</key>
	<integer>186</integer>
	<key>ndex</key>
	<integer>187</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Hoppip</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>250</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>1.1 lbs.</string>
</dict>
</plist>
