<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pickup</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Sand Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>230</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Long Nose Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>123</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>123</integer>
	</array>
	<key>forme</key>
	<string>Phanpy</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>230</integer>
	<key>ndex</key>
	<integer>231</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Phanpy</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>330</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>73.9 lbs.</string>
</dict>
</plist>
