<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Rock Head</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Overcoat</string>
	<key>altformIDs</key>
	<array>
		<integer>371</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Endurance Pokémon</string>
	<key>defense</key>
	<integer>100</integer>
	<key>dex1</key>
	<string>The cells within its shell transform with explosive speed, preparing it for evolution.</string>
	<key>dex2</key>
	<string>They lurk deep within caves—motionless, neither eating nor drinking. Why they don’t die is not known.</string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>187</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>186</integer>
		<integer>187</integer>
	</array>
	<key>forme</key>
	<string>Shelgon</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>65</integer>
	<key>id</key>
	<integer>371</integer>
	<key>ndex</key>
	<integer>372</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Bagon</string>
	<key>preEvolution</key>
	<integer>186</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Shelgon</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>420</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>243.6 lbs.</string>
</dict>
</plist>
