<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pressure</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Infiltrator</string>
	<key>altformIDs</key>
	<array>
		<integer>441</integer>
	</array>
	<key>attack</key>
	<integer>92</integer>
	<key>class</key>
	<string>Forbidden Pokémon</string>
	<key>defense</key>
	<integer>108</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Spiritomb</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>441</integer>
	<key>ndex</key>
	<integer>442</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>92</integer>
	<key>spdefense</key>
	<integer>108</integer>
	<key>species</key>
	<string>Spiritomb</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>485</integer>
	<key>type1</key>
	<string>Ghost</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>238.1 lbs.</string>
</dict>
</plist>
