<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>603</integer>
	</array>
	<key>attack</key>
	<integer>115</integer>
	<key>class</key>
	<string>EleFish Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>306</integer>
		<integer>307</integer>
	</array>
	<key>forme</key>
	<string>Eelektross</string>
	<key>height</key>
	<string>6'11</string>
	<key>hp</key>
	<integer>85</integer>
	<key>id</key>
	<integer>603</integer>
	<key>ndex</key>
	<integer>604</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Eelektrik</string>
	<key>preEvolution</key>
	<integer>307</integer>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Eelektross</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>515</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>177.5 lbs.</string>
</dict>
</plist>
