<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string>Leaf Guard</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>464</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Vine Pokémon</string>
	<key>defense</key>
	<integer>125</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>235</integer>
	</array>
	<key>forme</key>
	<string>Tangrowth</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>100</integer>
	<key>id</key>
	<integer>464</integer>
	<key>ndex</key>
	<integer>465</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Tangela</string>
	<key>preEvolution</key>
	<integer>235</integer>
	<key>spattack</key>
	<integer>110</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Tangrowth</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>535</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>283.5 lbs.</string>
</dict>
</plist>
