<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string>Insomnia</string>
	<key>abilityH</key>
	<string>Sniper</string>
	<key>altformIDs</key>
	<array>
		<integer>167</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Long Leg Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string>There are some areas where people use the string Ariados spins for their own weaving. The resulting cloth is popular for its strength.</string>
	<key>dex2</key>
	<string>It spins thread from both its rear and its mouth. Then it wraps its prey up in thread and sips their bodily fluids at its leisure.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>92</integer>
	</array>
	<key>forme</key>
	<string>Ariados</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>167</integer>
	<key>ndex</key>
	<integer>168</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Spinarak</string>
	<key>preEvolution</key>
	<integer>92</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Ariados</string>
	<key>speed</key>
	<integer>40</integer>
	<key>total</key>
	<integer>400</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Poison</string>
	<key>weight</key>
	<string>73.9 lbs.</string>
</dict>
</plist>
