<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>343</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Clay Doll Pokémon</string>
	<key>defense</key>
	<integer>105</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>175</integer>
	</array>
	<key>forme</key>
	<string>Claydol</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>343</integer>
	<key>ndex</key>
	<integer>344</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Baltoy</string>
	<key>preEvolution</key>
	<integer>175</integer>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>120</integer>
	<key>species</key>
	<string>Claydol</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>238.1 lbs.</string>
</dict>
</plist>
