<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string>Moxie</string>
	<key>abilityH</key>
	<string>Anger Point</string>
	<key>altformIDs</key>
	<array>
		<integer>551</integer>
	</array>
	<key>attack</key>
	<integer>82</integer>
	<key>class</key>
	<string>Desert Croc Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>They move in groups of a few individuals. A female is often the leader of the group, and the males will gather food.</string>
	<key>dex2</key>
	<string>Thanks to the special membrane covering its eyes, it can see its surroundings clearly, even in the middle of the night.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>278</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>277</integer>
		<integer>278</integer>
	</array>
	<key>forme</key>
	<string>Krokorok</string>
	<key>height</key>
	<string>3'03</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>551</integer>
	<key>ndex</key>
	<integer>552</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Sandile</string>
	<key>preEvolution</key>
	<integer>277</integer>
	<key>spattack</key>
	<integer>45</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Krokorok</string>
	<key>speed</key>
	<integer>74</integer>
	<key>total</key>
	<integer>351</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Dark</string>
	<key>weight</key>
	<string>73.6 lbs.</string>
</dict>
</plist>
