<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Own Tempo</string>
	<key>ability2</key>
	<string>Tangled Feet</string>
	<key>abilityH</key>
	<string>Contrary</string>
	<key>altformIDs</key>
	<array>
		<integer>326</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Spot Panda Pokémon</string>
	<key>defense</key>
	<integer>60</integer>
	<key>dex1</key>
	<string>Its steps are staggering and unsteady, but Spinda thinks it’s walking in a straight line.</string>
	<key>dex2</key>
	<string>Each and every Spinda has a slightly different configuration of spots. There are collectors who enjoy the tiny differences in their spot patterns.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Human-Like</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Spinda</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>326</integer>
	<key>ndex</key>
	<integer>327</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Spinda</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>360</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>11.0 lbs.</string>
</dict>
</plist>
