<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sticky Hold</string>
	<key>ability2</key>
	<string>Storm Drain</string>
	<key>abilityH</key>
	<string>Sand Force</string>
	<key>altformIDs</key>
	<array>
		<integer>909</integer>
		<integer>422</integer>
	</array>
	<key>attack</key>
	<integer>83</integer>
	<key>class</key>
	<string>Sea Slug Pokémon</string>
	<key>defense</key>
	<integer>68</integer>
	<key>dex1</key>
	<string>A team of researchers is scouring the oceans of the world in search of a Gastrodon in a color never seen before.</string>
	<key>dex2</key>
	<string>Experiments are being conducted to discover what happens when a Gastrodon is raised in a location other than the sea where it was born.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Amorphous</string>
	<key>evolutionTree</key>
	<array>
		<integer>215</integer>
		<integer>214</integer>
	</array>
	<key>forme</key>
	<string>Gastrodon (East Sea)</string>
	<key>height</key>
	<string>2'11</string>
	<key>hp</key>
	<integer>111</integer>
	<key>id</key>
	<integer>909</integer>
	<key>ndex</key>
	<integer>423</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shellos (East Sea)</string>
	<key>preEvolution</key>
	<integer>215</integer>
	<key>spattack</key>
	<integer>92</integer>
	<key>spdefense</key>
	<integer>82</integer>
	<key>species</key>
	<string>Gastrodon</string>
	<key>speed</key>
	<integer>39</integer>
	<key>total</key>
	<integer>475</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>65.9 lbs.</string>
</dict>
</plist>
