<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Torrent</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Damp</string>
	<key>altformIDs</key>
	<array>
		<integer>259</integer>
		<integer>877</integer>
	</array>
	<key>attack</key>
	<integer>110</integer>
	<key>class</key>
	<string>Mud Fish Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string>Water 1</string>
	<key>evolutionTree</key>
	<array>
		<integer>133</integer>
		<integer>134</integer>
	</array>
	<key>forme</key>
	<string>Swampert</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>100</integer>
	<key>id</key>
	<integer>259</integer>
	<key>ndex</key>
	<integer>260</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string>Marshtomp</string>
	<key>preEvolution</key>
	<integer>134</integer>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Swampert</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>535</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>180.6 lbs.</string>
</dict>
</plist>
