<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swarm</string>
	<key>ability2</key>
	<string>Chlorophyll</string>
	<key>abilityH</key>
	<string>Overcoat</string>
	<key>altformIDs</key>
	<array>
		<integer>541</integer>
	</array>
	<key>attack</key>
	<integer>103</integer>
	<key>class</key>
	<string>Nurturing Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>271</integer>
		<integer>272</integer>
	</array>
	<key>forme</key>
	<string>Leavanny</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>541</integer>
	<key>ndex</key>
	<integer>542</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Swadloon</string>
	<key>preEvolution</key>
	<integer>272</integer>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Leavanny</string>
	<key>speed</key>
	<integer>92</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>45.2 lbs.</string>
</dict>
</plist>
