<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Guts</string>
	<key>ability2</key>
	<string>Sheer Force</string>
	<key>abilityH</key>
	<string>Iron Fist</string>
	<key>altformIDs</key>
	<array>
		<integer>533</integer>
	</array>
	<key>attack</key>
	<integer>140</integer>
	<key>class</key>
	<string>Muscular Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Human-Like</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>267</integer>
		<integer>268</integer>
	</array>
	<key>forme</key>
	<string>Conkeldurr</string>
	<key>height</key>
	<string>4'07</string>
	<key>hp</key>
	<integer>105</integer>
	<key>id</key>
	<integer>533</integer>
	<key>ndex</key>
	<integer>534</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string>Gurdurr</string>
	<key>preEvolution</key>
	<integer>268</integer>
	<key>spattack</key>
	<integer>55</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Conkeldurr</string>
	<key>speed</key>
	<integer>45</integer>
	<key>total</key>
	<integer>505</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>191.8 lbs.</string>
</dict>
</plist>
