<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sweet Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Unburden</string>
	<key>altformIDs</key>
	<array>
		<integer>684</integer>
	</array>
	<key>attack</key>
	<integer>80</integer>
	<key>class</key>
	<string>Meringue Pokémon</string>
	<key>defense</key>
	<integer>86</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>358</integer>
	</array>
	<key>forme</key>
	<string>Slurpuff</string>
	<key>height</key>
	<string>2'07</string>
	<key>hp</key>
	<integer>82</integer>
	<key>id</key>
	<integer>684</integer>
	<key>ndex</key>
	<integer>685</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Swirlix</string>
	<key>preEvolution</key>
	<integer>358</integer>
	<key>spattack</key>
	<integer>85</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Slurpuff</string>
	<key>speed</key>
	<integer>72</integer>
	<key>total</key>
	<integer>480</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>11.0 lbs.</string>
</dict>
</plist>
