<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string>Sap Sipper</string>
	<key>abilityH</key>
	<string>Serene Grace</string>
	<key>altformIDs</key>
	<array>
		<integer>947</integer>
		<integer>585</integer>
		<integer>945</integer>
		<integer>946</integer>
	</array>
	<key>attack</key>
	<integer>100</integer>
	<key>class</key>
	<string>Season Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>298</integer>
		<integer>295</integer>
		<integer>296</integer>
		<integer>297</integer>
	</array>
	<key>forme</key>
	<string>Sawsbuck (Winter Form)</string>
	<key>height</key>
	<string>6'03</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>947</integer>
	<key>ndex</key>
	<integer>586</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Deerling</string>
	<key>preEvolution</key>
	<integer>298</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>70</integer>
	<key>species</key>
	<string>Sawsbuck</string>
	<key>speed</key>
	<integer>95</integer>
	<key>total</key>
	<integer>475</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>203.9 lbs.</string>
</dict>
</plist>
