<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Pressure</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>902</integer>
		<integer>385</integer>
		<integer>900</integer>
		<integer>901</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>DNA Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Deoxys (Speed Forme)</string>
	<key>height</key>
	<string>5'07</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>902</integer>
	<key>ndex</key>
	<integer>386</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Deoxys</string>
	<key>speed</key>
	<integer>180</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>134.0 lbs.</string>
</dict>
</plist>
