<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Tough Claws</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>894</integer>
		<integer>375</integer>
	</array>
	<key>attack</key>
	<integer>145</integer>
	<key>class</key>
	<string>Iron Leg Pokémon</string>
	<key>defense</key>
	<integer>150</integer>
	<key>dex1</key>
	<string>This form results from one Metagross, one Metang, and two Beldum linking up.</string>
	<key>dex2</key>
	<string>Mega Evolution stimulated its brain. It emerged as a ruthless Pokémon that will clutch at any means of ensuring its victories.</string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Metagross (Mega Metagross)</string>
	<key>height</key>
	<string>8'02</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>894</integer>
	<key>ndex</key>
	<integer>376</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Metang</string>
	<key>spattack</key>
	<integer>105</integer>
	<key>spdefense</key>
	<integer>110</integer>
	<key>species</key>
	<string>Metagross</string>
	<key>speed</key>
	<integer>110</integer>
	<key>total</key>
	<integer>700</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>2078.7 lbs.</string>
</dict>
</plist>
