<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string>Heatproof</string>
	<key>abilityH</key>
	<string>Heavy Metal</string>
	<key>altformIDs</key>
	<array>
		<integer>435</integer>
	</array>
	<key>attack</key>
	<integer>24</integer>
	<key>class</key>
	<string>Bronze Pokémon</string>
	<key>defense</key>
	<integer>86</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>223</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>223</integer>
	</array>
	<key>forme</key>
	<string>Bronzor</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>57</integer>
	<key>id</key>
	<integer>435</integer>
	<key>ndex</key>
	<integer>436</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>24</integer>
	<key>spdefense</key>
	<integer>86</integer>
	<key>species</key>
	<string>Bronzor</string>
	<key>speed</key>
	<integer>23</integer>
	<key>total</key>
	<integer>300</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>133.4 lbs.</string>
</dict>
</plist>
