<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Harvest</string>
	<key>altformIDs</key>
	<array>
		<integer>102</integer>
		<integer>834</integer>
	</array>
	<key>attack</key>
	<integer>95</integer>
	<key>class</key>
	<string>Coconut Pokémon</string>
	<key>defense</key>
	<integer>85</integer>
	<key>dex1</key>
	<string>Each of its heads has its own will. They use telepathy to discuss their plans before coming to a joint decision.</string>
	<key>dex2</key>
	<string>When the time comes, one of its three heads falls off. Before long, the fallen head grows into an Exeggcute.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>60</integer>
	</array>
	<key>forme</key>
	<string>Exeggutor</string>
	<key>height</key>
	<string>6'07</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>102</integer>
	<key>ndex</key>
	<integer>103</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Exeggcute</string>
	<key>preEvolution</key>
	<integer>60</integer>
	<key>spattack</key>
	<integer>125</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Exeggutor</string>
	<key>speed</key>
	<integer>55</integer>
	<key>total</key>
	<integer>530</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string>Psychic</string>
	<key>weight</key>
	<string>264.6 lbs.</string>
</dict>
</plist>
