<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>614</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Crystallizing Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Cryogonal</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>614</integer>
	<key>ndex</key>
	<integer>615</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>95</integer>
	<key>spdefense</key>
	<integer>135</integer>
	<key>species</key>
	<string>Cryogonal</string>
	<key>speed</key>
	<integer>105</integer>
	<key>total</key>
	<integer>515</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>326.3 lbs.</string>
</dict>
</plist>
