<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Keen Eye</string>
	<key>ability2</key>
	<string>Skill Link</string>
	<key>abilityH</key>
	<string>Pickup</string>
	<key>altformIDs</key>
	<array>
		<integer>731</integer>
	</array>
	<key>attack</key>
	<integer>85</integer>
	<key>class</key>
	<string>Bugle Beak Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string>It eats berries and stores their seeds in its beak. When it encounters enemies or prey, it fires off all the seeds in a burst.</string>
	<key>dex2</key>
	<string>By bending its beak, it can produce a variety of calls and brand itself a noisy nuisance for its neighbors.</string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>396</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>395</integer>
		<integer>396</integer>
	</array>
	<key>forme</key>
	<string>Trumbeak</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>55</integer>
	<key>id</key>
	<integer>731</integer>
	<key>ndex</key>
	<integer>732</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Pipipek</string>
	<key>preEvolution</key>
	<integer>395</integer>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Trumbeak</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>355</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>32.6 lbs.</string>
</dict>
</plist>
