<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Shadow Tag</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Telepathy</string>
	<key>altformIDs</key>
	<array>
		<integer>201</integer>
	</array>
	<key>attack</key>
	<integer>33</integer>
	<key>class</key>
	<string>Patient Pokémon</string>
	<key>defense</key>
	<integer>58</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Amorphous</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>111</integer>
	</array>
	<key>forme</key>
	<string>Wobbuffet</string>
	<key>height</key>
	<string>4'03</string>
	<key>hp</key>
	<integer>190</integer>
	<key>id</key>
	<integer>201</integer>
	<key>ndex</key>
	<integer>202</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Wynaut</string>
	<key>preEvolution</key>
	<integer>111</integer>
	<key>spattack</key>
	<integer>33</integer>
	<key>spdefense</key>
	<integer>58</integer>
	<key>species</key>
	<string>Wobbuffet</string>
	<key>speed</key>
	<integer>33</integer>
	<key>total</key>
	<integer>405</integer>
	<key>type1</key>
	<string>Psychic</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>62.8 lbs.</string>
</dict>
</plist>
