<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Swift Swim</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Hydration</string>
	<key>altformIDs</key>
	<array>
		<integer>369</integer>
	</array>
	<key>attack</key>
	<integer>30</integer>
	<key>class</key>
	<string>Rendezvous Pokémon</string>
	<key>defense</key>
	<integer>55</integer>
	<key>dex1</key>
	<string>If a Luvdisc is left on its own, it becomes despondent, leaving itself open to attack. That is when Pelipper snatch them up.</string>
	<key>dex2</key>
	<string>Loving couples have a soft spot for this Pokémon, so honeymoon hotels often release this Pokémon into their pools.</string>
	<key>egg-group1</key>
	<string>Water 2</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Luvdisc</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>43</integer>
	<key>id</key>
	<integer>369</integer>
	<key>ndex</key>
	<integer>370</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>65</integer>
	<key>species</key>
	<string>Luvdisc</string>
	<key>speed</key>
	<integer>97</integer>
	<key>total</key>
	<integer>330</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>19.2 lbs.</string>
</dict>
</plist>
