<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flower Veil</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Symbiosis</string>
	<key>altformIDs</key>
	<array>
		<integer>669</integer>
		<integer>984</integer>
		<integer>985</integer>
		<integer>986</integer>
		<integer>987</integer>
		<integer>988</integer>
	</array>
	<key>attack</key>
	<integer>45</integer>
	<key>class</key>
	<string>Single Bloom Pokémon</string>
	<key>defense</key>
	<integer>47</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>355</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>350</integer>
		<integer>355</integer>
		<integer>346</integer>
		<integer>351</integer>
		<integer>347</integer>
		<integer>352</integer>
		<integer>348</integer>
		<integer>353</integer>
		<integer>349</integer>
		<integer>354</integer>
	</array>
	<key>forme</key>
	<string>Floette (White Flower)</string>
	<key>height</key>
	<string>0'08</string>
	<key>hp</key>
	<integer>54</integer>
	<key>id</key>
	<integer>987</integer>
	<key>ndex</key>
	<integer>670</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Flabébé</string>
	<key>preEvolution</key>
	<integer>350</integer>
	<key>spattack</key>
	<integer>75</integer>
	<key>spdefense</key>
	<integer>98</integer>
	<key>species</key>
	<string>Floette</string>
	<key>speed</key>
	<integer>52</integer>
	<key>total</key>
	<integer>371</integer>
	<key>type1</key>
	<string>Fairy</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>2.0 lbs.</string>
</dict>
</plist>
