<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Refrigerate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>361</integer>
		<integer>892</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Face Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>The excess energy from Mega Evolution spilled over from its mouth, breaking its jaw. It spews endless blizzards.</string>
	<key>dex2</key>
	<string>It envelops prey in its mouth, freezing them instantly. But its jaw is dislocated, so it’s unable to eat them.</string>
	<key>egg-group1</key>
	<string>Fairy</string>
	<key>egg-group2</key>
	<string>Mineral</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Glalie (Mega Glalie)</string>
	<key>height</key>
	<string>6'11</string>
	<key>hp</key>
	<integer>80</integer>
	<key>id</key>
	<integer>892</integer>
	<key>ndex</key>
	<integer>362</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Snorunt</string>
	<key>spattack</key>
	<integer>120</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Glalie</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>580</integer>
	<key>type1</key>
	<string>Ice</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>772.1 lbs.</string>
</dict>
</plist>
