<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Chlorophyll</string>
	<key>ability2</key>
	<string>Sap Sipper</string>
	<key>abilityH</key>
	<string>Serene Grace</string>
	<key>altformIDs</key>
	<array>
		<integer>584</integer>
		<integer>942</integer>
		<integer>943</integer>
		<integer>944</integer>
	</array>
	<key>attack</key>
	<integer>60</integer>
	<key>class</key>
	<string>Season Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>296</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>296</integer>
		<integer>295</integer>
		<integer>297</integer>
		<integer>298</integer>
	</array>
	<key>forme</key>
	<string>Deerling (Summer Form)</string>
	<key>height</key>
	<string>2'00</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>942</integer>
	<key>ndex</key>
	<integer>585</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Deerling</string>
	<key>speed</key>
	<integer>75</integer>
	<key>total</key>
	<integer>335</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string>Grass</string>
	<key>weight</key>
	<string>43.0 lbs.</string>
</dict>
</plist>
