<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>634</integer>
	</array>
	<key>attack</key>
	<integer>105</integer>
	<key>class</key>
	<string>Brutal Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>320</integer>
		<integer>321</integer>
	</array>
	<key>forme</key>
	<string>Hydreigon</string>
	<key>height</key>
	<string>5'11</string>
	<key>hp</key>
	<integer>92</integer>
	<key>id</key>
	<integer>634</integer>
	<key>ndex</key>
	<integer>635</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Zweilous</string>
	<key>preEvolution</key>
	<integer>321</integer>
	<key>spattack</key>
	<integer>125</integer>
	<key>spdefense</key>
	<integer>90</integer>
	<key>species</key>
	<string>Hydreigon</string>
	<key>speed</key>
	<integer>98</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>352.7 lbs.</string>
</dict>
</plist>
