<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Own Tempo</string>
	<key>ability2</key>
	<string>Oblivious</string>
	<key>abilityH</key>
	<string>Cloud Nine</string>
	<key>altformIDs</key>
	<array>
		<integer>107</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Licking Pokémon</string>
	<key>defense</key>
	<integer>75</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>233</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>233</integer>
	</array>
	<key>forme</key>
	<string>Lickitung</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>90</integer>
	<key>id</key>
	<integer>107</integer>
	<key>ndex</key>
	<integer>108</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>75</integer>
	<key>species</key>
	<string>Lickitung</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>385</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>144.4 lbs.</string>
</dict>
</plist>
