<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sturdy</string>
	<key>ability2</key>
	<string>Rock Head</string>
	<key>abilityH</key>
	<string>Heavy Metal</string>
	<key>altformIDs</key>
	<array>
		<integer>305</integer>
		<integer>881</integer>
	</array>
	<key>attack</key>
	<integer>110</integer>
	<key>class</key>
	<string>Iron Armor Pokémon</string>
	<key>defense</key>
	<integer>180</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Monster</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>159</integer>
		<integer>160</integer>
	</array>
	<key>forme</key>
	<string>Aggron</string>
	<key>height</key>
	<string>6'11</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>305</integer>
	<key>ndex</key>
	<integer>306</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Lairon</string>
	<key>preEvolution</key>
	<integer>160</integer>
	<key>spattack</key>
	<integer>60</integer>
	<key>spdefense</key>
	<integer>60</integer>
	<key>species</key>
	<string>Aggron</string>
	<key>speed</key>
	<integer>50</integer>
	<key>total</key>
	<integer>530</integer>
	<key>type1</key>
	<string>Steel</string>
	<key>type2</key>
	<string>Rock</string>
	<key>weight</key>
	<string>793.7 lbs.</string>
</dict>
</plist>
