<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Solid Rock</string>
	<key>ability2</key>
	<string>Sturdy</string>
	<key>abilityH</key>
	<string>Swift Swim</string>
	<key>altformIDs</key>
	<array>
		<integer>563</integer>
	</array>
	<key>attack</key>
	<integer>78</integer>
	<key>class</key>
	<string>Prototurtle Pokémon</string>
	<key>defense</key>
	<integer>103</integer>
	<key>dex1</key>
	<string>Based on studies of its skeletal structure, it can apparently dive to ocean depths of over half a mile.</string>
	<key>dex2</key>
	<string>Reputed to be the ancestor of most turtle Pokémon, it lived in warm seas approximately a hundred million years ago.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Water 3</string>
	<key>evolutionIDs</key>
	<array>
		<integer>283</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>283</integer>
	</array>
	<key>forme</key>
	<string>Tirtouga</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>54</integer>
	<key>id</key>
	<integer>563</integer>
	<key>ndex</key>
	<integer>564</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>53</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Tirtouga</string>
	<key>speed</key>
	<integer>22</integer>
	<key>total</key>
	<integer>355</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string>Rock</string>
	<key>weight</key>
	<string>36.4 lbs.</string>
</dict>
</plist>
