<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Schooling</string>
	<key>ability2</key>
	<string>Schooling</string>
	<key>abilityH</key>
	<string>Schooling</string>
	<key>altformIDs</key>
	<array>
		<integer>1023</integer>
		<integer>745</integer>
	</array>
	<key>attack</key>
	<integer>140</integer>
	<key>class</key>
	<string>Small Fry Pokémon</string>
	<key>defense</key>
	<integer>130</integer>
	<key>dex1</key>
	<string>Weak Wishiwashi school together to concentrate their power. Their united force makes them the demon of the sea, feared near and far.</string>
	<key>dex2</key>
	<string>At their appearance, even Gyarados will flee. When they team up to use Water Gun, its power exceeds that of Hydro Pump.</string>
	<key>egg-group1</key>
	<string>Water 2</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Wishiwashi (School Form)</string>
	<key>height</key>
	<string>26'11</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>1023</integer>
	<key>ndex</key>
	<integer>746</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>140</integer>
	<key>spdefense</key>
	<integer>135</integer>
	<key>species</key>
	<string>Wishiwashi</string>
	<key>speed</key>
	<integer>30</integer>
	<key>total</key>
	<integer>620</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>173.3 lbs.</string>
</dict>
</plist>
