<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Water Veil</string>
	<key>ability2</key>
	<string>Oblivious</string>
	<key>abilityH</key>
	<string>Pressure</string>
	<key>altformIDs</key>
	<array>
		<integer>320</integer>
	</array>
	<key>attack</key>
	<integer>90</integer>
	<key>class</key>
	<string>Float Whale Pokémon</string>
	<key>defense</key>
	<integer>45</integer>
	<key>dex1</key>
	<string>Wailord pursue their prey in pods. With their large mouths, they can swallow entire schools of Wishiwashi whole.</string>
	<key>dex2</key>
	<string>Its immense size is the reason for its popularity. Wailord watching is a favorite sightseeing activity in various parts of the world.</string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string>Water 2</string>
	<key>evolutionTree</key>
	<array>
		<integer>166</integer>
	</array>
	<key>forme</key>
	<string>Wailord</string>
	<key>height</key>
	<string>47'07</string>
	<key>hp</key>
	<integer>170</integer>
	<key>id</key>
	<integer>320</integer>
	<key>ndex</key>
	<integer>321</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Wailmer</string>
	<key>preEvolution</key>
	<integer>166</integer>
	<key>spattack</key>
	<integer>90</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Wailord</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>500</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>877.4 lbs.</string>
</dict>
</plist>
