<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Levitate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>328</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Vibration Pokémon</string>
	<key>defense</key>
	<integer>50</integer>
	<key>dex1</key>
	<string>Rather than using its underdeveloped wings for flight, it rubs them together, producing ultrasonic waves to attack its enemies.</string>
	<key>dex2</key>
	<string>To help make its wings grow, it dissolves quantities of prey in its digestive juices and guzzles them down every day.</string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>170</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>169</integer>
		<integer>170</integer>
	</array>
	<key>forme</key>
	<string>Vibrava</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>328</integer>
	<key>ndex</key>
	<integer>329</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Trapinch</string>
	<key>preEvolution</key>
	<integer>169</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>50</integer>
	<key>species</key>
	<string>Vibrava</string>
	<key>speed</key>
	<integer>70</integer>
	<key>total</key>
	<integer>340</integer>
	<key>type1</key>
	<string>Ground</string>
	<key>type2</key>
	<string>Dragon</string>
	<key>weight</key>
	<string>33.7 lbs.</string>
</dict>
</plist>
