<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Run Away</string>
	<key>ability2</key>
	<string>Quick Feet</string>
	<key>abilityH</key>
	<string>Rattled</string>
	<key>altformIDs</key>
	<array>
		<integer>260</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Bite Pokémon</string>
	<key>defense</key>
	<integer>35</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>135</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>135</integer>
	</array>
	<key>forme</key>
	<string>Poochyena</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>35</integer>
	<key>id</key>
	<integer>260</integer>
	<key>ndex</key>
	<integer>261</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>30</integer>
	<key>spdefense</key>
	<integer>30</integer>
	<key>species</key>
	<string>Poochyena</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>220</integer>
	<key>type1</key>
	<string>Dark</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>30.0 lbs.</string>
</dict>
</plist>
