<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Intimidate</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Moxie</string>
	<key>altformIDs</key>
	<array>
		<integer>372</integer>
		<integer>893</integer>
	</array>
	<key>attack</key>
	<integer>135</integer>
	<key>class</key>
	<string>Dragon Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>When angered, it loses all sense of itself and destroys everything around it. The destruction will continue until Salamence has tired itself out.</string>
	<key>dex2</key>
	<string>It flies around on its wings, which have grown in at last. In its happiness, it gushes hot flames, burning up the fields it passes over.</string>
	<key>egg-group1</key>
	<string>Dragon</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>186</integer>
		<integer>187</integer>
	</array>
	<key>forme</key>
	<string>Salamence</string>
	<key>height</key>
	<string>4'11</string>
	<key>hp</key>
	<integer>95</integer>
	<key>id</key>
	<integer>372</integer>
	<key>ndex</key>
	<integer>373</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Shelgon</string>
	<key>preEvolution</key>
	<integer>187</integer>
	<key>spattack</key>
	<integer>110</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Salamence</string>
	<key>speed</key>
	<integer>100</integer>
	<key>total</key>
	<integer>600</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>226.2 lbs.</string>
</dict>
</plist>
