<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Leaf Guard</string>
	<key>ability2</key>
	<string>Queenly Majesty</string>
	<key>abilityH</key>
	<string>Sweet Veil</string>
	<key>altformIDs</key>
	<array>
		<integer>762</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Fruit Pokémon</string>
	<key>defense</key>
	<integer>98</integer>
	<key>dex1</key>
	<string>Its long, striking legs aren’t just for show but to be used to kick with skill. In victory, it shows off by kicking the defeated, laughing boisterously.</string>
	<key>dex2</key>
	<string>A Pokémon known for the beauty of its well-shaped legs, it sometimes appears as a mascot in advertisements for beauty salons.</string>
	<key>egg-group1</key>
	<string>Grass</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>404</integer>
		<integer>384</integer>
		<integer>405</integer>
	</array>
	<key>forme</key>
	<string>Tsareena</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>72</integer>
	<key>id</key>
	<integer>762</integer>
	<key>ndex</key>
	<integer>763</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Steenee</string>
	<key>preEvolution</key>
	<integer>405</integer>
	<key>spattack</key>
	<integer>50</integer>
	<key>spdefense</key>
	<integer>98</integer>
	<key>species</key>
	<string>Tsareena</string>
	<key>speed</key>
	<integer>72</integer>
	<key>total</key>
	<integer>510</integer>
	<key>type1</key>
	<string>Grass</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>47.2 lbs.</string>
</dict>
</plist>
