<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Flame Body</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Vital Spirit</string>
	<key>altformIDs</key>
	<array>
		<integer>239</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Live Coal Pokémon</string>
	<key>defense</key>
	<integer>37</integer>
	<key>dex1</key>
	<string>Many of these Pokémon can be seen in areas with volcanic activity. Feeding can get them so excited, they exhale flames of 1,100 degrees F.</string>
	<key>dex2</key>
	<string>A famous potter lives with a Magby. Apparently its soft flames produce fine works.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>73</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>73</integer>
		<integer>237</integer>
	</array>
	<key>forme</key>
	<string>Magby</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>45</integer>
	<key>id</key>
	<integer>239</integer>
	<key>ndex</key>
	<integer>240</integer>
	<key>percent-female</key>
	<real>0.25</real>
	<key>percent-male</key>
	<real>0.75</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>55</integer>
	<key>species</key>
	<string>Magby</string>
	<key>speed</key>
	<integer>83</integer>
	<key>total</key>
	<integer>365</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>47.2 lbs.</string>
</dict>
</plist>
