<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Merciless</string>
	<key>ability2</key>
	<string>Limber</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>747</integer>
	</array>
	<key>attack</key>
	<integer>63</integer>
	<key>class</key>
	<string>Brutal Star Pokémon</string>
	<key>defense</key>
	<integer>152</integer>
	<key>dex1</key>
	<string>Toxapex crawls along the ocean floor on its 12 legs. It leaves a trail of Corsola bits scattered in its wake.</string>
	<key>dex2</key>
	<string>Those attacked by Toxapex’s poison will suffer intense pain for three days and three nights. Post-recovery, there will be some aftereffects.</string>
	<key>egg-group1</key>
	<string>Water 2</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>398</integer>
	</array>
	<key>forme</key>
	<string>Toxapex</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>50</integer>
	<key>id</key>
	<integer>747</integer>
	<key>ndex</key>
	<integer>748</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Mareanie</string>
	<key>preEvolution</key>
	<integer>398</integer>
	<key>spattack</key>
	<integer>53</integer>
	<key>spdefense</key>
	<integer>142</integer>
	<key>species</key>
	<string>Toxapex</string>
	<key>speed</key>
	<integer>35</integer>
	<key>total</key>
	<integer>495</integer>
	<key>type1</key>
	<string>Poison</string>
	<key>type2</key>
	<string>Water</string>
	<key>weight</key>
	<string>32.0 lbs.</string>
</dict>
</plist>
