<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Anticipation</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Overcoat</string>
	<key>altformIDs</key>
	<array>
		<integer>906</integer>
		<integer>412</integer>
		<integer>905</integer>
	</array>
	<key>attack</key>
	<integer>69</integer>
	<key>class</key>
	<string>Bagworm Pokémon</string>
	<key>defense</key>
	<integer>95</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Bug</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>209</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>207</integer>
		<integer>209</integer>
		<integer>210</integer>
		<integer>205</integer>
		<integer>208</integer>
		<integer>206</integer>
	</array>
	<key>forme</key>
	<string>Wormadam (Trash Cloak)</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>906</integer>
	<key>ndex</key>
	<integer>413</integer>
	<key>percent-female</key>
	<integer>1</integer>
	<key>percent-male</key>
	<integer>0</integer>
	<key>pre-evolution</key>
	<string>Burmy</string>
	<key>preEvolution</key>
	<integer>207</integer>
	<key>spattack</key>
	<integer>69</integer>
	<key>spdefense</key>
	<integer>95</integer>
	<key>species</key>
	<string>Wormadam</string>
	<key>speed</key>
	<integer>36</integer>
	<key>total</key>
	<integer>424</integer>
	<key>type1</key>
	<string>Bug</string>
	<key>type2</key>
	<string>Steel</string>
	<key>weight</key>
	<string>14.3 lbs.</string>
</dict>
</plist>
