<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Healer</string>
	<key>ability2</key>
	<string>Hydration</string>
	<key>abilityH</key>
	<string>Regenerator</string>
	<key>altformIDs</key>
	<array>
		<integer>593</integer>
	</array>
	<key>attack</key>
	<integer>75</integer>
	<key>class</key>
	<string>Caring Pokémon</string>
	<key>defense</key>
	<integer>80</integer>
	<key>dex1</key>
	<string>It uses its special mucus to close the wounds of injured Pokémon. The reason for this behavior remains unknown.</string>
	<key>dex2</key>
	<string>They float upon the open sea. Many water Pokémon gather in the area around Alomomola.</string>
	<key>egg-group1</key>
	<string>Water 1</string>
	<key>egg-group2</key>
	<string>Water 2</string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Alomomola</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>165</integer>
	<key>id</key>
	<integer>593</integer>
	<key>ndex</key>
	<integer>594</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>40</integer>
	<key>spdefense</key>
	<integer>45</integer>
	<key>species</key>
	<string>Alomomola</string>
	<key>speed</key>
	<integer>65</integer>
	<key>total</key>
	<integer>470</integer>
	<key>type1</key>
	<string>Water</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>69.7 lbs.</string>
</dict>
</plist>
