<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Sheer Force</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string></string>
	<key>altformIDs</key>
	<array>
		<integer>885</integer>
		<integer>322</integer>
	</array>
	<key>attack</key>
	<integer>120</integer>
	<key>class</key>
	<string>Eruption Pokémon</string>
	<key>defense</key>
	<integer>100</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array/>
	<key>forme</key>
	<string>Camerupt (Mega Camerupt)</string>
	<key>height</key>
	<string>8'02</string>
	<key>hp</key>
	<integer>70</integer>
	<key>id</key>
	<integer>885</integer>
	<key>ndex</key>
	<integer>323</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Numel</string>
	<key>spattack</key>
	<integer>145</integer>
	<key>spdefense</key>
	<integer>105</integer>
	<key>species</key>
	<string>Camerupt</string>
	<key>speed</key>
	<integer>20</integer>
	<key>total</key>
	<integer>560</integer>
	<key>type1</key>
	<string>Fire</string>
	<key>type2</key>
	<string>Ground</string>
	<key>weight</key>
	<string>706.6 lbs.</string>
</dict>
</plist>
