<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Soundproof</string>
	<key>ability2</key>
	<string>Static</string>
	<key>abilityH</key>
	<string>Aftermath</string>
	<key>altformIDs</key>
	<array>
		<integer>100</integer>
	</array>
	<key>attack</key>
	<integer>50</integer>
	<key>class</key>
	<string>Ball Pokémon</string>
	<key>defense</key>
	<integer>70</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Mineral</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionTree</key>
	<array>
		<integer>59</integer>
	</array>
	<key>forme</key>
	<string>Electrode</string>
	<key>height</key>
	<string>3'11</string>
	<key>hp</key>
	<integer>60</integer>
	<key>id</key>
	<integer>100</integer>
	<key>ndex</key>
	<integer>101</integer>
	<key>percent-female</key>
	<string></string>
	<key>percent-male</key>
	<string></string>
	<key>pre-evolution</key>
	<string>Voltorb</string>
	<key>preEvolution</key>
	<integer>59</integer>
	<key>spattack</key>
	<integer>80</integer>
	<key>spdefense</key>
	<integer>80</integer>
	<key>species</key>
	<string>Electrode</string>
	<key>speed</key>
	<integer>150</integer>
	<key>total</key>
	<integer>490</integer>
	<key>type1</key>
	<string>Electric</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>146.8 lbs.</string>
</dict>
</plist>
