<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Steadfast</string>
	<key>ability2</key>
	<string>Inner Focus</string>
	<key>abilityH</key>
	<string>Prankster</string>
	<key>altformIDs</key>
	<array>
		<integer>446</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Emanation Pokémon</string>
	<key>defense</key>
	<integer>40</integer>
	<key>dex1</key>
	<string>It can discern the physical and emotional states of people, Pokémon, and other natural things from the shape of their aura waves.</string>
	<key>dex2</key>
	<string>It’s tough enough to run right through the night, and it’s also a hard worker, but it’s still just a youngster.</string>
	<key>egg-group1</key>
	<string>Undiscovered</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>226</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>226</integer>
	</array>
	<key>forme</key>
	<string>Riolu</string>
	<key>height</key>
	<string>2'04</string>
	<key>hp</key>
	<integer>40</integer>
	<key>id</key>
	<integer>446</integer>
	<key>ndex</key>
	<integer>447</integer>
	<key>percent-female</key>
	<real>0.125</real>
	<key>percent-male</key>
	<real>0.875</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>35</integer>
	<key>spdefense</key>
	<integer>40</integer>
	<key>species</key>
	<string>Riolu</string>
	<key>speed</key>
	<integer>60</integer>
	<key>total</key>
	<integer>285</integer>
	<key>type1</key>
	<string>Fighting</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>44.5 lbs.</string>
</dict>
</plist>
