<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Natural Cure</string>
	<key>ability2</key>
	<string></string>
	<key>abilityH</key>
	<string>Cloud Nine</string>
	<key>altformIDs</key>
	<array>
		<integer>333</integer>
		<integer>886</integer>
	</array>
	<key>attack</key>
	<integer>70</integer>
	<key>class</key>
	<string>Humming Pokémon</string>
	<key>defense</key>
	<integer>90</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Flying</string>
	<key>egg-group2</key>
	<string>Dragon</string>
	<key>evolutionTree</key>
	<array>
		<integer>172</integer>
	</array>
	<key>forme</key>
	<string>Altaria</string>
	<key>height</key>
	<string>3'07</string>
	<key>hp</key>
	<integer>75</integer>
	<key>id</key>
	<integer>333</integer>
	<key>ndex</key>
	<integer>334</integer>
	<key>percent-female</key>
	<real>0.5</real>
	<key>percent-male</key>
	<real>0.5</real>
	<key>pre-evolution</key>
	<string>Swablu</string>
	<key>preEvolution</key>
	<integer>172</integer>
	<key>spattack</key>
	<integer>70</integer>
	<key>spdefense</key>
	<integer>105</integer>
	<key>species</key>
	<string>Altaria</string>
	<key>speed</key>
	<integer>80</integer>
	<key>total</key>
	<integer>490</integer>
	<key>type1</key>
	<string>Dragon</string>
	<key>type2</key>
	<string>Flying</string>
	<key>weight</key>
	<string>45.4 lbs.</string>
</dict>
</plist>
