<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ability1</key>
	<string>Limber</string>
	<key>ability2</key>
	<string>Own Tempo</string>
	<key>abilityH</key>
	<string>Keen Eye</string>
	<key>altformIDs</key>
	<array>
		<integer>430</integer>
	</array>
	<key>attack</key>
	<integer>55</integer>
	<key>class</key>
	<string>Catty Pokémon</string>
	<key>defense</key>
	<integer>42</integer>
	<key>dex1</key>
	<string></string>
	<key>dex2</key>
	<string></string>
	<key>egg-group1</key>
	<string>Field</string>
	<key>egg-group2</key>
	<string></string>
	<key>evolutionIDs</key>
	<array>
		<integer>221</integer>
	</array>
	<key>evolutionTree</key>
	<array>
		<integer>221</integer>
	</array>
	<key>forme</key>
	<string>Glameow</string>
	<key>height</key>
	<string>1'08</string>
	<key>hp</key>
	<integer>49</integer>
	<key>id</key>
	<integer>430</integer>
	<key>ndex</key>
	<integer>431</integer>
	<key>percent-female</key>
	<real>0.75</real>
	<key>percent-male</key>
	<real>0.25</real>
	<key>pre-evolution</key>
	<string></string>
	<key>spattack</key>
	<integer>42</integer>
	<key>spdefense</key>
	<integer>37</integer>
	<key>species</key>
	<string>Glameow</string>
	<key>speed</key>
	<integer>85</integer>
	<key>total</key>
	<integer>310</integer>
	<key>type1</key>
	<string>Normal</string>
	<key>type2</key>
	<string></string>
	<key>weight</key>
	<string>8.6 lbs.</string>
</dict>
</plist>
